Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

badge notification (#1286)
  activity_stats/astats.go
  activity_stats/handler.go
  cmd/refresh/refresh.go
  event/event.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  secrets/dev/activitystats-env.yaml
  secrets/prod/activitystats-env.yaml
  server/handler.go
  server/server.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
  tokenprocessing/tokenprocessing.go
Labels: schema

better join
  activity_stats/astats.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

rasterize improve
  cmd/refresh/refresh.go
  rasterizer/index.js
Labels: none

Fix feedbot markdown
  feedbot/server.go
Labels: none

don't error out for creator sync
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/multichain/multichain.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: query

don't error out for creator sync (#1291)
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/multichain/multichain.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: query

order by row number
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

order by row number (#1292)
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

reduce total frames
  package.json
  rasterizer/index.js
Labels: none

subselect
  cmd/refresh/refresh.go
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/multichain/zora/zora.go
Labels: query

subselect (#1294)
  cmd/refresh/refresh.go
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/multichain/zora/zora.go
Labels: query

merge issue
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

merge issue (#1295)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

join users
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

refresh merge
  cmd/refresh/refresh.go
Labels: none

Benny/activity stats (#1283)
  .dockerignore
  Makefile
  activity_stats/astats.go
  activity_stats/handler.go
  cmd/activity_stats/main.go
  cmd/refresh/refresh.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  docker/activitystats/Dockerfile
  event/event.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  package.json
  rasterizer/index.js
  secrets/dev/activitystats-env.yaml
  secrets/dev/local/app-dev-activitystats.yaml
  secrets/dev/makevars.yaml
  secrets/prod/activitystats-env.yaml
  secrets/prod/makevars.yaml
  server/handler.go
  server/server.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
  service/persist/user.go
  tokenprocessing/tokenprocessing.go
Labels: query, schema

Change handler to token grouped handler
  service/notifications/notifications.go
Labels: none

Change handler to token grouped handler (#1296)
  service/notifications/notifications.go
Labels: none

Exclude banned users
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/queries/core/query.sql
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

Update ban mutations
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000125_update_feed_blocklist.up.sql
  db/queries/core/query.sql
  feed/event.go
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  service/persist/postgres/feed_blocklist.go
Labels: migration, query, schema

Add block and report mutations
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000126_add_reported_posts.up.sql
  db/migrations/core/000127_add_user_blocklist.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/interaction.go
  publicapi/user.go
Labels: migration, query, schema

Add reason enum
  db/gen/coredb/query.sql.go
  db/migrations/core/000125_update_feed_blocklist.up.sql
  db/migrations/core/000127_add_user_blocklist.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  publicapi/user.go
  service/persist/feed.go
Labels: migration, query, schema

Change global ban reason to enum
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  gqlgen.yml
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/interaction.go
  service/persist/feed.go
  sqlc.yaml
Labels: schema

Add contstaint to reported_posts
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000126_add_reported_posts.up.sql
  db/queries/core/query.sql
Labels: migration, query

Increment migration numbers
  db/migrations/core/000126_update_feed_blocklist.up.sql
  db/migrations/core/000127_add_reported_posts.up.sql
  db/migrations/core/000128_add_user_blocklist.up.sql
Labels: migration

Format schema
  graphql/schema/schema.graphql
Labels: schema

top member name
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Update notifications.go
  service/notifications/notifications.go
Labels: none

[GAL-4771] Add global mute to feed (#1285)
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/migrations/core/000126_update_feed_blocklist.up.sql
  db/migrations/core/000127_add_reported_posts.up.sql
  db/migrations/core/000128_add_user_blocklist.up.sql
  db/queries/core/query.sql
  db/queries/core/recommend.sql
  feed/event.go
  gqlgen.yml
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/user.go
  service/persist/feed.go
  service/persist/postgres/feed_blocklist.go
  sqlc.yaml
Labels: migration, query, schema

match count to query
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

match count to query (#1297)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

Handle viewerID in feed
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/queries/core/query.sql
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

Handle viewerID in feed (#1298)
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/queries/core/query.sql
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

Handle nil pointer dereference
  graphql/resolver/schema.resolvers.go
Labels: none

Handle nil pointer dereference (#1299)
  graphql/resolver/schema.resolvers.go
Labels: none

Cleanup IPFS pipeline
  service/media/media.go
  service/rpc/ipfs/ipfs.go
  service/rpc/rpc.go
Labels: none

get contracts by owner and preview fxhash/objkt grouping
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  util/helpers.go
Labels: none

Cleanup IPFS pipeline (#1300)
  service/media/media.go
  service/rpc/ipfs/ipfs.go
  service/rpc/rpc.go
Labels: none

wire gen
  server/inject.go
  server/wire_gen.go
  service/multichain/fallback.go
Labels: none

Refactor admires
  db/gen/coredb/admire.sql.go
  db/queries/core/admire.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  server/server.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/postgres/admire.go
Labels: query, schema
