Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

fetch social following for farcaster (#1396)
  autosocial/autosocial.go
  cmd/farcaster_backfill/connections/main.go
  cmd/farcaster_backfill/initial/main.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/publicapi.go
  publicapi/socials.go
  server/handler.go
  server/server.go
  service/farcaster/neynar.go
  service/socialauth/socialauth.go
Labels: query

more checks, remove unused, move resp close
  autosocial/handler.go
  cmd/main.go
  service/farcaster/neynar.go
Labels: none

farcaster bulk api for autosocial (#1395)
  autosocial/handler.go
  autosocial/orchestrator/handler.go
  cmd/main.go
  service/farcaster/neynar.go
Labels: none

get sendgrid unsubscriptions to sync
  emails/handler.go
  emails/subscriptions.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  service/emails/emails.go
Labels: schema

on err, use what we have in db
  graphql/resolver/schema.resolvers.go
Labels: none

skip view gallery notifs
  emails/send.go
  emails/t__utils_test.go
Labels: none

post
  emails/handler.go
Labels: none

send real always because the dev check already exists
  emails/send.go
Labels: none

match last commit with changes
  emails/send.go
Labels: none

return
  emails/send.go
Labels: none

Update prod opensea key
  secrets/prod/backend-env.yaml
  secrets/prod/indexer-env.yaml
  secrets/prod/indexer-server-env.yaml
  secrets/prod/local/app-prod-indexer-server.yaml
  secrets/prod/local/app-prod-tokenprocessing.yaml
  secrets/prod/opensea-streamer-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Update opensea keys again
  secrets/dev/backend-env.yaml
  secrets/dev/opensea-streamer-env.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/indexer-env.yaml
  secrets/prod/indexer-server-env.yaml
  secrets/prod/local/app-prod-indexer-server.yaml
  secrets/prod/local/app-prod-tokenprocessing.yaml
  secrets/prod/opensea-streamer-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Don't try to disconnect a random connection if nothing is connected
  opensea-streamer/main.go
Labels: none

Don't try to disconnect a random connection if nothing is connected (#1410)
  opensea-streamer/main.go
Labels: none

Fix log statement
  service/multichain/multichain.go
Labels: none

Update prod keys
  secrets/prod/backend-env.yaml
  secrets/prod/indexer-env.yaml
  secrets/prod/indexer-server-env.yaml
  secrets/prod/local/app-prod-indexer-server.yaml
  secrets/prod/local/app-prod-tokenprocessing.yaml
  secrets/prod/opensea-streamer-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Update dev keys
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-opensea-streamer.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/opensea-streamer-env.yaml
  secrets/dev/tokenprocessing-env.yaml
Labels: none

Disable optimistic syncing for now
  opensea-streamer/main.go
Labels: none

OpenSea API key updates (#1411)
  opensea-streamer/main.go
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-opensea-streamer.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/opensea-streamer-env.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/indexer-env.yaml
  secrets/prod/indexer-server-env.yaml
  secrets/prod/local/app-prod-indexer-server.yaml
  secrets/prod/local/app-prod-tokenprocessing.yaml
  secrets/prod/opensea-streamer-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  service/multichain/multichain.go
Labels: none

add asm to email (#1407)
  emails/send.go
Labels: none

Remove AddGroupsToDisplay from Sendgrid ASM settings
  emails/send.go
Labels: none

Remove AddGroupsToDisplay from Sendgrid ASM settings (#1412)
  emails/send.go
Labels: none

Use alchemy for base
  secrets/local/local/app-local-backend.yaml
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
Labels: none

Rename multichain type
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/contract_gallery.sql
  db/queries/core/token_gallery.sql
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
  service/multichain/objkt/objkt.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tzkt/tzkt.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
Labels: query

Add base alchemy env
  secrets/dev/backend-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  tokenprocessing/process.go
Labels: none

Fixes from testing
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000149_add_token_provider_columns.up.sql
  db/queries/core/contract_gallery.sql
  db/queries/core/token_gallery.sql
  publicapi/token.go
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-backend.yaml
  server/inject.go
  server/wire_gen.go
  service/media/media.go
  service/multichain/alchemy/alchemy.go
  service/multichain/indexer/indexer.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/objkt/objkt.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/tezos.go
  service/multichain/tzkt/tzkt.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  service/persist/token.go
  tokenprocessing/media.go
Labels: migration, query

Refactor multichain
  publicapi/token.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/objkt/objkt.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tzkt/tzkt.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
Labels: none

Add provider priority columns
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000149_add_token_provider_columns.up.sql
Labels: migration

Add logging to OS
  service/multichain/opensea/opensea.go
Labels: none

Multichain providers (#1413)
  db/gen/coredb/contract_gallery.sql.go
  db/queries/core/contract_gallery.sql
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  server/inject.go
  server/wire_gen.go
  service/media/media.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/indexer/indexer.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/objkt/objkt.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/tezos.go
  service/multichain/tzkt/tzkt.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  service/persist/token.go
  tokenprocessing/media.go
  tokenprocessing/process.go
Labels: query

Add missing alchemy env var
  secrets/dev/tokenprocessing-env.yaml
Labels: none

Add missing alchemy env var
  secrets/dev/tokenprocessing-env.yaml
Labels: none

Fix missing owner
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  util/response.go
Labels: none

Fix missing owner (#1414)
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  util/response.go
Labels: none

Replace @retoolAuth directive with @basicAuth directive
  activity_stats/astats.go
  adminapi/admin.go
  emails/emails.go
  emails/handler.go
  gqlgen.yml
  graphql/generated/generated.go
  graphql/resolver/handlers.go
  graphql/schema/schema.graphql
  middleware/middleware.go
  secrets/dev/activitystats-env.yaml
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/prod/activitystats-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/emails-server-env.yaml
  server/handler.go
  server/server.go
  service/auth/basicauth/basicauth.go
  service/auth/retool.go
Labels: schema

Format GraphQL schema
  graphql/schema/schema.graphql
Labels: schema

Replace @retoolAuth directive with @basicAuth directive (#1415)
  activity_stats/astats.go
  adminapi/admin.go
  emails/emails.go
  emails/handler.go
  gqlgen.yml
  graphql/generated/generated.go
  graphql/resolver/handlers.go
  graphql/schema/schema.graphql
  middleware/middleware.go
  secrets/dev/activitystats-env.yaml
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/prod/activitystats-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/emails-server-env.yaml
  server/handler.go
  server/server.go
  service/auth/basicauth/basicauth.go
  service/auth/retool.go
Labels: schema

Handle OS missing contracts
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
Labels: none

Add error to alchemy
  service/multichain/alchemy/alchemy.go
Labels: none

Multichain - Handle OS missing contracts (#1416)
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
