Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

But also commit the changes
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
Labels: none

Format graphql
  graphql/schema/schema.graphql
Labels: schema

Bump migration numbers
  db/migrations/core/000137_community_search.up.sql
  db/migrations/core/000138_community_mentions.up.sql
Labels: migration

Rename CreateContractNotification -> CreateCommunityNotification
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

Subcommunities Vol. 2: Search, Mentions, Notifications, Events (#1331)
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000137_community_search.up.sql
  db/migrations/core/000138_community_mentions.up.sql
  db/migrations/sqlc/core/000001_sqlc_customization.sql
  db/queries/core/community.sql
  db/queries/core/query.sql
  db/queries/core/search.sql
  event/event.go
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/community.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/search.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/postgres/comment.go
  service/persist/postgres/event.go
Labels: migration, query, dataloader, schema

Fix spelling
  service/multichain/multichain.go
Labels: none

Change holder syncs to append only (#1329)
  graphql/graphql_test.go
  graphql/stub_test.go
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
Labels: none

zora logs
  tokenprocessing/process.go
Labels: none

Update comments
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/schema/schema.graphql
Labels: query, schema

Add onboarding user recs (#1321)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000139_add_user_internal_recommendations.up.sql
  db/queries/core/query.sql
  go.mod
  go.sum
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/collection.go
  publicapi/community.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/notifications.go
  publicapi/pagination.go
  publicapi/pagination_test.go
  publicapi/publicapi.go
  publicapi/socials.go
  publicapi/token.go
  publicapi/user.go
  server/server.go
  service/recommend/recommend.go
Labels: migration, query, dataloader, schema

more logs
  service/multichain/zora/zora.go
  tokenprocessing/process.go
Labels: none

platforms, no resend
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
  service/persist/notification.go
Labels: query

announcement notif internal
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

swap ctaText <> ctaLink
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Benny/announcement (#1330)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/emails.go
  emails/handler.go
  emails/send.go
  event/event.go
  graphql/resolver/schema.resolvers.helpers.go
  secrets/dev/emails-server-env.yaml
  secrets/prod/emails-server-env.yaml
  service/multichain/zora/zora.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
  service/persist/postgres/event.go
  tokenprocessing/process.go
Labels: query

script
  cmd/announcement_push_resend/main.go
  service/notifications/notifications.go
  service/task/task.go
Labels: none

push secrets
  cmd/announcement_push_resend/main.go
  secrets/prod/local/app-prod-tokenprocessing.yaml
Labels: none

alchemy metadata got better, we don't need manual checks
  service/multichain/alchemy/alchemy.go
Labels: none

Announcement Push Resend (#1332)
  cmd/announcement_push_resend/main.go
  secrets/prod/local/app-prod-tokenprocessing.yaml
  service/notifications/notifications.go
  service/task/task.go
Labels: none

Fix creator sync bug
  publicapi/publicapi.go
  server/handler.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/tokenprocessing.go
Labels: none

Fix creator sync bug (#1334)
  publicapi/publicapi.go
  server/handler.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/tokenprocessing.go
Labels: none

Update emails.go
  emails/emails.go
Labels: none

Add media type to object type helper
  tokenprocessing/media.go
Labels: none

Fix OS panic
  service/multichain/opensea/opensea.go
Labels: none

Fix OpenSea interface conversion and media thumbnails (#1335)
  service/multichain/opensea/opensea.go
  tokenprocessing/media.go
Labels: none

alchemy metadata got better, we don't need manual checks (#1333)
  service/multichain/alchemy/alchemy.go
Labels: none

minimum rasterize size
  rasterizer/index.js
Labels: none

fixed
  rasterizer/index.js
Labels: none

fixed rasterize size (#1336)
  rasterizer/index.js
Labels: none

no debug file write for rasterizer
  rasterizer/index.js
Labels: none

Skip personalize fresh posts
  publicapi/feed.go
Labels: none

Skip personalize fresh posts (#1337)
  publicapi/feed.go
Labels: none

check if needs unescaping
  service/rpc/rpc.go
Labels: none

check if needs unescaping (#1338)
  service/rpc/rpc.go
Labels: none

Rework PaginateTokensByCommunityID so it can use existing indexes
  db/gen/coredb/batch.go
  db/queries/core/community.sql
Labels: query

Rework PaginateTokensByCommunityID so it can use existing indexes (#1339)
  db/gen/coredb/batch.go
  db/queries/core/community.sql
Labels: query

Handle fxhash retries
  server/inject.go
  server/wire_gen.go
  service/multichain/fallback.go
  service/multichain/tezos/tezos.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Fix tests
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Use metadata check
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Add fxhash retries (#1340)
  server/inject.go
  server/wire_gen.go
  service/multichain/fallback.go
  service/multichain/tezos/tezos.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
