Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

personalization too
  emails/send.go
Labels: none

order queries for user notifications by last updated
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Ensure custom handlers are used
  server/inject.go
  server/wire_gen.go
  service/media/media.go
  service/multichain/alchemy/alchemy.go
  service/multichain/custom_metadata.go
  service/multichain/multichain.go
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  tokenprocessing/metadata.go
Labels: none

Ensure custom handlers are used (#1429)
  server/inject.go
  server/wire_gen.go
  service/media/media.go
  service/multichain/alchemy/alchemy.go
  service/multichain/custom_metadata.go
  service/multichain/multichain.go
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  tokenprocessing/metadata.go
Labels: none

Use alchemy
  server/inject.go
  server/wire_gen.go
  service/multichain/custom_metadata.go
Labels: none

Use alchemy (#1431)
  server/inject.go
  server/wire_gen.go
  service/multichain/custom_metadata.go
Labels: none

Ensure no dupe entities
  emails/digest.go
Labels: none

Ensure no dupe entities (#1432)
  emails/digest.go
Labels: none

Fix contract name
  service/multichain/opensea/opensea.go
Labels: none

Use ENS endpoint instead of subgraph
  service/multichain/custom_metadata.go
Labels: none

Correct Opensea contract name (#1433)
  service/multichain/custom_metadata.go
  service/multichain/opensea/opensea.go
Labels: none

Add farcaster query
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/socials.go
  publicapi/user.go
  secrets/dev/local/app-dev-backend.yaml
  server/server.go
Labels: query, schema

Add pagination
  db/gen/coredb/query.sql.go
  db/migrations/core/000152_add_farcaster_fid_idx.up.sql
  db/queries/core/query.sql
  publicapi/socials.go
  publicapi/user.go
  secrets/dev/local/app-dev-backend.yaml
  server/server.go
  service/farcaster/neynar.go
Labels: migration, query

Add Farcaster friend finder (#1434)
  db/gen/coredb/query.sql.go
  db/migrations/core/000152_add_farcaster_fid_idx.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/socials.go
  publicapi/user.go
  service/farcaster/neynar.go
Labels: migration, query, schema

Exit if not pgx.ErrNoRows
  publicapi/socials.go
Labels: none

Exit if not pgx.ErrNoRows (#1435)
  publicapi/socials.go
Labels: none

add the other unsub types (#1427)
  emails/emails.go
  emails/subscriptions.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/persist/email.go
Labels: schema

Update 000152_add_farcaster_fid_idx.up.sql
  db/migrations/core/000152_add_farcaster_fid_idx.up.sql
Labels: migration

Fix tezos providers
  platform/platform.go
  service/multichain/objkt/objkt.go
  service/multichain/tzkt/tzkt.go
Labels: none

Fix tezos providers (#1436)
  platform/platform.go
  service/multichain/objkt/objkt.go
  service/multichain/tzkt/tzkt.go
Labels: none

custom subject in digest values overrides (#1428)
  emails/digest.go
  emails/send.go
Labels: none

Add node fetcher
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/user.go
  server/server.go
  service/farcaster/neynar.go
  service/persist/notification.go
  service/persist/postgres/event.go
  service/socialauth/socialauth.go
Labels: query

Add post notification
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  publicapi/feed.go
  publicapi/user.go
  server/handler.go
  service/notifications/notifications.go
Labels: query

Remove extra notification type
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/persist/event.go
  tokenprocessing/tokenprocessing.go
Labels: schema

Add farcaster notification to schema
  emails/email.genqlient.go
  event/event.go
  go.mod
  go.sum
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/entity.resolvers.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/socials.go
  service/farcaster/neynar.go
  service/persist/event.go
  service/persist/notification.go
Labels: schema

Add joined notif
  event/event.go
  publicapi/socials.go
  service/farcaster/neynar.go
  service/notifications/notifications.go
Labels: none

Fix autosocial build
  autosocial/autosocial.go
  event/event.go
  service/farcaster/neynar.go
  tokenprocessing/tokenprocessing.go
Labels: none

Handle duplicate notifications
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  event/event.go
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  publicapi/feed.go
  tokenprocessing/tokenprocessing.go
Labels: query, dataloader

Add Farcaster Notifications (#1437)
  autosocial/autosocial.go
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/email.genqlient.go
  event/event.go
  go.mod
  go.sum
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/entity.resolvers.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/socials.go
  publicapi/user.go
  server/handler.go
  server/server.go
  service/farcaster/neynar.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
  service/persist/postgres/event.go
  service/socialauth/socialauth.go
  tokenprocessing/tokenprocessing.go
Labels: query, dataloader, schema

Add missing arg to email events
  emails/handler.go
Labels: none

Close errCh of custom metadata handler
  service/multichain/custom_metadata.go
Labels: none

Add missing unsubscription types to EmailNotificationSettings resolver
  graphql/resolver/schema.resolvers.go
Labels: none

Add missing unsubscription types to EmailNotificationSettings resolver (#1438)
  graphql/resolver/schema.resolvers.go
Labels: none

Add retry
  server/server.go
Labels: none

Make alchemy primary
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  util/retry/retry.go
Labels: none

Fixes from testing
  publicapi/feed.go
  secrets/local/local/app-local-indexer-server.yaml
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/custom_metadata.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
  service/notifications/notifications.go
  service/persist/postgres/postgres.go
  service/rpc/rpc.go
  util/retry/retry.go
Labels: none

Include spam filter
  service/multichain/alchemy/alchemy.go
Labels: none

More logging for retries
  util/retry/retry.go
Labels: none

Use cached metadata
  server/server.go
  service/multichain/custom_metadata.go
  service/multichain/opensea/opensea.go
  util/retry/retry.go
Labels: none

Add improved rate limiter and set Alchemy as the primary (#1439)
  publicapi/feed.go
  secrets/local/local/app-local-indexer-server.yaml
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/custom_metadata.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
  service/notifications/notifications.go
  service/persist/postgres/postgres.go
  service/rpc/rpc.go
  util/retry/retry.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
