Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Add count to user feed (#1212)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  go.mod
  go.sum
  publicapi/feed.go
  publicapi/user.go
Labels: query

Include viewer in feed
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  graphql/resolver/schema.resolvers.go
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: query

Include viewer in feed (#1213)
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  graphql/resolver/schema.resolvers.go
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: query

no concurrency for orchestrator, less err returns
  autosocial/handler.go
  autosocial/orchestrator/handler.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
  service/task/cloudtask.go
Labels: query

manually add lens and farcaster accounts (#1195)
  cmd/farcaster_backfill/connections/main.go
  cmd/farcaster_backfill/initial/main.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/publicapi.go
  publicapi/socials.go
  server/handler.go
  server/server.go
  service/farcaster/neynar.go
  service/socialauth/socialauth.go
Labels: schema

mod tidy
  go.mod
  go.sum
Labels: none

Autosocial Service (#1204)
  .dockerignore
  .github/workflows/deployer.yml
  Makefile
  autosocial/autosocial.go
  autosocial/handler.go
  autosocial/orchestrator/handler.go
  autosocial/orchestrator/orchestrator.go
  cmd/autosocial/main.go
  cmd/autosocial/orchestrator/main.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  docker/autosocial/Dockerfile
  docker/autosocial/orchestrator/Dockerfile
  go.mod
  go.sum
  graphql/fixture_test.go
  graphql/graphql_test.go
  publicapi/user.go
  secrets/dev/autosocial-env.yaml
  secrets/dev/backend-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/makevars.yaml
  secrets/local/local/app-local-autosocial.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/autosocial-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/makevars.yaml
  server/server.go
  service/task/cloudtask.go
Labels: query

string type
  autosocial/handler.go
Labels: none

migration numbers
  db/migrations/core/000109_contract_event.up.sql
  db/migrations/core/000110_mentions_comments.up.sql
Labels: migration

push notifications for new events
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

Benny/incremental sync (#1177)
  autosocial/handler.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  graphql/stub_test.go
  graphql/testdata/operations.graphql
  publicapi/token.go
  secrets/local/local/app-local-backend.yaml
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/fallback.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/t__get_tokens_test.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract_gallery.go
  service/persist/token_gallery.go
  util/helpers.go
Labels: schema

Unescape at resolvers
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

skip replyto
  publicapi/interaction.go
Labels: none

replies and mentions (#1155)
  cmd/reprocess/main.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000109_contract_event.up.sql
  db/migrations/core/000110_mentions_comments.up.sql
  db/queries/core/query.sql
  emails/t__utils_test.go
  event/event.go
  graphql/dataloader/dataloaders.go
  graphql/dataloader/mentionsloaderbyid_gen.go
  graphql/dataloader/repliesloader_gen.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/comment.go
  service/persist/event.go
  service/persist/notification.go
  service/persist/persist.go
  service/persist/postgres/comment.go
  service/persist/postgres/event.go
  sqlc.yaml
Labels: migration, query, dataloader, schema

autosocial github action
  .github/workflows/deployer.yml
Labels: none

Unescape at resolvers (#1214)
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Move provider dedupe to inject.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
Labels: none

Run wire
  server/inject.go
  server/wire_gen.go
Labels: none

search for users by multiple chains when necessary
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/persist/postgres/auth.go
  service/persist/postgres/user.go
  service/persist/wallet.go
  service/socialauth/socialauth.go
  sqlc.yaml
  tokenprocessing/process.go
Labels: query

chain address json
  autosocial/orchestrator/handler.go
  service/persist/wallet.go
Labels: none

correctly marshal chain
  service/persist/wallet.go
Labels: none

chain eth
  autosocial/orchestrator/handler.go
Labels: none

base
  graphql/dataloader/admirebyactoridandtoken_gen.go
  graphql/dataloader/admirebyactoridandtokenid_gen.go
  graphql/dataloader/dataloaders.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
Labels: dataloader, schema

revert
  graphql/dataloader/admirebyactoridandtoken_gen.go
Labels: dataloader

gen working
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/admireloaderbyactorandtoken_gen.go
  graphql/dataloader/dataloaders.go
Labels: query, dataloader

Delete admirebyactoridandtokenid_gen.go
  graphql/dataloader/admirebyactoridandtokenid_gen.go
Labels: dataloader

Refactor inject
  server/inject.go
  server/wire_gen.go
  service/multichain/eth/eth.go
  service/multichain/poap/poap.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  tokenprocessing/pipeline.go
Labels: none

Add reservoir to polygon (#1217)
  server/inject.go
  server/wire_gen.go
  service/multichain/eth/eth.go
  service/multichain/multichain.go
  service/multichain/poap/poap.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  tokenprocessing/pipeline.go
Labels: none

sign secrets with dev key
  secrets/dev/autosocial-env.yaml
Labels: none

Sentry dsn
  secrets/dev/autosocial-env.yaml
  secrets/prod/autosocial-env.yaml
Labels: none

mention typo
  publicapi/feed.go
  publicapi/interaction.go
Labels: none

mention typo (#1218)
  publicapi/feed.go
  publicapi/interaction.go
Labels: none

l1 chain
  autosocial/orchestrator/handler.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000111_l1_chain.up.sql
  db/queries/core/query.sql
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/multichain/tezos/t__get_tokens_test.go
  service/persist/postgres/auth.go
  service/persist/postgres/user.go
  service/persist/token.go
  service/persist/wallet.go
  service/socialauth/socialauth.go
  sqlc.yaml
  tokenprocessing/process.go
Labels: migration, query

l1 chain group
  service/multichain/multichain.go
  service/persist/token.go
Labels: none

merge and indicies
  admin/db.go
  admin/user.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000111_l1_chain.up.sql
  db/queries/core/query.sql
  service/persist/auth.go
  service/persist/postgres/auth.go
  service/persist/postgres/user.go
  service/persist/postgres/wallet.go
  service/persist/wallet.go
Labels: migration, query

check l1
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

batch
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  publicapi/user.go
Labels: query, dataloader

data loaders
  go.mod
  graphql/dataloader/dataloaders.go
  graphql/dataloader/userloaderbyaddress_gen.go
Labels: dataloader

no merge because unused anyway
  docker/postgres/DOCKERFILE
  service/persist/postgres/wallet.go
Labels: none

correct test chains
  graphql/graphql_test.go
  service/persist/token.go
Labels: none
