Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Handle syncing tokens
  graphql/resolver/schema.resolvers.go
Labels: none

Handle syncing tokens (#1341)
  graphql/resolver/schema.resolvers.go
Labels: none

Index posts by token_ids and use that index when paginating posts
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/migrations/core/000140_posts_token_ids_idx.up.sql
  db/queries/core/community.sql
Labels: migration, query

Index posts by token_ids and use that index when paginating posts (#1342)
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/migrations/core/000140_posts_token_ids_idx.up.sql
  db/queries/core/community.sql
Labels: migration, query

stream zora events
  .dockerignore
  docker/opensea-streamer/Dockerfile
  opensea-streamer/index.js
  package.json
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

all chains but matic
  opensea-streamer/index.js
  tokenprocessing/process.go
Labels: none

back to only zora for now
  opensea-streamer/index.js
Labels: none

emails secret
  secrets/prod/emails-server-env.yaml
Labels: none

jobs for emails
  Makefile
Labels: none

merge
  emails/digest.go
Labels: none

trending feed no override
  emails/digest.go
Labels: none

dev only admin emails
  emails/send.go
Labels: none

dev lock
  Makefile
  emails/send.go
  secrets/dev/emails-server-env.yaml
Labels: none

dev admin email
  emails/digest.go
  emails/send.go
Labels: none

post count
  emails/digest.go
Labels: none

filter
  emails/digest.go
  emails/send.go
Labels: none

support new additions, remove unused param
  emails/digest.go
  emails/send.go
Labels: none

opensea streamer in golang
  Makefile
  db/gen/coredb/community.sql.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  docker/opensea-streamer/Dockerfile
  go.mod
  go.sum
  opensea-streamer/index.js
  opensea-streamer/main.go
  secrets/dev/makevars.yaml
  secrets/dev/opensea-streamer-env.yaml
  secrets/prod/makevars.yaml
  secrets/prod/opensea-streamer-env.yaml
  service/redis/redis.go
Labels: query

correct path
  opensea-streamer/main.go
Labels: none

read directly to json
  opensea-streamer/main.go
Labels: none

send correct input
  opensea-streamer/main.go
Labels: none

logs
  opensea-streamer/main.go
Labels: none

to account
  opensea-streamer/main.go
Labels: none

Handle fxhash ipfs in fallback
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/media/media.go
  service/multichain/tezos/tezos.go
  service/rpc/ipfs/ipfs.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Check in platform.go
  platform/platform.go
Labels: none

no json log
  opensea-streamer/main.go
Labels: none

read from correctly
  opensea-streamer/main.go
  secrets/dev/local/app-dev-opensea-streamer.yaml
Labels: none

ctx
  opensea-streamer/main.go
Labels: none

timeouts
  opensea-streamer/main.go
Labels: none

actions
  .github/workflows/deployer.yml
Labels: none

Add keywords as pipeline opt
  graphql/resolver/schema.resolvers.helpers.go
  platform/platform.go
  publicapi/user.go
  service/media/media.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Rewrite urls to http in pipeline
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
Labels: none

Check in rpc
  service/rpc/arweave/arweave.go
  service/rpc/onchfs/onchfs.go
Labels: none

Add arweave
  emails/send.go
  graphql/resolver/schema.resolvers.helpers.go
  indexer/core.go
  indexer/t__utils_test.go
  publicapi/pagination_test.go
  server/server.go
  service/media/media.go
  service/rpc/arweave/arweave.go
  service/rpc/onchfs/onchfs.go
  service/rpc/rpc.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Add is_fxhash col
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000141_add_is_fxhash.up.sql
  db/queries/core/token_gallery.sql
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  platform/platform.go
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: migration, query

Add onchfs
  emails/send.go
  platform/platform.go
  service/multichain/multichain.go
  service/rpc/arweave/arweave.go
  service/rpc/ipfs/ipfs.go
  service/rpc/onchfs/onchfs.go
  tokenprocessing/process.go
Labels: none

Move helper to rpc
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/user.go
  service/rpc/rpc.go
  tokenprocessing/pipeline.go
Labels: none

Tokenprocessing fxhash updates (#1344)
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000141_add_is_fxhash.up.sql
  db/queries/core/token_gallery.sql
  graphql/resolver/schema.resolvers.helpers.go
  indexer/core.go
  indexer/t__utils_test.go
  platform/platform.go
  publicapi/pagination_test.go
  publicapi/user.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/media/media.go
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  service/multichain/tezos/tezos.go
  service/rpc/arweave/arweave.go
  service/rpc/ipfs/ipfs.go
  service/rpc/onchfs/onchfs.go
  service/rpc/rpc.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: migration, query

Update .dockerignore
  .dockerignore
Labels: none

alternate check
  opensea-streamer/main.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
