Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Remvoe debug statements
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  tokenprocessing/tokenprocessing.go
Labels: migration

Refactor nonce-based auth (#1462)
  adminapi/admin.go
  autosocial/autosocial.go
  autosocial/handler.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/nonce.sql.go
  db/migrations/core/000157_refactor_nonces.up.sql
  db/queries/core/nonce.sql
  debugtools/debugtools_common.go
  graphql/fixture_test.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/auth.go
  publicapi/merch.go
  publicapi/user.go
  service/auth/auth.go
  service/auth/privy/privy.go
  service/farcaster/neynar.go
  service/multichain/indexer/indexer.go
  service/multichain/multichain.go
  service/multichain/tezos/tezos.go
  service/persist/auth.go
  service/persist/postgres/auth.go
  service/persist/postgres/postgres.go
  service/persist/postgres/user.go
  service/persist/wallet.go
  service/task/task.go
  service/user/user.go
Labels: migration, query, schema

Try to look up a user by email address when using Privy login
  service/auth/privy/privy.go
Labels: none

Try to look up a user by email address when using Privy login (#1463)
  service/auth/privy/privy.go
Labels: none

MagicLink auth: convert pgx.ErrNoRows to ErrUserNotFound
  service/auth/auth.go
Labels: none

Add ip rate limiting
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  emails/email.genqlient.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/schema/schema.graphql
  publicapi/mint.go
  publicapi/publicapi.go
  secrets/prod/backend-env.yaml
  server/handler.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/highlight/highlight.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/persist/token.go
  service/redis/redis.go
Labels: migration, schema

Catch max claims err
  publicapi/mint.go
  service/multichain/highlight/highlight.go
Labels: none

Add highlight mint authorization (#1464)
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  db/queries/core/query.sql
  emails/email.genqlient.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/mint.go
  publicapi/publicapi.go
  secrets/dev/backend-sandbox-env.yaml
  secrets/prod/backend-env.yaml
  server/handler.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/highlight/highlight.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/persist/token.go
  service/redis/redis.go
  sqlc.yaml
  tokenprocessing/process.go
Labels: migration, query, schema

Update highlight dev env
  secrets/dev/backend-env.yaml
Labels: none

Update highlight dev env (#1465)
  secrets/dev/backend-env.yaml
Labels: none

Update tokenprocessing env
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Update tokenprocessing env (#1466)
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Move ip check prior to mint
  publicapi/mint.go
Labels: none

Move ip check prior to mint (#1467)
  publicapi/mint.go
Labels: none

Add a NeynarAuthenticator that can verify a separate address via custody
  autosocial/handler.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/auth.go
  publicapi/publicapi.go
  service/auth/auth.go
  service/farcaster/neynar.go
Labels: schema

Add a NeynarAuthenticator that can verify a separate address via custody (#1468)
  autosocial/handler.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/auth.go
  publicapi/publicapi.go
  service/auth/auth.go
  service/farcaster/neynar.go
Labels: schema

Update copy of new token notification
  service/notifications/notifications.go
Labels: none

Update copy of new token notification (#1469)
  service/notifications/notifications.go
Labels: none

More tries and shorter delay for highlight mints
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

More tries and shorter delay for highlight mints (#1470)
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Don't double-send verification emails for mobile sign-ups
  publicapi/user.go
Labels: none

Update mintURL for mchx project
  graphql/resolver/schema.resolvers.go
Labels: none

Don't double-send verification emails for mobile sign-ups (#1471)
  publicapi/user.go
Labels: none

Update mintURL for mchx project (#1472)
  graphql/resolver/schema.resolvers.go
Labels: none

Update schema to include optional authenticator
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

Revert previous temporary mobile app fix
  publicapi/user.go
Labels: none

Use optional authenticator when updating an email address
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/user.go
Labels: none

Format graphql
  graphql/schema/schema.graphql
Labels: schema

Keep temporary mobile workaround a little longer
  publicapi/user.go
Labels: none

Add optional authenticator when updating an email address (#1473)
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
Labels: schema

Automatically add the app mint notification to new user accounts
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
Labels: query

Automatically add the app mint notification to new user accounts (#1474)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
Labels: query

Reset ip rate if error occured during mint
  publicapi/mint.go
  service/limiters/rate.go
Labels: none

Reset ip rate if error occured during mint (#1475)
  publicapi/mint.go
  service/limiters/rate.go
Labels: none

Add more logging to processing
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/multichain/multichain.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: query

Remove join to token_media in token query
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
Labels: query, dataloader

Apply the correct pipeline opts
  tokenprocessing/process.go
Labels: none

Add more logging to processing (#1476)
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  service/multichain/multichain.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: query, dataloader

Set last_updated when updating user info
  service/persist/postgres/user.go
  service/persist/user.go
Labels: none

Set last_updated when updating user info (#1477)
  service/persist/postgres/user.go
  service/persist/user.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
