Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Add a comment
  service/persist/postgres/token_gallery.go
Labels: none

GraphQL formatting
  graphql/schema/schema.graphql
Labels: schema

Add curated job
  Makefile
  service/recommend/userpref/personalize.go
Labels: none

Add to Makefile
  Makefile
  cmd/userpref/main.go
  service/recommend/userpref/personalize.go
Labels: none

More push notification logging tweaks
  pushnotifications/expo/expo.go
  pushnotifications/expo/handler.go
Labels: none

Add curated job (#1136)
  Makefile
  cmd/userpref/main.go
  service/recommend/userpref/personalize.go
Labels: none

error and string
  service/multichain/alchemy/alchemy.go
  service/multichain/eth/eth.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: none

seen provider (#1133)
  service/multichain/alchemy/alchemy.go
  service/multichain/eth/eth.go
  service/multichain/fallback.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: none

Fix exists check
  service/store/cloudstorage.go
Labels: none

Fix exists check (#1137)
  service/store/cloudstorage.go
Labels: none

metadata
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  service/multichain/multichain.go
  service/multichain/poap/poap.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
Labels: schema

Add userpref image
  Makefile
  cmd/userpref/main.go
  docker/userpref/Dockerfile
  secrets/dev/local/app-dev-userpref-upload.yaml
  secrets/dev/userpref-upload.yaml
  secrets/prod/userpref-upload.yaml
Labels: none

Fix OS provider
  service/multichain/opensea/opensea.go
Labels: none

Add oauth email
  Makefile
  secrets/dev/makevars.yaml
  secrets/prod/makevars.yaml
Labels: none

Fix tests
  graphql/graphql_test.go
  graphql/stub_test.go
  service/multichain/opensea/opensea.go
Labels: none

Add blockchain info stub
  graphql/graphql_test.go
  graphql/stub_test.go
Labels: none

Fixes to curated job (#1138)
  Makefile
  cmd/userpref/main.go
  docker/userpref/Dockerfile
  graphql/graphql_test.go
  graphql/stub_test.go
  secrets/dev/local/app-dev-userpref-upload.yaml
  secrets/dev/makevars.yaml
  secrets/dev/userpref-upload.yaml
  secrets/prod/makevars.yaml
  secrets/prod/userpref-upload.yaml
  service/multichain/opensea/opensea.go
Labels: none

get rid of the token columns that cause inconsistencies (#1127)
  cmd/reprocess/main.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000104_unused_token_fields.up.sql
  db/queries/core/token_gallery.sql
  go.mod
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/merch.go
  service/multichain/alchemy/alchemy.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/poap/poap.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/persist/postgres/collection.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token.go
  service/persist/postgres/token_gallery.go
  service/persist/token.go
  service/persist/token_gallery.go
Labels: migration, query, schema

PR fix-ups
  service/multichain/multichain.go
Labels: none

modify query
  cmd/farcaster_backfill/connections/main.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000103_external_social_connections.up.sql
  db/queries/core/query.sql
Labels: migration, query

modify query (#1139)
  cmd/farcaster_backfill/connections/main.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000103_external_social_connections.up.sql
  db/queries/core/query.sql
Labels: migration, query

Adjust scoring
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: none

Adjust scoring (#1140)
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: none

Two-filter pass
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: query

Two-filter pass (#1141)
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: query

Add boost for new posts
  publicapi/feed.go
Labels: none

Add boost for new posts (#1142)
  publicapi/feed.go
Labels: none

base
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/interaction.go
  service/persist/admire.go
  service/persist/postgres/admire.go
Labels: schema

trying to add AdmireByActorIDAndTokenID
  graphql/dataloader/dataloaders.go
Labels: dataloader

small
  service/persist/postgres/admire.go
Labels: none

match
  publicapi/interaction.go
Labels: none

zora metadata, sync eval metadata
  server/inject.go
  server/wire_gen.go
  service/multichain/fallback.go
  service/multichain/zora/zora.go
Labels: none

correct response
  service/multichain/zora/zora.go
Labels: none

zora metadata, sync eval metadata (#1144)
  server/inject.go
  server/wire_gen.go
  service/multichain/fallback.go
  service/multichain/zora/zora.go
Labels: none

field fix
  service/multichain/zora/zora.go
Labels: none

api url for tez
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  tokenprocessing/tokenprocessing.go
Labels: none

api url for tez (#1145)
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  tokenprocessing/tokenprocessing.go
Labels: none

Filter posts
  publicapi/feed.go
Labels: none

Filter posts (#1146)
  publicapi/feed.go
Labels: none

Add filter pass
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
