Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Add admire comment
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000129_add_comment_id_to_admires.up.sql
  db/queries/core/admire.sql
  db/queries/core/query.sql
  event/event.go
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/admire.go
  service/persist/event.go
  service/persist/postgres/admire.go
Labels: migration, query, dataloader, schema

rename unowned to holder
  service/multichain/tezos/objkt.go
Labels: none

gql naming
  service/multichain/tezos/tezos.go
Labels: none

Cleanup error mapping
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/interaction.go
  service/persist/admire.go
  service/persist/comment.go
  service/persist/postgres/admire.go
  service/persist/postgres/postgres.go
Labels: dataloader

Add notification type
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/postgres/event.go
Labels: query, schema

Add test for push notification
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/testdata/operations.graphql
  publicapi/interaction.go
  server/server.go
  service/notifications/notifications.go
Labels: none

Add simple mint link
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: schema

Add mint url
  db/gen/coredb/batch.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000126_add_mint_url_to_contracts.up.sql
  db/queries/core/contract_gallery.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/contract.go
  service/multichain/multichain.go
  service/multichain/tezos/objkt.go
  service/persist/postgres/contract_gallery.go
Labels: migration, query

Testing fixes
  db/gen/coredb/contract_gallery.sql.go
  db/queries/core/contract_gallery.sql
  graphql/resolver/schema.resolvers.go
  service/multichain/tezos/objkt.go
Labels: query

Remove tezos mintlinks
  db/gen/coredb/batch.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000126_add_mint_url_to_contracts.up.sql
  db/queries/core/contract_gallery.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/contract.go
  service/multichain/multichain.go
  service/multichain/tezos/objkt.go
  service/persist/postgres/contract_gallery.go
Labels: migration, query, schema

Add contract mint link (#1293)
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: schema

Add viewerAdmire
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/admire.go
Labels: query, dataloader, schema

Misc - cleanup ipfs interfaces
  service/rpc/ipfs/ipfs.go
Labels: none

Unescape notification comment
  service/notifications/notifications.go
Labels: none

HTML unescape push notification comments (#1304)
  service/notifications/notifications.go
  service/rpc/ipfs/ipfs.go
Labels: none

Add admire comments (#1302)
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000129_add_comment_id_to_admires.up.sql
  db/queries/core/admire.sql
  db/queries/core/query.sql
  event/event.go
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/admire.go
  service/persist/comment.go
  service/persist/event.go
  service/persist/postgres/admire.go
  service/persist/postgres/event.go
  service/persist/postgres/postgres.go
Labels: migration, query, dataloader, schema

Add first post column
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/migrations/core/000129_add_is_first_post.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: migration, query, schema

Add lock
  db/migrations/core/000129_add_is_first_post.up.sql
  db/migrations/core/000130_add_is_first_post.up.sql
Labels: migration

Add first post flag (#1303)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/migrations/core/000130_add_is_first_post.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: migration, query, schema

incremental creator sync
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/fallback.go
  service/multichain/multichain.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: none

resover
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  service/multichain/multichain.go
Labels: schema

fix zora
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/zora/zora.go
Labels: none

fix comment
  service/multichain/multichain.go
Labels: none

Add new post
  publicapi/feed.go
Labels: none

Add new post (#1306)
  publicapi/feed.go
Labels: none

begin retool get endpoint for current digest values
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/digest.go
  emails/emails.go
  emails/handler.go
  emails/send.go
  emails/subscriptions.go
  emails/verify.go
  graphql/resolver/schema.resolvers.go
  service/emails/emails.go
Labels: query

correct select flow
  emails/digest.go
Labels: none

counts
  emails/digest.go
Labels: none

Remove infura gateway
  graphql/resolver/schema.resolvers.helpers.go
  service/rpc/ipfs/ipfs.go
Labels: none

only comment notification when not reply to poster
  publicapi/interaction.go
Labels: none

Remove infura gateway (#1308)
  graphql/resolver/schema.resolvers.helpers.go
  service/rpc/ipfs/ipfs.go
Labels: none

Keep query strings
  secrets/dev/local/app-dev-backend.yaml
  service/rpc/ipfs/ipfs.go
Labels: none

Rename arg
  secrets/dev/local/app-dev-backend.yaml
  service/rpc/ipfs/ipfs.go
Labels: none

Fxhash IPFS fix (#1310)
  service/rpc/ipfs/ipfs.go
Labels: none

only comment notification when not reply to poster (#1309)
  publicapi/interaction.go
Labels: none

tez contracts by owner (#1301)
  server/inject.go
  server/wire_gen.go
  service/multichain/fallback.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  util/helpers.go
Labels: none

notification copy tweak
  service/notifications/notifications.go
Labels: none

notification copy tweak (#1312)
  service/notifications/notifications.go
Labels: none

include replies in comment count
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

no renotify, slower cron
  Makefile
  activity_stats/handler.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/resolver/schema.resolvers.helpers.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
  service/persist/user.go
Labels: query
