Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

remove debug comment
  service/recommend/userpref/personalize.go
Labels: none

add update to migration
  db/migrations/core/000125_top_level_comment.up.sql
Labels: migration

Rename cloudtask.go to task.go, and get rid of legacy tasks.go file
  service/task/task.go
  service/task/tasks.go
Labels: none

Add notification tests (#1278)
  autosocial/orchestrator/handler.go
  event/event.go
  feed/handler.go
  feed/server.go
  graphql/fixture_test.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/testdata/operations.graphql
  indexer/hook.go
  indexer/indexer.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/publicapi.go
  publicapi/socials.go
  publicapi/user.go
  pushnotifications/pushnotifications.go
  server/handler.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/eth/eth.go
  service/notifications/notifications.go
  service/persist/postgres/postgres.go
  service/socialauth/socialauth.go
  service/task/task.go
  service/task/tasks.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
Labels: none

Wrap error from URL fetch
  tokenprocessing/pipeline.go
Labels: none

Wrap error from URL fetch (#1280)
  tokenprocessing/pipeline.go
Labels: none

Boost gallery posts
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

Use retries by default for all Postgres clients
  server/server.go
  service/persist/postgres/postgres.go
  util/retry/retry.go
Labels: none

Use retries by default for all Postgres clients (#1281)
  server/server.go
  service/persist/postgres/postgres.go
  util/retry/retry.go
Labels: none

use more sqlc
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/interaction.go
  service/persist/postgres/comment.go
  service/persist/postgres/postgres.go
Labels: query

Bit more tuning
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

add badge
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/persist/user.go
Labels: schema

change distinct clause
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

change distinct clause (#1284)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

manually imply datatypes postgres sql
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/persist/postgres/comment.go
Labels: query

Fix tests
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
Labels: query

make
  Makefile
  secrets/dev/makevars.yaml
  secrets/prod/makevars.yaml
Labels: none

fix make var
  Makefile
Labels: none

[GAL-4769] Boost Gallery posts (#1282)
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

secrets
  activity_stats/astats.go
  docker/activitystats/Dockerfile
  secrets/dev/activitystats-env.yaml
  secrets/prod/activitystats-env.yaml
Labels: none

scheduler aud, json return, make file port
  Makefile
  activity_stats/handler.go
  secrets/prod/activitystats-env.yaml
Labels: none

show nested comments as a flat list (#1276)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000125_top_level_comment.up.sql
  db/queries/core/query.sql
  publicapi/interaction.go
  service/persist/postgres/comment.go
  service/persist/postgres/postgres.go
Labels: migration, query

trait assign
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

include deleted/removed in actvitiy
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

new top 100 url
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

no top 100, any limit
  Makefile
  activity_stats/astats.go
  activity_stats/handler.go
Labels: none

conf name
  activity_stats/handler.go
Labels: none

badge notification
  activity_stats/astats.go
  activity_stats/handler.go
  event/event.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  secrets/dev/activitystats-env.yaml
  secrets/prod/activitystats-env.yaml
  server/server.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
Labels: schema

not top 100 trait
  activity_stats/handler.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Remove freshness boost from trending
  publicapi/feed.go
Labels: none

don't listen
  activity_stats/astats.go
  server/handler.go
  service/notifications/notifications.go
  tokenprocessing/tokenprocessing.go
Labels: none

Remove freshness boost from trending (#1287)
  publicapi/feed.go
Labels: none

Add first time post indicator
  feedbot/server.go
Labels: none

Add first time post indicator (#1288)
  feedbot/server.go
Labels: none

use row numbers to ensure uniqueness
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

use row numbers to ensure uniqueness (#1289)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

Update server.go
  feedbot/server.go
Labels: none

Handle no-named contracts
  feedbot/server.go
Labels: none

Handle no-named contracts (#1290)
  feedbot/server.go
Labels: none

users
  cmd/refresh/refresh.go
  service/notifications/notifications.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
