Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

correct ports
  docker/autosocial/Dockerfile
  docker/autosocial/orchestrator/Dockerfile
Labels: none

Retry on 401 (#1205)
  service/recommend/userpref/personalize.go
  service/store/cloudstorage.go
Labels: none

correct make, remove duplicate
  Makefile
  autosocial/handler.go
Labels: none

correct table name
  autosocial/orchestrator/handler.go
Labels: none

less logs
  autosocial/handler.go
Labels: none

less memory
  secrets/prod/makevars.yaml
Labels: none

send rest
  autosocial/orchestrator/handler.go
Labels: none

read err
  autosocial/orchestrator/handler.go
Labels: none

remove useless pool
  autosocial/orchestrator/handler.go
Labels: none

actions
  .github/workflows/deployer.yml
Labels: none

remove unused env
  server/server.go
Labels: none

dummy commit
  cmd/reprocess/main.go
Labels: none

Remove slackhook from dev
  secrets/dev/feedbot-env.yaml
Labels: none

Add delay to slackbot
  event/event.go
  feed/server.go
  service/task/cloudtask.go
Labels: none

Clean up includePosts param
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
Labels: query, schema

Remove authrequired directive from shared fields
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/user.go
Labels: query, schema

Cleanup ENS errors
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/eth/eth.go
Labels: schema

Fix tests
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/graphql_test.go
  publicapi/feed.go
Labels: query

Various fix it week fixes (#1206)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  feed/server.go
  graphql/generated/generated.go
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/user.go
  secrets/dev/feedbot-env.yaml
  service/eth/eth.go
  service/task/cloudtask.go
Labels: query, schema

Add index for contract lookup by chain+address
  db/migrations/core/000108_update_contract_indexes.up.sql
Labels: migration

Support empty posts
  feedbot/server.go
  graphql/resolver/schema.resolvers.go
  util/retry/retry.go
Labels: none

Update our Opensea API key
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/indexer-server-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/indexer-env.yaml
  secrets/prod/indexer-server-env.yaml
  secrets/prod/local/app-prod-indexer-server.yaml
  secrets/prod/local/app-prod-tokenprocessing.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Fix spam job
  tokenprocessing/process.go
Labels: none

Fix struct tag
  feedbot/server.go
Labels: none

Add index for contract lookup by chain+address (#1207)
  db/migrations/core/000108_update_contract_indexes.up.sql
Labels: migration

Update our Opensea API key (#1208)
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/indexer-server-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/indexer-env.yaml
  secrets/prod/indexer-server-env.yaml
  secrets/prod/local/app-prod-indexer-server.yaml
  secrets/prod/local/app-prod-tokenprocessing.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

check empty
  autosocial/handler.go
  autosocial/orchestrator/handler.go
Labels: none

wait with err catching
  autosocial/handler.go
Labels: none

Fix typo
  service/eth/eth.go
Labels: none

Fix it week part 2 (#1209)
  feedbot/server.go
  graphql/resolver/schema.resolvers.go
  service/eth/eth.go
  tokenprocessing/process.go
  util/retry/retry.go
Labels: none

Reduce tokenprocessing retries
  graphql/dataloader/dataloaders.helpers.go
  publicapi/feed.go
  publicapi/pagination_test.go
  service/multichain/opensea/opensea.go
  service/persist/postgres/collection.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: dataloader

Reduce tokenprocessing retries (#1210)
  graphql/dataloader/dataloaders.helpers.go
  publicapi/feed.go
  publicapi/pagination_test.go
  service/multichain/opensea/opensea.go
  service/persist/postgres/collection.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: dataloader

Refactor For You feed
  publicapi/feed.go
Labels: none

WIP
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/queries/core/query.sql
  db/queries/core/recommend.sql
  publicapi/feed.go
  publicapi/pagination.go
Labels: query

Fix feed cache error
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/queries/core/query.sql
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

Make cursor backwards compatible
  publicapi/feed.go
  publicapi/pagination.go
Labels: none

More feed refactoring
  publicapi/feed.go
Labels: none

Fix it week part 3 - Feed refactoring (#1211)
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/queries/core/query.sql
  db/queries/core/recommend.sql
  publicapi/feed.go
  publicapi/pagination.go
Labels: query

Add count to user feed
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/feed.go
Labels: query

Use fracdex fork
  go.mod
  go.sum
  publicapi/user.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
