Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Add more tracing to token dispatch
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000159_add_token_columns_to_media.up.sql
  db/queries/core/query.sql
  db/queries/core/token_gallery.sql
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  sqlc.yaml
  tokenprocessing/pipeline.go
Labels: migration, query

Add more tracing to token dispatch (#1500)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000159_add_token_columns_to_media.up.sql
  db/queries/core/query.sql
  db/queries/core/token_gallery.sql
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  sqlc.yaml
  tokenprocessing/pipeline.go
Labels: migration, query

Handle null numeric val
  service/persist/token.go
Labels: none

Handle null numeric val (#1501)
  service/persist/token.go
Labels: none

Subscribe to Ethereum token events
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000006_ethereum_tokens.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Add token streaming to config
  kafka-streamer/main.go
Labels: none

Subscribe to Ethereum token events via SimpleHash (#1502)
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000006_ethereum_tokens.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Refactor how tokens are submitted
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
  opensea-streamer/main.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/persist/token_processing_jobs.go
  service/task/task.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: none

Try parsing timestamps in multiple formats
  kafka-streamer/main.go
Labels: none

Adjust config parallelism
  kafka-streamer/main.go
Labels: none

Use db diff to find new tokens
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
  service/multichain/multichain.go
  service/multichain/operation/operation.go
Labels: query

Log entry data on failed insert
  kafka-streamer/main.go
Labels: none

Disable token streaming for the time being
  kafka-streamer/main.go
Labels: none

Rename method
  graphql/graphql_test.go
  graphql/stub_test.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/process.go
Labels: none

Fix noop send
  publicapi/mint.go
  service/task/task.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/process.go
Labels: none

Add submitter interface for submitting tokens to tokenprocessing (#1503)
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
  opensea-streamer/main.go
  publicapi/mint.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  service/persist/token_processing_jobs.go
  service/task/task.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: query

More config updates
  kafka-streamer/main.go
  secrets/prod/local/app-prod-kafka-streamer.yaml
Labels: none

Strip null characters from strings and JSON
  kafka-streamer/main.go
Labels: none

Don't try to insert null contracts or collections
  db/gen/mirrordb/batch.go
  db/queries/mirror/query.sql
Labels: query

Fix parameter types
  db/gen/mirrordb/batch.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: query

Update config again
  kafka-streamer/main.go
Labels: none

Fix errors during Kafka token event processing (#1504)
  db/gen/mirrordb/batch.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: query

Turn off token even processing for the night
  kafka-streamer/main.go
Labels: none

Clean more null characters and unicode escapes from strings and JSON
  kafka-streamer/main.go
Labels: none

Clean more null characters and unicode escapes from strings and JSON (#1505)
  kafka-streamer/main.go
Labels: none

Add human readable chain names
  service/multichain/alchemy/alchemy.go
  service/multichain/custom_metadata.go
  service/multichain/multichain.go
  service/multichain/reservoir/reservoir.go
  service/multichain/simplehash/simplehash.go
  service/persist/contract.go
  service/persist/token.go
  service/persist/token_gallery.go
  service/persist/wallet.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/metadata.go
  tokenprocessing/tokenprocessing.go
Labels: none

Add human readable chain names (#1506)
  service/multichain/alchemy/alchemy.go
  service/multichain/custom_metadata.go
  service/multichain/multichain.go
  service/multichain/reservoir/reservoir.go
  service/multichain/simplehash/simplehash.go
  service/persist/contract.go
  service/persist/token.go
  service/persist/token_gallery.go
  service/persist/wallet.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/metadata.go
  tokenprocessing/tokenprocessing.go
Labels: none

Add isMinting to schema
  go.mod
  go.sum
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  secrets/dev/local/app-dev-backend.yaml
  service/task/task.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/process.go
Labels: schema

Start multichain interface
  graphql/resolver/schema.resolvers.go
  publicapi/mint.go
  service/multichain/mint.go
Labels: none

Add request batching
  gqlgen.yml
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/mint.go
  publicapi/publicapi.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/mint.go
  service/multichain/reservoir/batch.go
  service/multichain/reservoir/reservoir.go
  service/multichain/simplehash/simplehash.go
  service/persist/token.go
Labels: schema

Process token events for Base and Zora
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000007_base_zora_tokens.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Process token events for Base and Zora (#1507)
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000007_base_zora_tokens.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Remove spam threshold field
  service/multichain/simplehash/simplehash.go
Labels: none

Handle base fxhash
  platform/platform.go
  tokenprocessing/handler.go
Labels: none

Remove SpamScore field from simplehash schema and update IsFxhash helper (#1508)
  platform/platform.go
  service/multichain/simplehash/simplehash.go
  tokenprocessing/handler.go
Labels: none

Move to multichain
  server/inject.go
  service/multichain/alchemy/alchemy.go
  service/multichain/common/common.go
  service/multichain/config.go
  service/multichain/custom/custom_metadata.go
  service/multichain/infura/infura.go
  service/multichain/inject.go
  service/multichain/multichain.go
  service/multichain/objkt/objkt.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/simplehash/simplehash.go
  service/multichain/tzkt/tzkt.go
  service/multichain/wire_gen.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  tokenprocessing/metadata.go
Labels: none

Move init to request handler
  publicapi/publicapi.go
  server/handler.go
  server/server.go
  service/multichain/inject.go
  service/multichain/wire_gen.go
  tokenprocessing/tokenprocessing.go
Labels: none

Kafka VMs: more vCPUs, less memory
  secrets/prod/makevars.yaml
Labels: none

Kafka VMs: more vCPUs, less memory (#1509)
  secrets/prod/makevars.yaml
Labels: none

Abstract routing methods
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
  publicapi/publicapi.go
  server/handler.go
  server/server.go
Labels: none
