Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Use imgix to convert GIF media to MP4
  graphql/resolver/schema.resolvers.helpers.go
  service/mediamapper/mediamapper.go
Labels: none

Use imgix to convert GIF media to MP4 (#1354)
  graphql/resolver/schema.resolvers.helpers.go
  service/mediamapper/mediamapper.go
Labels: none

gif instead
  graphql/graphql_test.go
Labels: none

Fix test again
  graphql/graphql_test.go
Labels: none

Fix test again (#1356)
  graphql/graphql_test.go
Labels: none

Update 000141_add_is_fxhash.up.sql
  db/migrations/core/000141_add_is_fxhash.up.sql
Labels: migration

Add hide_socials column
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/queries/core/query.sql
  publicapi/user.go
  sqlc.yaml
Labels: query

Checkin migration
  db/migrations/core/000142_add_user_hide_socials.up.sql
Labels: migration

Incremental syncs
  publicapi/feed.go
  publicapi/merch.go
  publicapi/token.go
  publicapi/user.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/zora/zora.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  util/secrets.go
Labels: none

Fix tests
  graphql/graphql_test.go
  graphql/stub_test.go
  server/inject.go
  service/multichain/multichain.go
Labels: none

Switch to incremental syncing (#1358)
  graphql/graphql_test.go
  graphql/stub_test.go
  publicapi/feed.go
  publicapi/merch.go
  publicapi/token.go
  publicapi/user.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/zora/zora.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  util/secrets.go
Labels: none

Handle parent contracts in reservoir
  service/multichain/reservoir/reservoir.go
Labels: none

Handle parent contracts in reservoir (#1359)
  service/multichain/reservoir/reservoir.go
Labels: none

f
  db/gen/coredb/gallery.sql.go
  db/queries/core/gallery.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/schema/schema.graphql
  publicapi/collection.go
  publicapi/gallery.go
  publicapi/publicapi.go
  secrets/dev/local/app-dev-backend.yaml
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/reservoir/reservoir.go
  service/multichain/zora/zora.go
  service/persist/token.go
  service/persist/token_gallery.go
Labels: query, schema

f
  service/multichain/wlta/wlta.go
Labels: none

f
  wlta.go
  wlta/united_healthcare_uhc_core_direct_2450_cvqk_silver (1).pdf
  wlta/united_healthcare_uhc_core_direct_2450_cvqk_silver.pdf
Labels: none

f
  wlta/united_healthcare_uhc_core_direct_2450_cvqk_silver (1).pdf
  wlta/united_healthcare_uhc_core_direct_2450_cvqk_silver.pdf
Labels: none

Create the gallery_previews materialized view
  db/migrations/core/000142_gallery_previews_view.up.sql
Labels: migration

max chars -> 2000
  publicapi/feed.go
Labels: none

Bump max post chars from 600 -> 2000 (#1360)
  publicapi/feed.go
Labels: none

some new fields
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/digest.go
  emails/emails.go
Labels: query

Remove extra args
  emails/digest.go
  emails/send.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Email fixes from testing
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/digest.go
  emails/email.genqlient.go
  emails/emails.go
  emails/genqlient.yaml
  emails/genqlient/digest.graphql
  emails/handler.go
  emails/send.go
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-emails.yaml
  secrets/prod/emails-server-env.yaml
  service/auth/role.go
  service/persist/wallet.go
Labels: query

Email digest updates (#1361)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/digest.go
  emails/email.genqlient.go
  emails/emails.go
  emails/genqlient.yaml
  emails/genqlient/digest.graphql
  emails/handler.go
  emails/send.go
  graphql/resolver/schema.resolvers.helpers.go
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-emails.yaml
  secrets/prod/emails-server-env.yaml
  service/auth/role.go
  service/persist/wallet.go
Labels: query

Update digest.go
  emails/digest.go
Labels: none

Rename gallery_previews to community_galleries
  db/migrations/core/000142_community_galleries_view.up.sql
Labels: migration

Add floatIDPaginator
  publicapi/pagination.go
Labels: none

Include relevance scores in the community_galleries view
  db/migrations/core/000142_community_galleries_view.up.sql
Labels: migration

Update digest schedule
  Makefile
Labels: none

Parallelize digest fetch
  Makefile
  emails/digest.go
  emails/handler.go
Labels: none

Update digest schedule (#1362)
  Makefile
  emails/digest.go
  emails/handler.go
Labels: none

Fix query escape
  service/rpc/rpc.go
Labels: none

Fix query escape (#1363)
  service/rpc/rpc.go
Labels: none

Catch Grails contracts
  platform/platform.go
  service/multichain/reservoir/reservoir.go
Labels: none

Catch Grails contracts (#1364)
  platform/platform.go
  service/multichain/reservoir/reservoir.go
Labels: none

Don\'t url decode token URIs
  service/persist/token.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Don\'t url decode token URIs (#1365)
  service/persist/token.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Include token media last updated so we can generate preview images
  db/migrations/core/000142_community_galleries_view.up.sql
Labels: migration

Paginate galleries and previews
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/gallery.go
  publicapi/pagination.go
  service/persist/token_media.go
  sqlc.yaml
Labels: query, dataloader, schema

Format GraphQL (again)
  graphql/schema/schema.graphql
Labels: schema
