Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

correct header val
  autosocial/handler.go
  service/farcaster/neynar.go
Labels: none

url encode
  service/farcaster/neynar.go
Labels: none

copy
  autosocial/handler.go
  cmd/main.go
  service/farcaster/neynar.go
Labels: none

append to correct address array
  autosocial/handler.go
Labels: none

don't immediately return
  autosocial/handler.go
Labels: none

fetch social following for farcaster
  autosocial/autosocial.go
  cmd/farcaster_backfill/connections/main.go
  cmd/farcaster_backfill/initial/main.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/publicapi.go
  publicapi/socials.go
  server/handler.go
  server/server.go
  service/farcaster/neynar.go
  service/socialauth/socialauth.go
Labels: query

use generic name when token name not found
  service/notifications/notifications.go
Labels: none

custom windows for admires
  service/notifications/notifications.go
Labels: none

Additional timeout handling + subscription fix
  opensea-streamer/main.go
Labels: none

Additional timeout handling + subscription fix (#1399)
  opensea-streamer/main.go
Labels: none

More logging for websocket streaming
  opensea-streamer/main.go
Labels: none

Fix nil pointer dereference in opensea-streamer
  opensea-streamer/main.go
Labels: none

Add post groups
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

Add post groups (#1400)
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

Update retry.go
  util/retry/retry.go
Labels: none

Remove extra sort
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
Labels: query

Update email schemas
  db/migrations/core/0000146_update_scrubbed_pii_for_users.up.sql
  db/migrations/core/000145_email_verification_split.up.sql
Labels: migration

Fix index error
  publicapi/feed.go
Labels: none

Fix feed index error (#1401)
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

Refactor email-related functionality to use new database columns
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000146_update_scrubbed_pii_for_users.up.sql
  db/queries/core/query.sql
  emails/send.go
  emails/t__utils_test.go
  emails/verify.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/user.go
  service/auth/auth.go
  service/persist/postgres/user.go
  service/persist/user.go
Labels: migration, query

Fix ens pfp
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/token.go
  service/media/media.go
Labels: none

Add isEmailAddressAvailable query
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/user.go
Labels: schema

Fix ens pfp (#1402)
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/token.go
  service/media/media.go
Labels: none

use generic name when token name not found (#1397)
  service/notifications/notifications.go
Labels: none

custom windows for admires (#1398)
  service/notifications/notifications.go
Labels: none

Add Persona functionality for users
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000147_user_persona.up.sql
  db/queries/core/query.sql
  gqlgen.yml
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  service/persist/user.go
  sqlc.yaml
  validate/validate.go
Labels: migration, query, schema

Remove unused query
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Fix filter for identifier
  service/multichain/opensea/opensea.go
Labels: none

Email Updates (#1403)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000145_email_verification_split.up.sql
  db/migrations/core/000146_update_scrubbed_pii_for_users.up.sql
  db/migrations/core/000147_user_persona.up.sql
  db/queries/core/query.sql
  emails/send.go
  emails/t__utils_test.go
  emails/verify.go
  gqlgen.yml
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  service/auth/auth.go
  service/persist/postgres/user.go
  service/persist/user.go
  sqlc.yaml
  validate/validate.go
Labels: migration, query, schema

Fix filter for identifier (#1404)
  service/multichain/opensea/opensea.go
Labels: none

Fix leftover references to PiiEmailAddress
  emails/subscriptions.go
Labels: none

Remove search columns from pii.user_view
  db/migrations/core/000148_fix_pii_user_view.up.sql
Labels: migration

...and also generate sqlc models
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
Labels: none

Add a channel buffer to avoid deadlocks
  opensea-streamer/main.go
Labels: none

Add a channel buffer to avoid deadlocks (#1405)
  opensea-streamer/main.go
Labels: none

Don't convert UserNotFound errors to EmailUnverified
  service/auth/auth.go
Labels: none

Don't convert UserNotFound errors to EmailUnverified (#1406)
  service/auth/auth.go
Labels: none

add asm to email
  emails/send.go
Labels: none

add groups to display anyway
  emails/send.go
Labels: none

remove unused const
  publicapi/socials.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
