Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

not null constraint
  db/migrations/core/000111_l1_chain.up.sql
Labels: migration

use stmt still
  service/persist/postgres/user.go
Labels: none

enable viewerAdmire on Token (#1216)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/admireloaderbyactorandtoken_gen.go
  graphql/dataloader/dataloaders.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
Labels: query, dataloader, schema

reorder checks so comment source returns
  graphql/resolver/schema.resolvers.go
Labels: none

reorder checks so comment source returns (#1220)
  graphql/resolver/schema.resolvers.go
Labels: none

Don't break on missing wallet
  service/persist/postgres/user.go
Labels: none

Don't break on missing wallet (#1221)
  service/persist/postgres/user.go
Labels: none

zora typo
  service/multichain/zora/zora.go
Labels: none

l1 chain check for creators
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/multichain/multichain.go
Labels: query

no unowning for now
  service/multichain/multichain.go
Labels: none

Handle svg pfps
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Handle svg pfps (#1222)
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

less conc
  autosocial/handler.go
Labels: none

less conc (#1223)
  autosocial/handler.go
Labels: none

Add token definitions table
  db/migrations/core/000111_add_token_definitions.up.sql
Labels: migration

zora rest instead of gql
  service/multichain/multichain.go
  service/multichain/zora/zora.go
  service/recommend/userpref/personalize.go
Labels: none

uncomment dev
  service/recommend/userpref/personalize.go
Labels: none

l1 chain and chain address
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000111_l1_chain.up.sql
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/walletloaderbychainaddress_gen.go
  publicapi/wallet.go
  service/auth/auth.go
  service/membership/membership.go
  service/multichain/multichain.go
  service/persist/auth.go
  service/persist/postgres/auth.go
  service/persist/postgres/user.go
  service/persist/postgres/wallet.go
  service/persist/token.go
  service/persist/user.go
  service/persist/wallet.go
  service/socialauth/socialauth.go
  service/user/user.go
  sqlc.yaml
  tokenprocessing/process.go
Labels: migration, query, dataloader

contract chain address
  publicapi/merch.go
  service/multichain/multichain.go
Labels: none

l1 chain (#1219)
  admin/db.go
  admin/user.go
  autosocial/orchestrator/handler.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000111_l1_chain.up.sql
  db/queries/core/query.sql
  docker/postgres/DOCKERFILE
  go.mod
  graphql/dataloader/dataloaders.go
  graphql/dataloader/userloaderbyaddress_gen.go
  graphql/dataloader/walletloaderbychainaddress_gen.go
  graphql/graphql_test.go
  publicapi/merch.go
  publicapi/user.go
  publicapi/wallet.go
  server/inject.go
  server/wire_gen.go
  service/auth/auth.go
  service/membership/membership.go
  service/multichain/multichain.go
  service/multichain/tezos/t__get_tokens_test.go
  service/persist/auth.go
  service/persist/postgres/auth.go
  service/persist/postgres/user.go
  service/persist/postgres/wallet.go
  service/persist/token.go
  service/persist/user.go
  service/persist/wallet.go
  service/socialauth/socialauth.go
  service/user/user.go
  sqlc.yaml
  tokenprocessing/process.go
Labels: migration, query, dataloader

someone posted your work notification
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  publicapi/feed.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
Labels: query

recreate view
  db/migrations/core/000112_temp_creator_view_chain.up.sql
Labels: migration

start l1 contracts
  db/gen/coredb/batch.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000112_contract_l1.up.sql
Labels: migration

l1 contract
  db/gen/coredb/batch.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000112_contract_l1.up.sql
Labels: migration

Begin tokenmanage refactor
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/merch.go
  publicapi/token.go
  publicapi/user.go
  service/notifications/notifications.go
  sqlc.yaml
Labels: migration, query

experience
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

Experience flag for Posts Announcement Modal (#1229)
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

filter by owner
  service/multichain/zora/zora.go
Labels: none

no owner found
  service/multichain/zora/zora.go
Labels: none

Benny/zora rest (#1224)
  service/multichain/multichain.go
  service/multichain/zora/zora.go
Labels: none

l1 queries
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/query.sql.go
  db/queries/core/contract_gallery.sql
  db/queries/core/query.sql
  service/multichain/multichain.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract_gallery.go
Labels: query

Start multichain migration
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/query.sql
  docker/postgres/DOCKERFILE
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/token.go
  service/multichain/multichain.go
  service/persist/postgres/token_gallery.go
  service/tokenmanage/tokenmanage.go
  sqlc.yaml
  tokenprocessing/handler.go
Labels: migration, query

unused field
  service/multichain/multichain.go
Labels: none

Remove token gallery
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/gen/coredb/token_upsert.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/query.sql
  db/queries/core/token_gallery.sql
  db/queries/core/token_upsert.sql
  publicapi/collection.go
  publicapi/token.go
  server/inject.go
  service/multichain/multichain.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/postgres.go
  service/persist/postgres/token_full_details.go
  service/persist/postgres/token_gallery.go
  service/persist/token_gallery.go
Labels: migration, query

Begin tokenprocessing
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token_full_details.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/process.go
Labels: query

Allow transfered pfps
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: query

Allow transfered pfps (#1230)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: query

base
  service/notifications/notifications.go
Labels: none

More tokenprocessing refactor
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_upsert.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/query.sql
  db/queries/core/token_upsert.sql
  service/multichain/multichain.go
  service/persist/postgres/postgres.go
  service/persist/postgres/token_full_details.go
  service/persist/token_gallery.go
  sqlc.yaml
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: migration, query

Update tokenprocessing media upsert
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_upsert.sql.go
  db/queries/core/query.sql
  db/queries/core/token_upsert.sql
  service/multichain/multichain.go
  service/notifications/notifications.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token_full_details.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: query
