Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Remove refresh contract token
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/contract.go
  publicapi/token.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/rpc/ipfs/ipfs.go
  service/task/task.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: none

calculate new balance
  tokenprocessing/process.go
Labels: none

Rename events.contract_id to events.community_id
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000137_community_mentions.up.sql
  db/queries/core/query.sql
  event/event.go
  publicapi/feed.go
  publicapi/interaction.go
  service/persist/postgres/event.go
Labels: migration, query

Testing fixes
  server/server.go
  service/multichain/opensea/opensea.go
Labels: none

Move to OS V2 (#1323)
  graphql/resolver/schema.resolvers.helpers.go
  indexer/metadatas.go
  publicapi/contract.go
  publicapi/token.go
  server/inject.go
  server/wire_gen.go
  service/membership/membership.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/rpc/ipfs/ipfs.go
  service/task/task.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

rewrite paginate replies to use cases... fixes pagination idk why
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

rewrite paginate replies to use cases... fixes pagination idk why (#1325)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

introduce announcement notification type
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

add resolver
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

More contract -> community WIP
  event/event.go
  publicapi/feed.go
  publicapi/interaction.go
  service/persist/event.go
  service/persist/postgres/event.go
Labels: none

introduce announcement notification type (#1326)
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: schema

Move to suggestedUsers
  db/gen/coredb/batch.go
  db/migrations/core/000136_add_user_internal_recommendations.up.sql
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/collection.go
  publicapi/feed.go
  publicapi/publicapi.go
  publicapi/user.go
  server/server.go
  service/recommend/recommend.go
Labels: migration, query, dataloader, schema

Exclude existing follows
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

Use actual communities in the sharedCommunities resolver
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000136_owned_communities_view.up.sql
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/resolver/schema.resolvers.go
  publicapi/pagination.go
  publicapi/user.go
Labels: migration, query, dataloader

Remove sort order
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
Labels: query

max limit, logging, filter owned tokens
  service/multichain/multichain.go
  service/multichain/zora/zora.go
  tokenprocessing/process.go
Labels: none

Minor fixups
  service/recommend/recommend.go
Labels: none

Use actual communities in the sharedCommunities resolver (#1327)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000136_owned_communities_view.up.sql
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/resolver/schema.resolvers.go
  publicapi/pagination.go
  publicapi/user.go
Labels: migration, query, dataloader

webhook for optimistic syncing zora (#1324)
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  service/multichain/multichain.go
  service/multichain/zora/zora.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Add mintUrl to token
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Add mintUrl to token (#1328)
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

refactor
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
Labels: none

Update UserPostedYourWork notifications to notify community creators
  db/gen/coredb/batch.go
  db/queries/core/community.sql
  event/event.go
  publicapi/feed.go
Labels: query

fix merge issues
  service/multichain/multichain.go
  service/multichain/zora/zora.go
Labels: none

incremental creator sync (#1305)
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/fallback.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: schema

event data
  service/persist/event.go
  service/persist/notification.go
Labels: none

todo -digest
  emails/subscriptions.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/persist/email.go
Labels: schema

digest email (#1307)
  Makefile
  activity_stats/astats.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/digest.go
  emails/emails.go
  emails/handler.go
  emails/send.go
  emails/subscriptions.go
  emails/verify.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  middleware/middleware.go
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-emails.yaml
  secrets/prod/emails-server-env.yaml
  service/emails/emails.go
  service/persist/email.go
Labels: query, schema

Remove holder token deletes
  graphql/graphql_test.go
  graphql/stub_test.go
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
Labels: none

Update test
  graphql/graphql_test.go
Labels: none

send
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/emails.go
  emails/handler.go
  emails/send.go
  event/event.go
  graphql/resolver/schema.resolvers.helpers.go
  secrets/dev/emails-server-env.yaml
  secrets/prod/emails-server-env.yaml
  service/notifications/notifications.go
  service/persist/notification.go
Labels: query

response
  emails/send.go
Labels: none

actor workaround
  emails/send.go
Labels: none

queries
  emails/handler.go
Labels: none

all users
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/send.go
  service/persist/event.go
  service/persist/postgres/event.go
Labels: query

Remap contract IDs to community IDs during DB migration
  db/migrations/core/000137_community_mentions.up.sql
Labels: migration

Undeprecate community.creator
  graphql/generated/generated.go
  graphql/schema/schema.graphql
Labels: schema

Add communityById query
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

subject required
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/send.go
  service/persist/postgres/event.go
Labels: query

Include community keys in subtype models
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: schema
