Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Cleanup changes
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  service/multichain/highlight/highlight.go
  service/multichain/multichain.go
  service/task/task.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: query

Update query
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  db/queries/core/query.sql
  publicapi/mint.go
  sqlc.yaml
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: migration, query

Remove debug
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  service/multichain/highlight/highlight.go
  service/multichain/multichain.go
  sqlc.yaml
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: migration

Handle highlight 500 errors
  publicapi/mint.go
  server/inject.go
  server/wire_gen.go
  service/multichain/highlight/highlight.go
Labels: none

Change token_mint_column to hex
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  sqlc.yaml
  tokenprocessing/process.go
Labels: migration

Add prod vars
  publicapi/mint.go
  secrets/prod/backend-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  server/server.go
Labels: none

Move query
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Remove extra error type
  emails/email.genqlient.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Add fail state
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Fix queue name
  secrets/prod/backend-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Fix queue name (#1453)
  secrets/prod/backend-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Catch media errors
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  service/multichain/highlight/highlight.go
  tokenprocessing/process.go
Labels: query

Move success write to trackMint
  tokenprocessing/process.go
Labels: none

Remove extra status
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

Highlight - catch media processing errors (#1454)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  service/multichain/highlight/highlight.go
  tokenprocessing/process.go
Labels: query, schema

More decoding fixes for DecimalTokenID
  service/persist/token.go
Labels: none

Fix scan/decode for DecimalTokenID (#1455)
  service/persist/token.go
Labels: none

Add verified email addresses to the SendGrid marketing list
  emails/emails.go
  emails/verify.go
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-emails.yaml
  secrets/prod/emails-server-env.yaml
Labels: none

Add verified email addresses to the SendGrid marketing list (#1456)
  emails/emails.go
  emails/verify.go
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-emails.yaml
  secrets/prod/emails-server-env.yaml
Labels: none

Fix farcaster user joined notification
  event/event.go
  publicapi/socials.go
  service/farcaster/neynar.go
Labels: none

Fix farcaster user joined notification (#1457)
  event/event.go
  publicapi/socials.go
  service/farcaster/neynar.go
Labels: none

Update MaxChainValue to base
  service/persist/token.go
Labels: none

Get rid of the ActiveStatus property on NeynarUser
  autosocial/handler.go
  service/farcaster/neynar.go
Labels: none

Get rid of the ActiveStatus property on NeynarUser (#1458)
  autosocial/handler.go
  service/farcaster/neynar.go
Labels: none

Refactor nonce-based auth
  adminapi/admin.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/nonce.sql.go
  db/migrations/core/000157_refactor_nonces.up.sql
  db/queries/core/nonce.sql
  debugtools/debugtools_common.go
  graphql/fixture_test.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/auth.go
  publicapi/merch.go
  publicapi/user.go
  service/auth/auth.go
  service/auth/privy/privy.go
  service/multichain/indexer/indexer.go
  service/multichain/multichain.go
  service/multichain/tezos/tezos.go
  service/persist/auth.go
  service/persist/postgres/auth.go
  service/persist/postgres/postgres.go
  service/user/user.go
Labels: migration, query, schema

Get rid of unused interface
  service/persist/wallet.go
Labels: none

Add usersByAddresses query
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/user.go
Labels: schema

Allow optionally importing verified Farcaster addresses via autosocial
  autosocial/autosocial.go
  autosocial/handler.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  service/farcaster/neynar.go
  service/persist/postgres/user.go
  service/task/task.go
Labels: schema

Format GraphQL
  graphql/schema/schema.graphql
Labels: schema

Filter entries with unsupported chains from search results
  graphql/resolver/schema.resolvers.go
Labels: none

Filter entries with unsupported chains from search results (#1459)
  graphql/resolver/schema.resolvers.go
Labels: none

Add BaseSepolia to schema
  emails/email.genqlient.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/schema/schema.graphql
  service/persist/token.go
Labels: schema

Add highlight env to sandbox
  secrets/dev/backend-sandbox-env.yaml
Labels: none

Add restrictEnvironment to mint mutation
  graphql/generated/generated.go
  graphql/schema/schema.graphql
Labels: schema

Add restrictEnvironment to mint mutation (#1460)
  graphql/generated/generated.go
  graphql/schema/schema.graphql
Labels: schema

Update tokenprocessing endpoint
  secrets/dev/backend-sandbox-env.yaml
Labels: none

Update tokenprocessing endpoint (#1461)
  secrets/dev/backend-sandbox-env.yaml
Labels: none

Add alchemy env
  secrets/dev/backend-sandbox-env.yaml
Labels: none

Refactor table constraints
  db/gen/coredb/query.sql.go
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  db/queries/core/query.sql
  emails/email.genqlient.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/mint.go
  publicapi/publicapi.go
  service/persist/token.go
  tokenprocessing/tokenprocessing.go
Labels: migration, query, schema

Rename mint columns
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/mint.go
  service/multichain/highlight/highlight.go
  sqlc.yaml
  tokenprocessing/process.go
Labels: migration, query, schema
