Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Add packable and unpackable
  publicapi/collection.go
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/pagination_test.go
  publicapi/publicapi.go
  publicapi/user.go
Labels: none

Remove even more boilerplate
  publicapi/pagination.go
Labels: none

Uncomment test
  publicapi/pagination_test.go
Labels: none

Cursor refactor (#1165)
  publicapi/collection.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/pagination.go
  publicapi/pagination_test.go
  publicapi/publicapi.go
  publicapi/user.go
Labels: none

initial version, just one provider
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  secrets/local/local/app-local-backend.yaml
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/fallback.go
  service/multichain/multichain.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract_gallery.go
  service/persist/token_gallery.go
Labels: schema

remove useless limit,offset
  service/multichain/alchemy/alchemy.go
  service/multichain/fallback.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/t__get_tokens_test.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: none

opensea
  service/multichain/opensea/opensea.go
Labels: none

Handle token loading
  db/gen/coredb/batch.go
  db/gen/coredb/gallery.sql.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/resolver/schema.resolvers.go
  publicapi/user.go
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-backend.yaml
  service/rpc/ipfs/ipfs.go
Labels: query, dataloader

Fix zora: convert tokenID to decimal
  service/multichain/zora/zora.go
Labels: none

Add wallet if user is not deleted
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Add basic auth to email task handler
  emails/handler.go
  service/task/cloudtask.go
Labels: none

Handle token loading (#1178)
  db/gen/coredb/batch.go
  db/gen/coredb/gallery.sql.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/resolver/schema.resolvers.go
  publicapi/user.go
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-backend.yaml
  service/multichain/zora/zora.go
  service/rpc/ipfs/ipfs.go
Labels: query, dataloader

Make copy of metadata map
  service/multichain/reservoir/reservoir.go
Labels: none

Make copy of metadata map (#1179)
  service/multichain/reservoir/reservoir.go
Labels: none

Rename secret
  emails/emails.go
  emails/handler.go
  server/server.go
  service/task/cloudtask.go
Labels: none

Fix local dev env
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Add email signup (#1176)
  db/gen/coredb/query.sql.go
  db/migrations/core/000106_primary_wallet_nullable.up.sql
  db/queries/core/query.sql
  docker-compose.yml
  emails/emails.go
  emails/handler.go
  emails/verify.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/emails-server-env.yaml
  server/server.go
  service/auth/auth.go
  service/persist/postgres/user.go
  service/persist/user.go
  service/task/cloudtask.go
  service/user/user.go
Labels: migration, query, schema

Add resolver
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
Labels: schema

changes pt.1
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
Labels: schema

changes
  graphql/generated/generated.go
  graphql/model/models_gen.go
  publicapi/interaction.go
Labels: none

Enable Admire Token pt.2 (#1171)
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  db/queries/core/admire.sql
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/tokenadmiresloader_gen.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/admire.go
Labels: query, dataloader, schema

Add query for token media
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  go.mod
  gqlgen.yml
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  service/multichain/multichain.go
Labels: query, schema

Rename validation mutation
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
Labels: schema

Start postTokens update
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/genqlient.yaml
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  validate/validate.go
Labels: schema

Allow opt-in roles
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/auth.go
  publicapi/user.go
  validate/validate.go
Labels: schema

Refactor pipeline to accept token identifier
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  publicapi/publicapi.go
  publicapi/token.go
  service/persist/token_gallery.go
  service/task/cloudtask.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

Refactor metadata refresh
  service/persist/token_processing_jobs.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Allow opt-in roles (#1180)
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/auth.go
  publicapi/user.go
  validate/validate.go
Labels: schema

Rework graphql schemas
  go.mod
  gqlgen.yml
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  service/multichain/multichain.go
  service/multichain/reservoir/reservoir.go
  service/persist/token.go
  service/task/cloudtask.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: schema

Fix tests
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/feed.go
  publicapi/publicapi.go
  publicapi/token.go
  service/task/cloudtask.go
  validate/validate.go
Labels: query

Checkin
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/publicapi.go
  service/multichain/multichain.go
  service/persist/postgres/contract_gallery.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  validate/validate.go
Labels: query, schema

Add token manager
  tokenprocessing/process.go
Labels: none

Fix import cycle
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/redis/redis.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Add constructor
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/redis/redis.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

base
  db/queries/core/query.sql
  event/event.go
  graphql/model/models.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/event.go
Labels: query

Update media resolver
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/publicapi.go
  publicapi/token.go
  service/tokenmanage/tokenmanage.go
Labels: none

Fix tests
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
Labels: none

Fix sync test
  graphql/graphql_test.go
Labels: none

fix tests
  graphql/stub_test.go
  secrets/local/local/app-local-backend.yaml
Labels: none

Temp: turn off CI for deploys
  .github/workflows/deployer.yml
  .github/workflows/tests.yml
Labels: none
