Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

remove name
  db/queries/core/query.sql
Labels: query

Syncing test refactor
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
  service/multichain/multichain.go
Labels: none

Refactor tests to use persist types
  graphql/graphql_test.go
  graphql/stub_test.go
Labels: none

Fix slow token delete
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
Labels: query

Add universal clause to username query
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

PR and lint fixes
  db/gen/coredb/tmp_token_normalization_backfill.sql.go
  db/queries/core/tmp_token_normalization_backfill.sql
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/merch.go
  publicapi/token.go
  server/inject.go
  server/wire_gen.go
  service/persist/postgres/token.go
  service/persist/token.go
  service/persist/token_gallery.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: query

Remove unused type
  db/migrations/core/000112_token_norm_add_token_definition_constraints.up.sql
  sqlc.yaml
Labels: migration

base (#1231)
  service/notifications/notifications.go
Labels: none

Better not found error handling, v1
  cmd/dataloaders/generator/generator.go
  cmd/dataloaders/generator/template.go
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
Labels: dataloader

Rename numAssigned to numCallers
  cmd/dataloaders/generator/dataloader.go
Labels: none

Add getNotFoundError implementations for existing pgx.ErrNoRows cases
  cmd/dataloaders/generator/generator.go
  graphql/dataloader/dataloaders.go
  graphql/dataloader/notfound.go
  service/persist/token_media.go
Labels: dataloader

Fix migration order
  cmd/token_normalization_migrate/main.go
  db/migrations/core/000114_token_norm_add_token_definition_constraints.up.sql
  db/migrations/core/000115_token_norm_update_feed_entity_score_view.up.sql
Labels: migration

Migration script fixups
  cmd/token_normalization_migrate/main.go
Labels: none

Migration improvements
  cmd/token_normalization_migrate/main.go
  db/migrations/core/000114_token_norm_add_token_definition_constraints.up.sql
Labels: migration

Optimize community resolvers
  cmd/token_normalization_migrate/main.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000114_token_norm_add_token_definition_constraints.up.sql
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/token.go
  publicapi/wallet.go
  server/inject.go
  server/wire_gen.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: migration, query

Update the README with docs for pgx.ErrNoRows
  cmd/dataloaders/README.md
  cmd/dataloaders/generator/generator.go
Labels: none

make sqlc-generate after merging main
  db/gen/coredb/query.sql.go
Labels: none

Fix tests
  cmd/dataloaders/generator/generator.go
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  publicapi/feed.go
Labels: query, dataloader

Fix empty media ID validation errors
  graphql/resolver/schema.resolvers.go
Labels: none

Fix empty media ID validation errors (#1239)
  graphql/resolver/schema.resolvers.go
Labels: none

Add missing line to contract_creators view
  db/migrations/core/000113_contract_creators_fix.up.sql
Labels: migration

farcaster auth works
  autosocial/autosocial.go
  autosocial/handler.go
  go.mod
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/publicapi.go
  publicapi/socials.go
  publicapi/user.go
  secrets/dev/autosocial-env.yaml
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-autosocial.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/autosocial-env.yaml
  secrets/prod/backend-env.yaml
  server/server.go
  service/farcaster/neynar.go
  service/socialauth/socialauth.go
  service/task/cloudtask.go
Labels: schema

check current signer first
  service/socialauth/socialauth.go
Labels: none

Replace with loader
  publicapi/token.go
  service/multichain/multichain.go
Labels: none

Remove imports
  publicapi/token.go
Labels: none

Make go vet happy
  cmd/dataloaders/generator/template.go
  graphql/dataloader/dataloaders_gen.go
Labels: dataloader

Handle ErrNoRows
  cmd/token_normalization_migrate/main.go
  service/multichain/multichain.go
  service/persist/postgres/token_gallery.go
Labels: none

Remove WAL
  db/migrations/core/000114_token_norm_add_token_definition_constraints.up.sql
Labels: migration

Fix tests
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

zora prefixed token ID, notif type, creator token l1 lookup
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/multichain/multichain.go
  service/multichain/zora/zora.go
  service/persist/wallet.go
Labels: schema

Allow syncing other chains
  publicapi/token.go
  service/multichain/multichain.go
Labels: none

fetcher
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

zora prefixed token ID, notif type, creator token l1 lookup (#1242)
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/multichain/multichain.go
  service/multichain/zora/zora.go
  service/persist/wallet.go
Labels: schema

Add gcp project env var
  secrets/dev/emails-server-env.yaml
Labels: none

write auth tracking
  service/socialauth/socialauth.go
Labels: none

return in gql type
  autosocial/handler.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
  publicapi/user.go
  service/farcaster/neynar.go
Labels: schema

sops
  secrets/dev/autosocial-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/prod/autosocial-env.yaml
Labels: none

write auth for farcaster and lens (#1237)
  autosocial/autosocial.go
  autosocial/handler.go
  docker-compose.yml
  go.mod
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/publicapi.go
  publicapi/socials.go
  publicapi/user.go
  secrets/dev/autosocial-env.yaml
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-autosocial.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/autosocial-env.yaml
  secrets/prod/backend-env.yaml
  server/server.go
  service/farcaster/neynar.go
  service/lens/lens.go
  service/socialauth/socialauth.go
  service/task/cloudtask.go
Labels: schema

farcaster
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
  service/farcaster/neynar.go
  service/lens/lens.go
Labels: schema

contract event fill out
  service/persist/postgres/event.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
