Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Keep query strings
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Fxhash gateway
  graphql/resolver/schema.resolvers.helpers.go
  service/rpc/ipfs/ipfs.go
Labels: none

Add query param clean
  secrets/dev/local/app-dev-backend.yaml
  service/rpc/ipfs/ipfs.go
  tokenprocessing/media.go
Labels: none

Add fxhash specific gateway (#1311)
  graphql/resolver/schema.resolvers.helpers.go
  service/rpc/ipfs/ipfs.go
  tokenprocessing/media.go
Labels: none

don't wait for lock, just end
  emails/emails.go
  emails/send.go
Labels: none

don't wait for lock, just end (#1315)
  emails/emails.go
  emails/send.go
Labels: none

no renotify, slower cron (#1314)
  Makefile
  activity_stats/handler.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/resolver/schema.resolvers.helpers.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
  service/persist/user.go
Labels: query

realign trait name
  service/persist/user.go
Labels: none

user facing, send
  emails/digest.go
  emails/emails.go
  emails/handler.go
  emails/send.go
  publicapi/feed.go
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-emails.yaml
  secrets/prod/emails-server-env.yaml
  service/persist/email.go
Labels: none

retool key
  secrets/dev/emails-server-env.yaml
  secrets/prod/emails-server-env.yaml
Labels: none

more fields
  emails/digest.go
  emails/send.go
Labels: none

requests, not pub
  activity_stats/astats.go
  emails/emails.go
  emails/handler.go
  emails/send.go
  middleware/middleware.go
Labels: none

Keep query strings
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Add schema
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

Add resolvers
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/migrations/core/000131_add_post_mint_url.up.sql
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/feed.go
  secrets/dev/local/app-dev-backend.yaml
  util/helpers.go
Labels: migration, query

Add mint link to posts (#1316)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/migrations/core/000131_add_post_mint_url.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  util/helpers.go
Labels: migration, query, schema

Keep query strings
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Add friend resolver
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/collection.go
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/user.go
  util/helpers.go
  util/sort/sort.go
Labels: schema

Remove extra token query
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  publicapi/token.go
Labels: query, dataloader

Fix tests
  publicapi/pagination_test.go
  publicapi/user.go
Labels: none

Convert paginators to generics
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  publicapi/collection.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/notifications.go
  publicapi/pagination.go
  publicapi/socials.go
  publicapi/token.go
  publicapi/user.go
Labels: query

comment total on feed entities
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
Labels: query, schema

Most of the owl
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/migrations/core/000107_communities.up.sql
  db/migrations/core/000126_communities.up.sql
  db/queries/core/community.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/community.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/token.go
  publicapi/user.go
  service/multichain/artblocks.go
  service/multichain/multichain.go
  service/multichain/prohibition.go
  service/persist/community.go
  service/persist/postgres/community.go
  service/redis/redis.go
  sqlc.yaml
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
  util/helpers.go
Labels: migration, query, dataloader, schema

Generate sqlc and gqlgen stuff
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
Labels: none

Return concrete types instead of interface
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/pagination_test.go
  publicapi/user.go
Labels: query

recalculate badges manually
  activity_stats/astats.go
  activity_stats/handler.go
Labels: none

Post-merge cleanup and fixes
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000132_communities.up.sql
  db/queries/core/community.sql
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/user.go
  service/multichain/artblocks.go
  service/multichain/multichain.go
  service/persist/postgres/community.go
Labels: migration, query

Add a few more missing resolvers
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/token.go
Labels: query, dataloader

find contract details and more preview images
  emails/digest.go
Labels: none

make
  Makefile
  emails/send.go
  secrets/prod/emails-server-env.yaml
Labels: none

schedules
  Makefile
Labels: none

mimic backend auth
  emails/digest.go
  emails/send.go
  publicapi/feed.go
Labels: none

comment total on feed entities (#1317)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
Labels: query, schema

recalculate badges manually (#1318)
  activity_stats/astats.go
  activity_stats/handler.go
Labels: none

timezone
  Makefile
Labels: none

unsubscribe group
  emails/emails.go
  emails/subscriptions.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/persist/email.go
Labels: schema

More refactoring
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000132_add_user_internal_recommendations.up.sql
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  publicapi/collection.go
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/publicapi.go
  publicapi/user.go
  util/helpers.go
  util/sort/sort.go
Labels: migration, query

Fix for deprecated token.community field
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  service/persist/community.go
Labels: none

accidental is null
  .vscode/settings.json
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

accidental is null (#1319)
  .vscode/settings.json
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query
