Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

more cleanup
  graphql/generated/generated.go
  graphql/graphql_test.go
  graphql/testdata/operations.graphql
Labels: none

remove comments
  publicapi/interaction.go
Labels: none

Enable Admire Token pt1 (#1160)
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000105_admire_token.up.sql
  db/queries/core/admire.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/interaction.go
  service/persist/admire.go
  service/persist/postgres/admire.go
Labels: migration, query, schema

base
  db/gen/coredb/gallery.sql.go
  graphql/dataloader/admireloaderbyactorandtoken_gen.go
  graphql/dataloader/dataloaders.go
  graphql/dataloader/tokenadmiresloader_gen.go
  publicapi/interaction.go
  service/persist/admire.go
Labels: dataloader

generate working
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  publicapi/interaction.go
Labels: query, dataloader

added admires connection on Token
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

lint
  graphql/schema/schema.graphql
Labels: schema

generated
  graphql/generated/generated.go
Labels: none

mentions table
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000106_comments_deletable.up.sql
  db/queries/core/query.sql
  emails/t__utils_test.go
  graphql/dataloader/dataloaders.go
  graphql/dataloader/mentionsloaderbyid_gen.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/interaction.go
  service/persist/comment.go
  service/persist/postgres/comment.go
  service/persist/postgres/event.go
Labels: migration, query, dataloader, schema

notification
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  service/notifications/notifications.go
Labels: query

rename migration, fix queries, rename index
  db/migrations/core/000106_mentions_comments.up.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/postgres/comment.go
Labels: migration, schema

fetch collection with refresh on name = address
  service/multichain/reservoir/reservoir.go
Labels: none

or empty
  service/multichain/reservoir/reservoir.go
Labels: none

Benny/mention data new (#1170)
  db/gen/coredb/batch.go
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000106_comments_deletable.up.sql
  db/migrations/core/000106_mentions_comments.up.sql
  db/queries/core/query.sql
  emails/t__utils_test.go
  event/event.go
  graphql/dataloader/dataloaders.go
  graphql/dataloader/mentionsloaderbyid_gen.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/comment.go
  service/persist/persist.go
  service/persist/postgres/comment.go
  service/persist/postgres/event.go
  sqlc.yaml
Labels: migration, query, dataloader, schema

fetch collection with refresh on name = address (#1172)
  service/multichain/reservoir/reservoir.go
Labels: none

refresh tokens on fetch metadata
  service/multichain/reservoir/reservoir.go
Labels: none

fetch descriptors
  server/inject.go
  server/wire_gen.go
  service/multichain/reservoir/reservoir.go
Labels: none

don't continue when no descriptor fetchers
  service/multichain/multichain.go
Labels: none

refresh tokens on fetch metadata (#1173)
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/multichain/reservoir/reservoir.go
Labels: none

fix conflicts
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
Labels: none

typo in if statement check
  service/multichain/multichain.go
Labels: none

properly set query in req
  service/multichain/reservoir/reservoir.go
Labels: none

properly set query in req (#1174)
  service/multichain/reservoir/reservoir.go
Labels: none

Handle feed deletes
  publicapi/feed.go
Labels: none

Handle feed deletes (#1175)
  publicapi/feed.go
Labels: none

some req changes
  graphql/dataloader/dataloaders.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/admire.go
Labels: dataloader, schema

added conditional
  db/queries/core/query.sql
Labels: query

combining loader to pagination
  db/queries/core/admire.sql
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/interaction.go
Labels: query

gen working
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  graphql/dataloader/admireloaderbyactorandtoken_gen.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  publicapi/interaction.go
Labels: dataloader

test passing
  db/gen/coredb/admire.sql.go
  db/queries/core/admire.sql
Labels: query

Update magic auth
  docker-compose.yml
  emails/emails.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/backend-env.yaml
  server/server.go
  service/auth/auth.go
  service/persist/postgres/user.go
  service/persist/user.go
Labels: schema

Add success response
  emails/verify.go
  server/server.go
Labels: none

Update local dev email host
  emails/handler.go
  emails/verify.go
  secrets/dev/local/app-dev-backend.yaml
Labels: none

First cut
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000105_primary_wallet_nullable.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  service/auth/auth.go
  service/persist/postgres/user.go
  service/persist/user.go
  service/user/user.go
Labels: migration, query, schema

Refactor user creation
  emails/handlers.go
  emails/send.go
  emails/verify.go
  publicapi/user.go
  service/task/cloudtask.go
  service/user/user.go
Labels: none

Clean up comments
  emails/handler.go
  emails/send.go
  emails/verify.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/user.go
  service/auth/auth.go
  service/persist/postgres/user.go
Labels: none

Actually add primary wallet if it exists
  db/migrations/core/000106_primary_wallet_nullable.up.sql
  graphql/schema/schema.graphql
  publicapi/user.go
  service/persist/postgres/user.go
Labels: migration, schema

Add primary wallet
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/persist/postgres/user.go
Labels: query

Fix typo
  publicapi/pagination.go
Labels: none

Make refresh JWT expiration longer
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/prod/backend-env.yaml
  server/server.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
