Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Fix nil pointer dereference when basic auth fails
  graphql/resolver/handlers.go
Labels: none

Add pausing contracts
  service/tokenmanage/tokenmanage.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Add sentry report
  service/tokenmanage/tokenmanage.go
Labels: none

Tokenprocessing - Add pausing contracts (#1417)
  service/tokenmanage/tokenmanage.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Use tokenID helper
  service/eth/eth.go
Labels: none

Use tokenID helper (#1418)
  service/eth/eth.go
Labels: none

Stop providers from getting blocked on an abandoned channel
  service/multichain/multichain.go
  service/multichain/wrapper/wrapper.go
Labels: none

Stop providers from getting blocked on an abandoned channel (#1419)
  service/multichain/multichain.go
  service/multichain/wrapper/wrapper.go
Labels: none

get sendgrid unsubscriptions to sync (#1408)
  emails/handler.go
  emails/subscriptions.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  service/emails/emails.go
Labels: schema

skip view gallery notifs (#1409)
  emails/handler.go
  emails/send.go
  emails/t__utils_test.go
Labels: none

Fix creator token sync deletions, but also stop deleting creator tokens
  service/multichain/multichain.go
Labels: none

Fix creator token sync deletions, but also stop deleting creator tokens (#1420)
  service/multichain/multichain.go
Labels: none

Implement alchemy batch
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
  tokenprocessing/metadata.go
  tokenprocessing/pipeline.go
  tokenprocessing/tokenprocessing.go
  util/response.go
Labels: none

Fix loop var bug
  service/multichain/alchemy/alchemy.go
  service/multichain/wrapper/wrapper.go
  tokenprocessing/metadata.go
Labels: none

Smarter retries
  server/server.go
  service/multichain/wrapper/wrapper.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/reprocess.go
  tokenprocessing/tokenprocessing.go
Labels: none

Add metadata service
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/metadata.go
Labels: none

Rename methods
  server/inject.go
  server/wire_gen.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/process.go
Labels: none

Use collection slug
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
  service/tokenmanage/tokenmanage.go
Labels: none

Add batcher to chain reqs
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/tokenmanage/tokenmanage.go
Labels: none

Add zora batch
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/opensea/opensea.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: none

Only point to valid token defs
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
Labels: query

Simplify consumeF
  server/server.go
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Jarrel/pipeline metadata retries (#1421)
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/tezos.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/metadata.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/reprocess.go
  tokenprocessing/tokenprocessing.go
  util/response.go
Labels: none

Only cache valid results
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
Labels: none

Only cache valid results (#1422)
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
Labels: none

Get rid of accidentally committed SQL statements
  db/queries/core/query.sql
Labels: query

Fix wrapper cache func
  service/multichain/wrapper/wrapper.go
  service/tokenmanage/tokenmanage.go
Labels: none

Add support for Privy auth
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000149_add_privy_users.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/auth.go
  publicapi/publicapi.go
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/backend-env.yaml
  service/auth/auth.go
  service/auth/privy/privy.go
  service/persist/postgres/user.go
  service/persist/user.go
Labels: migration, query, schema

Fix wrapper cache func (#1423)
  service/multichain/wrapper/wrapper.go
  service/tokenmanage/tokenmanage.go
Labels: none

Add support for Privy auth (#1424)
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000149_add_privy_users.up.sql
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/auth.go
  publicapi/publicapi.go
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/backend-env.yaml
  service/auth/auth.go
  service/auth/privy/privy.go
  service/persist/postgres/user.go
  service/persist/user.go
Labels: migration, query, schema

Make privy.user_id "not null"
  db/migrations/core/000150_privy_users_not_null.up.sql
Labels: migration

Use correct env var name for Privy verification key
  service/auth/privy/privy.go
Labels: none

Add community-based mint links and overrides
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000151_community_mint_url.up.sql
  graphql/resolver/schema.resolvers.go
Labels: migration

Add community-based mint links and overrides (#1425)
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000151_community_mint_url.up.sql
  graphql/resolver/schema.resolvers.go
Labels: migration

Add multichain unchecked methhod
  indexer/hook.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  tokenprocessing/process.go
  validate/validate.go
Labels: none

Turn on streamer again
  indexer/hook.go
  opensea-streamer/main.go
  service/multichain/multichain.go
  service/multichain/zora/zora.go
  service/persist/token.go
  service/task/task.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: none

Add docstrings
  server/inject.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
Labels: none

Re-enable OS streamer (#1426)
  indexer/hook.go
  opensea-streamer/main.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  service/persist/token.go
  service/task/task.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  validate/validate.go
Labels: none

add the other unsub types
  emails/emails.go
  emails/subscriptions.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/persist/email.go
Labels: schema

custom subject in digest values overrides
  emails/digest.go
  emails/send.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
