Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Refactor pipeline
  service/persist/token_processing_jobs.go
  tokenprocessing/handler.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Fixes from testing
  tokenprocessing/handler.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Allow a task client to use a different send function
  service/task/cloudtask.go
Labels: none

Handle bad token err
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
Labels: none

update token received notifications copy
  service/notifications/notifications.go
Labels: none

You
  service/notifications/notifications.go
Labels: none

Update token received notifications copy (#1269)
  service/notifications/notifications.go
Labels: none

Fix sign
  tokenprocessing/media.go
Labels: none

Rename
  tokenprocessing/pipeline.go
Labels: none

base
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/model/models.go
  graphql/resolver/schema.resolvers.helpers.go
  service/notifications/notifications.go
  service/persist/postgres/event.go
Labels: query

minor
  service/notifications/notifications.go
Labels: none

Handle reader errors
  tokenprocessing/media.go
Labels: none

Pass ctx to CoreInitServer
  pushnotifications/pushnotifications.go
Labels: none

Use task.Client in tokenprocessing handler
  tokenprocessing/handler.go
Labels: none

report sentry, naming, missing return
  publicapi/feed.go
  service/notifications/notifications.go
Labels: none

Fix token admire notifications
  db/gen/coredb/admire.sql.go
  db/gen/coredb/query.sql.go
  db/queries/core/admire.sql
  db/queries/core/query.sql
  event/event.go
  service/notifications/notifications.go
  service/persist/postgres/admire.go
  service/persist/postgres/event.go
  service/sentry/sentry.go
Labels: query

notification handling for posting first post [GAL-4716] (#1264)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  service/notifications/notifications.go
  service/persist/event.go
Labels: query, schema

Configure direct dispatch via environment variables
  graphql/graphql_test.go
  service/task/cloudtask.go
Labels: none

Remove unused fixtures
  graphql/fixture_test.go
Labels: none

Fix token preview queries
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

Fix token preview queries (#1272)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

Tokenprocessing pipeline updates (#1268)
  service/persist/token_processing_jobs.go
  tokenprocessing/handler.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Skip lowercasing of IPFS uris
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Skip lowercasing of IPFS uris (#1273)
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Post migration cleanup
  db/migrations/core/000124_token_norm_migration_cleanup.up.sql
Labels: migration

Run sqlc
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000124_token_norm_migration_cleanup.up.sql
  service/rpc/rpc.go
  tokenprocessing/media.go
  tokenprocessing/process.go
Labels: migration

generate many ids for user post first post
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

generate many ids for user post first post (#1274)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

Post migration cleanup (#1275)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000124_token_norm_migration_cleanup.up.sql
  service/rpc/rpc.go
  tokenprocessing/media.go
  tokenprocessing/process.go
Labels: migration

Fix token admire notifications (#1271)
  db/gen/coredb/admire.sql.go
  db/gen/coredb/query.sql.go
  db/queries/core/admire.sql
  db/queries/core/query.sql
  event/event.go
  service/notifications/notifications.go
  service/persist/postgres/admire.go
  service/persist/postgres/event.go
  service/sentry/sentry.go
Labels: query

Pipeline bug fixes
  tokenprocessing/pipeline.go
  util/helpers.go
Labels: none

show nested comments as a flat list
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000125_reply_ancestors.up.sql
  db/queries/core/query.sql
  service/persist/postgres/comment.go
Labels: migration, query

Pipeline bug fixes (#1277)
  tokenprocessing/pipeline.go
  util/helpers.go
Labels: none

Notification tests finally work regardless of test run order
  graphql/fixture_test.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/testdata/operations.graphql
  service/task/cloudtask.go
Labels: none

Post-merge fix
  service/notifications/notifications.go
Labels: none

add distinct clause to first post insert
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

add distinct clause to first post insert (#1279)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

Add retries when attempting to connect to Postgres
  server/server.go
  service/persist/postgres/postgres.go
Labels: none

start new service
  .dockerignore
  activity_stats/astats.go
  activity_stats/handler.go
  cmd/activity_stats/main.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  docker/activity_stats/Dockerfile
  secrets/dev/activitystats-env.yaml
  secrets/dev/local/app-dev-activitystats.yaml
  secrets/prod/activitystats-env.yaml
Labels: query

top level vs nested
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000125_reply_ancestors.up.sql
  db/migrations/core/000125_top_level_comment.up.sql
  db/queries/core/query.sql
  service/persist/postgres/comment.go
  service/recommend/userpref/personalize.go
Labels: migration, query
