Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Add prod secrets
  secrets/prod/local/app-prod-tokennorm.yaml
  secrets/prod/local/certs/client-cert-prod.cer
  secrets/prod/local/certs/client-key-prod.cer
  secrets/prod/local/certs/server-ca-prod.cer
Labels: none

Migrate script fixes
  cmd/token_normalization_migrate/main.go
  secrets/dev/local/app-dev-tokennorm.yaml
  secrets/dev/local/certs/client-cert-dev.cer
  secrets/dev/local/certs/client-key-dev.cer
  secrets/dev/local/certs/server-ca-dev.cer
Labels: none

Bump pool size
  cmd/token_normalization_migrate/main.go
Labels: none

Move contraints outside of txn
  cmd/token_normalization_migrate/main.go
  secrets/dev/local/app-dev-tokennorm.yaml
  secrets/dev/local/certs/client-cert-dev.cer
  secrets/dev/local/certs/client-key-dev.cer
  secrets/dev/local/certs/server-ca-dev.cer
  secrets/prod/local/app-prod-tokennorm.yaml
  secrets/prod/local/certs/client-cert-prod.cer
  secrets/prod/local/certs/client-key-prod.cer
  secrets/prod/local/certs/server-ca-prod.cer
Labels: none

Update migration script (#1253)
  cmd/token_normalization_migrate/main.go
Labels: none

find media urls from media carousel
  cmd/refresh/refresh.go
  service/multichain/zora/zora.go
Labels: none

find media urls from media carousel (#1254)
  cmd/refresh/refresh.go
  service/multichain/zora/zora.go
Labels: none

fix wallet override group check
  service/multichain/multichain.go
  service/multichain/zora/zora.go
Labels: none

fix wallet override group check (#1255)
  service/multichain/multichain.go
  service/multichain/zora/zora.go
Labels: none

Report more push notification errors to Sentry
  service/notifications/notifications.go
Labels: none

Add a comment to explain returning (nil, nil)
  graphql/resolver/schema.resolvers.go
Labels: none

base
  db/gen/coredb/query.sql.go
  event/event.go
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  service/notifications/notifications.go
  service/persist/postgres/event.go
Labels: none

Resolve by contract id
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/token.go
  service/persist/token_definition.go
Labels: query, dataloader

Resolve by contract id (#1259)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/token.go
  service/persist/token_definition.go
Labels: query, dataloader

Exclude spam from shared collections
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Exclude spam from shared collections (#1260)
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Report more push notification errors to Sentry (#1256)
  service/notifications/notifications.go
Labels: none

Re-add missing contract creators error (#1257)
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.go
  service/persist/token_gallery.go
Labels: dataloader

more checks for including creator addresses
  graphql/resolver/schema.resolvers.helpers.go
  service/multichain/alchemy/alchemy.go
  service/multichain/eth/eth.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: none

better rasterizing and log fallback failures
  rasterizer/index.js
  secrets/dev/local/app-dev-backend.yaml
  service/multichain/multichain.go
  service/multichain/zora/zora.go
Labels: none

better rasterizing and log fallback failures (#1262)
  rasterizer/index.js
  secrets/dev/local/app-dev-backend.yaml
  service/multichain/multichain.go
  service/multichain/zora/zora.go
Labels: none

more checks for including creator addresses (#1261)
  graphql/resolver/schema.resolvers.helpers.go
  service/multichain/alchemy/alchemy.go
  service/multichain/eth/eth.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: none

scale down for larger
  cmd/refresh/refresh.go
  rasterizer/index.js
Labels: none

true for push notifications for mentions
  cmd/refresh/refresh.go
  service/notifications/notifications.go
Labels: none

true for push notifications for mentions (#1263)
  cmd/refresh/refresh.go
  service/notifications/notifications.go
Labels: none

notification handling for posting first post
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  publicapi/feed.go
  service/notifications/notifications.go
  service/persist/event.go
Labels: query

gql type
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: schema

truncate further
  service/notifications/notifications.go
Labels: none

post id
  service/notifications/notifications.go
Labels: none

Fix null pointer reference in logFallbackFailure
  service/multichain/multichain.go
Labels: none

new
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

new (#1252)
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Explicit ordering for returned token results
  db/queries/core/query.sql
Labels: query

sqlc generate
  db/gen/coredb/query.sql.go
Labels: none

Fix sqlc column references
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Fix ordering of push tokens (#1265)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Fix sqlc column references (#1266)
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Add return to ActionUserPostedYourWork
  service/notifications/notifications.go
Labels: none

Add return to ActionUserPostedYourWork (#1267)
  service/notifications/notifications.go
Labels: none

Use wrapper struct instead of native cloudtasks client
  autosocial/orchestrator/handler.go
  event/event.go
  feed/handler.go
  feed/server.go
  indexer/hook.go
  indexer/indexer.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/publicapi.go
  publicapi/socials.go
  publicapi/user.go
  server/handler.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/eth/eth.go
  service/notifications/notifications.go
  service/socialauth/socialauth.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
