Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Stream base-sepolia via Kafka (#1524)
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000013_base_sepolia_schema.up.sql
  db/migrations/mirror/000014_base_sepolia.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Index tokens by deployed_via_contract value
  db/migrations/mirror/000015_tokens_deployed_via_contract_index.up.sql
Labels: migration

Add the address type and persist.Address mapping to the mirror db
  db/migrations/mirror/000016_custom_types.up.sql
  sqlc.yaml
Labels: migration

Add the address type and persist.Address mapping to the mirror db (#1525)
  db/migrations/mirror/000016_custom_types.up.sql
  sqlc.yaml
Labels: migration

Export time id paginator
  publicapi/community.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/notifications.go
  publicapi/pagination.go
  publicapi/token.go
  publicapi/user.go
Labels: none

Export time id paginator (#1526)
  publicapi/community.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/notifications.go
  publicapi/pagination.go
  publicapi/token.go
  publicapi/user.go
Labels: none

Export paginate method
  publicapi/community.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/notifications.go
  publicapi/pagination.go
  publicapi/token.go
  publicapi/user.go
Labels: none

Export paginate method (#1527)
  publicapi/community.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/notifications.go
  publicapi/pagination.go
  publicapi/token.go
  publicapi/user.go
Labels: none

Add pagination index
  db/migrations/mirror/000017_add_tokens_pagination_index.up.sql
Labels: migration

Add pagination index (#1528)
  db/migrations/mirror/000017_add_tokens_pagination_index.up.sql
Labels: migration

Use partial index
  db/migrations/mirror/000017_add_tokens_pagination_index.up.sql
Labels: migration

Use partial index (#1529)
  db/migrations/mirror/000017_add_tokens_pagination_index.up.sql
Labels: migration

Add contract table indexes
  db/migrations/mirror/000018_contract_address_index.up.sql
Labels: migration

Remove "concurrently" since migrations appear to be applied in a tx
  db/migrations/mirror/000018_contract_address_index.up.sql
Labels: migration

Add base post commit for moshi
  kafka-streamer/batcher.go
  kafka-streamer/main.go
  secrets/local/local/app-local-kafka-streamer.yaml
  secrets/prod/kafka-streamer-env.yaml
  secrets/prod/local/app-prod-kafka-streamer.yaml
  service/task/task.go
Labels: none

Forward token messages instead
  kafka-streamer/main.go
  service/task/task.go
Labels: none

Stop processing events on Base Sepolia
  kafka-streamer/main.go
Labels: none

Start converting all extra_metadata to JSONB
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000019_tokens_extra_metadata_jsonb.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Add index on owners(contract, token_id, quantity, first_acquired)
  db/migrations/mirror/000020_owners_quantity_index.up.sql
Labels: migration

Store jsonb extra_metadata correctly
  db/gen/mirrordb/batch.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: query

Stop processing Ethereum messages for now
  kafka-streamer/main.go
Labels: none

More JSONB fixes
  db/gen/mirrordb/batch.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: query

Log invalid JSONB errors
  kafka-streamer/main.go
Labels: none

Revert HicEtNunc metadata parsing
  platform/platform.go
Labels: none

Include artifactUri in metadata
  service/multichain/simplehash/simplehash.go
  service/persist/token.go
Labels: none

Include artifactUri in metadata (#1532)
  service/multichain/simplehash/simplehash.go
  service/persist/token.go
Labels: none

Upgrade version of ffmpeg
  Makefile
Labels: none

Upgrade version of ffmpeg (#1533)
  Makefile
Labels: none

Add moshicam migrations
  db/migrations/mirror/000021_add_moshicam_schema.up.sql
  db/migrations/mirror/000022_ksuid_function.up.sql
  db/migrations/mirror/000023_add_token_tags.up.sql
Labels: migration

Add moshicam migrations (#1534)
  db/migrations/mirror/000021_add_moshicam_schema.up.sql
  db/migrations/mirror/000022_ksuid_function.up.sql
  db/migrations/mirror/000023_add_token_tags.up.sql
Labels: migration

Update gallery_migrator access
  secrets/prod/makevars.yaml
Labels: none

Use Base types directly instead of casting from Ethereum types
  kafka-streamer/main.go
Labels: none

Use Base types directly instead of casting from Ethereum types (#1535)
  kafka-streamer/main.go
Labels: none

Use object pooling to reduce memory allocations
  go.mod
  go.sum
  kafka-streamer/batcher.go
  kafka-streamer/main.go
  kafka-streamer/objectpool.go
Labels: none

Add nsfw_tokens table
  db/migrations/mirror/000024_add_nsfw_tokens.up.sql
Labels: migration

Revert "Add nsfw_tokens table"
  db/migrations/mirror/000024_add_nsfw_tokens.up.sql
Labels: migration

Add base sepolia
  service/persist/token.go
Labels: none

Add base sepolia (#1537)
  service/persist/token.go
Labels: none

Include "service" label when deploying
  Makefile
Labels: none

Update prod hardware specs
  secrets/prod/makevars.yaml
Labels: none
