Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Fix tests
  graphql/graphql_test.go
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Optimize init of multichain provider
  graphql/fixture_test.go
  graphql/graphql_test.go
  publicapi/publicapi.go
  secrets/dev/local/app-dev-backend.yaml
  server/handler.go
  server/server.go
  service/multichain/inject.go
  service/multichain/wire_gen.go
  tokenprocessing/tokenprocessing.go
Labels: none

Move wire to multichain package (#1510)
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
  publicapi/publicapi.go
  server/handler.go
  server/inject.go
  server/server.go
  service/multichain/alchemy/alchemy.go
  service/multichain/common/common.go
  service/multichain/config.go
  service/multichain/custom/custom_metadata.go
  service/multichain/infura/infura.go
  service/multichain/inject.go
  service/multichain/multichain.go
  service/multichain/objkt/objkt.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/simplehash/simplehash.go
  service/multichain/tzkt/tzkt.go
  service/multichain/wire_gen.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  tokenprocessing/metadata.go
  tokenprocessing/tokenprocessing.go
Labels: none

Refactor dataloaders into a general-purpose batching struct
  cmd/dataloaders/generator/dataloader.go
  util/batch/batch.go
Labels: none

Refactor dataloaders into a general-purpose batching struct (#1511)
  cmd/dataloaders/generator/dataloader.go
  util/batch/batch.go
Labels: none

Better batch function docs
  util/batch/batch.go
Labels: none

Process Kafka messages in parallel
  kafka-streamer/batcher.go
  kafka-streamer/main.go
Labels: none

Process Kafka messages in parallel (#1512)
  kafka-streamer/batcher.go
  kafka-streamer/main.go
Labels: none

Don't add Radiance mint announcement to new users anymore
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
Labels: query

Don't auto-verify mobile emails anymore
  publicapi/user.go
Labels: none

Remove Radiance launch fixes (#1513)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
Labels: query

Fix kafka-streamer dockerfile build command
  docker/kafka-streamer/Dockerfile
Labels: none

Add 0xen collection
  tokenprocessing/handler.go
Labels: none

Add 0xen collection (#1514)
  tokenprocessing/handler.go
Labels: none

Write all collections into a single table
  db/migrations/mirror/000008_merge_collections_tables.up.sql
  db/queries/mirror/query.sql
Labels: migration, query

Write all collections into a single table (#1515)
  db/migrations/mirror/000008_merge_collections_tables.up.sql
  db/queries/mirror/query.sql
Labels: migration, query

Actually run sqlc-generate
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
Labels: none

Report when a paused contract is tried
  service/tokenmanage/tokenmanage.go
Labels: none

Reduce pause time
  service/tokenmanage/tokenmanage.go
Labels: none

Report paused contract runs to Sentry (#1516)
  service/tokenmanage/tokenmanage.go
Labels: none

Reduce error span to an hour
  service/tokenmanage/tokenmanage.go
Labels: none

Reduce error span to an hour (#1517)
  service/tokenmanage/tokenmanage.go
Labels: none

Add mint url
  graphql/resolver/schema.resolvers.go
Labels: none

Add mint url (#1518)
  graphql/resolver/schema.resolvers.go
Labels: none

Get IDs for contracts/collections to be updated when inserting tokens
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000009_contracts.up.sql
  db/migrations/mirror/000010_collections.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Update local highlight keys
  secrets/local/local/app-local-backend.yaml
Labels: none

Poll highlight for metadata
  secrets/local/local/app-local-tokenprocessing.yaml
  tokenprocessing/process.go
Labels: none

Poll Highlight API for metadata (#1519)
  secrets/local/local/app-local-backend.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  tokenprocessing/process.go
Labels: none

Update contracts/collections with data from the SimpleHash API
  db/gen/mirrordb/query.sql.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
  kafka-streamer/rest/rest.go
  secrets/prod/kafka-streamer-env.yaml
  secrets/prod/local/app-prod-kafka-streamer.yaml
Labels: query

Reduce batch size so requests aren't larger than the SimpleHash limit
  kafka-streamer/main.go
Labels: none

Fill in contract and collection info for tokens via SimpleHash API (#1520)
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/gen/mirrordb/query.sql.go
  db/migrations/mirror/000009_contracts.up.sql
  db/migrations/mirror/000010_collections.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
  kafka-streamer/rest/rest.go
  secrets/prod/kafka-streamer-env.yaml
  secrets/prod/local/app-prod-kafka-streamer.yaml
Labels: migration, query

Handle missing SimpleHash collections when backfilling
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/gen/mirrordb/query.sql.go
  db/migrations/mirror/000011_collection_id_indexes.up.sql
  db/migrations/mirror/000012_collections_deleted_column.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
  kafka-streamer/rest/rest.go
Labels: migration, query

Handle missing SimpleHash collections when backfilling (#1521)
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/gen/mirrordb/query.sql.go
  db/migrations/mirror/000011_collection_id_indexes.up.sql
  db/migrations/mirror/000012_collections_deleted_column.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
  kafka-streamer/rest/rest.go
Labels: migration, query

Handle empty nft_ids from Kafka
  kafka-streamer/batcher.go
  kafka-streamer/main.go
Labels: none

Double highlight retries
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: none

Double highlight retries (#1522)
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: none

posted -> made
  service/notifications/notifications.go
Labels: none

posted -> made (#1523)
  service/notifications/notifications.go
Labels: none

crypto/rand, not math/rand
  service/auth/auth.go
Labels: none

Stream base-sepolia via Kafka
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000013_base_sepolia_schema.up.sql
  db/migrations/mirror/000014_base_sepolia.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query
