Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

break on err
  opensea-streamer/main.go
Labels: none

no log on json err
  opensea-streamer/main.go
Labels: none

marshalling
  tokenprocessing/process.go
Labels: none

no throttling
  Makefile
Labels: none

context logging
  opensea-streamer/main.go
Labels: none

Check CommentID before PostID when determining mentionSource
  graphql/resolver/schema.resolvers.go
Labels: none

Don't set secure cookies when ENV is local
  service/auth/auth.go
Labels: none

Check CommentID before PostID when determining mentionSource (#1345)
  graphql/resolver/schema.resolvers.go
Labels: none

Don't set secure cookies when ENV is local (#1346)
  service/auth/auth.go
Labels: none

first pass
  activity_stats/handler.go
  autosocial/handler.go
  autosocial/orchestrator/orchestrator.go
  emails/digest.go
  emails/send.go
  emails/subscriptions.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  package.json
  rasterizer/index.js
  server/server.go
  service/notifications/notifications.go
  service/persist/email.go
Labels: schema

Use User-Agent to set cookies appropriately for local development
  service/auth/auth.go
Labels: none

Speed up community tokens query for contract communities
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
Labels: query

Log unhandled GraphQL errors
  graphql/resolver/handlers.go
  server/handler.go
Labels: none

Add the trace ID to log messages
  middleware/middleware.go
Labels: none

Add additional context to gin logs via logrus
  server/server.go
  service/logger/logger.go
Labels: none

Improved logging and error reporting (#1349)
  graphql/resolver/handlers.go
  middleware/middleware.go
  server/handler.go
  server/server.go
  service/logger/logger.go
Labels: none

Uncomment something I accidentally commented out. Oops!
  service/logger/logger.go
Labels: none

log
  service/multichain/multichain.go
Labels: none

Speed up community tokens query for contract communities (#1348)
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
Labels: query

Revert "Speed up community tokens query for contract communities (#1348)"
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
Labels: query

comments
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/digest.go
  opensea-streamer/main.go
Labels: query

override with extras
  emails/digest.go
Labels: none

Benny/opensea streaming (#1343)
  .dockerignore
  .github/workflows/deployer.yml
  Makefile
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  docker/opensea-streamer/Dockerfile
  emails/digest.go
  emails/send.go
  go.mod
  go.sum
  opensea-streamer/main.go
  package.json
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-opensea-streamer.yaml
  secrets/dev/makevars.yaml
  secrets/dev/opensea-streamer-env.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/emails-server-env.yaml
  secrets/prod/makevars.yaml
  secrets/prod/opensea-streamer-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  service/redis/redis.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

add more chains
  opensea-streamer/main.go
Labels: none

some new fields
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  emails/digest.go
  emails/emails.go
Labels: query

package json
  package.json
Labels: none

pointer
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: schema

Final Touches (#1347)
  activity_stats/handler.go
  autosocial/handler.go
  autosocial/orchestrator/orchestrator.go
  emails/digest.go
  emails/send.go
  emails/subscriptions.go
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  opensea-streamer/main.go
  package.json
  rasterizer/index.js
  server/server.go
  service/multichain/multichain.go
  service/notifications/notifications.go
  service/persist/email.go
Labels: schema

Revert "Revert "Speed up community tokens query for contract communities (#1348)""
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
Labels: query

More query reordering
  db/gen/coredb/batch.go
  db/queries/core/community.sql
Labels: query

No fallbacks
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
  publicapi/publicapi.go
  server/handler.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/fallback.go
  service/multichain/indexer/indexer.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/objkt/objkt.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/t__get_tokens_test.go
  service/multichain/tezos/t__utils_test.go
  service/multichain/tezos/tezos.go
  service/multichain/tzkt/tzkt.go
  service/multichain/zora/zora.go
  service/persist/token.go
  service/persist/token_processing_jobs.go
  service/rpc/onchfs/onchfs.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  util/numbers.go
Labels: none

Remove benny from CODEOWNERS
  .github/CODEOWNERS
  emails/emails.go
  server/server.go
  service/multichain/infura/infura.go
Labels: none

Change @> to any, since the latter appears to use our gin index
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
Labels: query

Small fixups
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/tzkt/tzkt.go
Labels: none

Pipeline updates (#1351)
  .github/CODEOWNERS
  emails/emails.go
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
  publicapi/publicapi.go
  server/handler.go
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/fallback.go
  service/multichain/indexer/indexer.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/objkt/objkt.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/t__get_tokens_test.go
  service/multichain/tezos/t__utils_test.go
  service/multichain/tezos/tezos.go
  service/multichain/tzkt/tzkt.go
  service/multichain/zora/zora.go
  service/persist/token.go
  service/persist/token_processing_jobs.go
  service/rpc/onchfs/onchfs.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  util/numbers.go
Labels: none

Add missing provider for tezos
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
Labels: none

Add missing provider for tezos (#1352)
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
Labels: none

mod tidy
  go.mod
  go.sum
Labels: none

Add api key
  secrets/prod/opensea-streamer-env.yaml
Labels: none

Add api key (#1353)
  secrets/prod/opensea-streamer-env.yaml
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
