Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Add filter pass (#1147)
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: none

Add decay to personalization scores
  publicapi/feed.go
  service/recommend/recommend.go
Labels: none

Add decay to personalization scores (#1148)
  publicapi/feed.go
  service/recommend/recommend.go
Labels: none

Post-merge cleanup
  service/persist/postgres/token_gallery.go
Labels: none

Creator Sync Optimization (#1135)
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/query.sql
  db/queries/core/token_gallery.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  service/multichain/multichain.go
  service/persist/postgres/token_gallery.go
  util/helpers.go
Labels: query, schema

found usage of non-existent media token column
  cmd/refresh/refresh.go
  db/queries/core/gallery.sql
  sqlc.yaml
Labels: query

actually join
  db/gen/coredb/gallery.sql.go
  db/queries/core/gallery.sql
Labels: query

found usage of non-existent media token column (#1149)
  cmd/refresh/refresh.go
  db/gen/coredb/gallery.sql.go
  db/queries/core/gallery.sql
  sqlc.yaml
Labels: query

l2 providers gaina ccess to metadata
  cmd/refresh/refresh.go
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/redis/redis.go
Labels: none

fetch correctly
  service/multichain/alchemy/alchemy.go
Labels: none

logs
  service/multichain/alchemy/alchemy.go
Labels: none

l2 providers gaina ccess to metadata (#1150)
  cmd/refresh/refresh.go
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/redis/redis.go
Labels: none

Remove one more tokens.media reference + fix a join
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/query.sql.go
  db/queries/core/gallery.sql
  db/queries/core/query.sql
Labels: query

Remove one more tokens.media reference + fix a join (#1151)
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/query.sql.go
  db/queries/core/gallery.sql
  db/queries/core/query.sql
Labels: query

return media url if thumbnail empty
  cmd/refresh/refresh.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

preview use media url for images
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

coalesce thumbnail for image medias
  db/queries/core/query.sql
Labels: query

generate
  db/gen/coredb/query.sql.go
Labels: none

initial implementation
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000105_contract_event.up.sql
  db/queries/core/query.sql
  event/event.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
  service/persist/postgres/event.go
Labels: migration, query, schema

Refactor feed paginator
  .github/workflows/tests.yml
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/pagination_test.go
Labels: none

correct subject, post mentions
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  service/persist/postgres/event.go
Labels: query, schema

resolve community mention correctly
  event/event.go
  graphql/resolver/schema.resolvers.helpers.go
  service/notifications/notifications.go
Labels: none

rever dataloaders changes
  graphql/dataloader/dataloaders.go
Labels: dataloader

remove ownerID and collectionID
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/event.go
  service/persist/postgres/admire.go
Labels: schema

some changes focusing on admiring a token req only
  db/migrations/core/000119_admire_token.up.sql
  db/queries/core/admire.sql
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/interaction.go
Labels: migration, query, schema

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Refactor feed paginator (#1154)
  .github/workflows/tests.yml
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/pagination_test.go
Labels: none

Add includePosts to personal feed
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
Labels: query, schema

Add includePosts to personal feed (#1156)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
Labels: query, schema

Include only posts
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

for loop post values
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/contract.go
Labels: none

for loop post values (#1158)
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/contract.go
Labels: none

optimsitic and new comment/admire push notifications
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

initial comment response
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/persist/postgres/event.go
Labels: query, schema

base
  db/queries/core/admire.sql
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/admire.go
  service/persist/postgres/admire.go
Labels: query, schema

generate working
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/interaction.go
Labels: schema

gen still working
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/00119-admire-nft.up.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.go
Labels: migration

deleted comments and reply pagination
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/repliesloader_gen.go
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
Labels: query, dataloader, schema

test failing
  graphql/graphql_test.go
Labels: none

Include only posts (#1157)
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
