Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

contract event fill out (#1244)
  service/persist/postgres/event.go
Labels: none

no your contract ID
  event/event.go
  service/persist/event.go
  service/persist/notification.go
Labels: none

no int secret
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/prod/backend-env.yaml
Labels: none

fix failing deploys
  emails/emails.go
  secrets/dev/autosocial-env.yaml
  secrets/prod/autosocial-env.yaml
Labels: none

fix failing deploys (#1245)
  emails/emails.go
  secrets/dev/autosocial-env.yaml
  secrets/prod/autosocial-env.yaml
Labels: none

lens double sign
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/socials.go
  publicapi/user.go
  service/lens/lens.go
  service/socialauth/socialauth.go
Labels: schema

complete double sign flow
  publicapi/socials.go
  service/lens/lens.go
  service/socialauth/socialauth.go
Labels: none

Make contract_id non-nullable
  cmd/token_normalization_migrate/main.go
Labels: none

Wrap errors
  graphql/resolver/schema.resolvers.helpers.go
  secrets/dev/emails-server-env.yaml
  service/persist/contract.go
  service/persist/persist.go
  service/persist/token.go
  service/persist/token_definition.go
  service/persist/token_media.go
Labels: none

Change new token rule
  service/multichain/multichain.go
Labels: none

Cleanup media resolving
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/feed.go
  publicapi/token.go
  tokenprocessing/process.go
Labels: query, dataloader

Move repo to multichain
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  service/persist/postgres/postgres.go
Labels: none

Embed definition where possible
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.go
  publicapi/token.go
Labels: query, dataloader

Fix media resolver
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  publicapi/token.go
Labels: query

Remove token repo
  indexer/core.go
  indexer/handler.go
  indexer/indexer.go
  indexer/server.go
  indexer/t__integration_test.go
  indexer/t__utils_test.go
  service/persist/contract.go
  service/persist/postgres/contract.go
  service/persist/postgres/token.go
  service/persist/token.go
Labels: none

Make go vet happy (#1241)
  cmd/dataloaders/generator/template.go
  graphql/dataloader/dataloaders_gen.go
Labels: dataloader

Add clearer comment
  service/multichain/multichain.go
Labels: none

Change CI branch
  .github/workflows/deployer.yml
Labels: none

Turn off dev deploys
  .github/workflows/deployer.yml
Labels: none

Fix yaml
  .github/workflows/deployer.yml
Labels: none

redis
  autosocial/autosocial.go
  cmd/lens_backfill/main.go
Labels: none

fix token query and add better fallback
  cmd/main.go
  service/multichain/zora/zora.go
Labels: none

fix token query and add better fallback (#1246)
  cmd/main.go
  service/multichain/zora/zora.go
Labels: none

query ?
  service/multichain/zora/zora.go
Labels: none

Post-merge cleanup
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/queries/core/community.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/community.go
  service/multichain/multichain.go
  service/multichain/prohibition.go
Labels: query, dataloader

only get collection for feed events
  service/notifications/notifications.go
Labels: none

only get collection for feed events (#1247)
  service/notifications/notifications.go
Labels: none

query ?
  service/multichain/zora/zora.go
Labels: none

fix token query and add better fallback (#1246)
  cmd/main.go
  service/multichain/zora/zora.go
Labels: none

only get collection for feed events (#1247)
  service/notifications/notifications.go
Labels: none

no error out for comment feed event
  service/notifications/notifications.go
Labels: none

no error out for comment feed event (#1248)
  service/notifications/notifications.go
Labels: none

zora descriptors fetcher
  cmd/refresh/refresh.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/multichain/zora/zora.go
Labels: none

zora descriptors fetcher (#1249)
  cmd/refresh/refresh.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/multichain/zora/zora.go
Labels: none

Turn off handlers
  indexer/handler.go
  server/handler.go
  tokenprocessing/handler.go
Labels: none

Turn off handlers (#1250)
  indexer/handler.go
  server/handler.go
  tokenprocessing/handler.go
Labels: none

Turn on routers
  .github/workflows/deployer.yml
  indexer/handler.go
  server/handler.go
  tokenprocessing/handler.go
Labels: none

Bump migration sequence number
  db/migrations/core/000123_contract_creators_fix.up.sql
Labels: migration

Add missing line to contract_creators view (#1240)
  db/migrations/core/000123_contract_creators_fix.up.sql
Labels: migration

Re-add missing contract creators error
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.go
  service/persist/token_gallery.go
Labels: dataloader

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
