Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Sort token.communities results
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
  graphql/resolver/schema.resolvers.helpers.go
Labels: query

Index on communities.contract_id
  db/migrations/core/000132_communities.up.sql
Labels: migration

Format graphql
  graphql/schema/schema.graphql
Labels: schema

Contract migration script
  cmd/community_migrations/main.go
  db/migrations/core/000132_communities.up.sql
  db/queries/core/query.sql
Labels: migration, query

Subcommunity Support: Vol 1 (#1320)
  cmd/community_migrations/main.go
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000132_communities.up.sql
  db/queries/core/community.sql
  db/queries/core/query.sql
  gqlgen.yml
  graphql/dataloader/api_gen.go
  graphql/dataloader/communityloaderbykey_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/community.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/publicapi.go
  publicapi/token.go
  publicapi/user.go
  service/multichain/artblocks.go
  service/multichain/multichain.go
  service/persist/community.go
  service/persist/postgres/community.go
  service/persist/postgres/postgres.go
  service/redis/redis.go
  sqlc.yaml
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
  util/helpers.go
Labels: migration, query, dataloader, schema

Use correct cursor
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  go.mod
  go.sum
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/user.go
Labels: query, schema

Format graphql
  graphql/schema/schema.graphql
Labels: schema

f
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/user.go
  util/helpers.go
Labels: query, schema

Keep query strings
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Increment migration
  db/migrations/core/000132_communities.up.sql
  db/migrations/core/000133_add_user_internal_recommendations.up.sql
  publicapi/feed.go
Labels: migration

Fix for null creator results
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Split unique index for community_creators to account for nulls
  db/migrations/core/000133_communities_updates.up.sql
Labels: migration

Fixes for community creator upsert constraints
  cmd/community_migrations/main.go
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
Labels: query

Dataloaderify queries
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/collection.go
  publicapi/feed.go
  publicapi/user.go
Labels: query, dataloader

PFP load tweaks
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/feed.go
  publicapi/token.go
  publicapi/user.go
Labels: query, dataloader

Minor fixes
  db/migrations/core/000132_communities.up.sql
  graphql/resolver/schema.resolvers.helpers.go
Labels: migration

Cleanup diff
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/collection.go
  publicapi/feed.go
  publicapi/pagination.go
  publicapi/user.go
  util/helpers.go
Labels: none

Remove sortpkg
  publicapi/feed.go
  util/sort/sort.go
Labels: none

Add WebsiteURL column to communities
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/migrations/core/000134_communities_updates_2.up.sql
  db/queries/core/community.sql
  service/multichain/artblocks.go
  service/multichain/multichain.go
Labels: migration, query

Remove debug statement
  db/migrations/core/000134_communities_updates_2.up.sql
Labels: migration

Remove extra query param
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
Labels: query

Fix secrets
  publicapi/pagination.go
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Add follow all mutation
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/user.go
Labels: schema

Fix for resolving subtype.Contract on legacy contract communities
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Move query
  publicapi/user.go
Labels: none

Un-deprecate token.community resolver
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: schema

Add TokenDefinition.contract resolver
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Add Community.mintURL resolver
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Fix missing subtype.contract (again)
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Check in index
  db/migrations/core/000135_add_community_creators_idx.up.sql
Labels: migration

Check in index (#1322)
  db/migrations/core/000135_add_community_creators_idx.up.sql
Labels: migration

Check-in v2
  service/membership/membership.go
  service/multichain/opensea/opensea.go
Labels: none

Begin OS refactor
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
Labels: none

Get it to compile
  indexer/metadatas.go
  server/inject.go
  server/wire_gen.go
  tokenprocessing/pipeline.go
Labels: none

Add animation url
  service/multichain/opensea/opensea.go
  tokenprocessing/pipeline.go
Labels: none

Fix contract race conditions
  server/server.go
  service/multichain/opensea/opensea.go
Labels: none

Use actual communities for community search (instead of contracts)
  db/gen/coredb/models_gen.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000136_community_search.up.sql
  db/migrations/sqlc/core/000001_sqlc_customization.sql
  db/queries/core/search.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/search.go
Labels: migration, query, schema

Replace mentions.contract_id with mentions.community_id
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000137_community_mentions.up.sql
  db/queries/core/community.sql
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/community.go
  publicapi/feed.go
  publicapi/interaction.go
  service/persist/postgres/comment.go
Labels: migration, query, dataloader

webhook for optimistic syncing
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Rename notifications.contract_id to notifications.community_id
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000137_community_mentions.up.sql
  db/queries/core/query.sql
  event/event.go
  graphql/model/models.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  service/notifications/notifications.go
Labels: migration, query

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
