Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Community support for galleries (#1366)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/migrations/core/000142_community_galleries_view.up.sql
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/gallery.go
  publicapi/pagination.go
  service/persist/token_media.go
  sqlc.yaml
Labels: migration, query, dataloader, schema

set category for weekly digest
  emails/send.go
Labels: none

update method name
  emails/send.go
Labels: none

Mark all tokens as displayable, even if they aren't currently held
  db/migrations/core/000143_displayable_always_true.up.sql
Labels: migration

Mark all tokens as displayable, even if they aren't currently held (#1368)
  db/migrations/core/000143_displayable_always_true.up.sql
Labels: migration

Allow GIFs for Gallery preview images
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

Allow GIFs for Gallery preview images (#1369)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
Labels: query

Don't remove holder status from tokens once they have it
  service/multichain/multichain.go
Labels: none

Fix tests
  graphql/graphql_test.go
Labels: none

Keep holder status on tokens (#1370)
  graphql/graphql_test.go
  service/multichain/multichain.go
Labels: none

f
  service/multichain/multichain.go
  service/multichain/wlta/wlta.go
  service/multichain/zora/zora.go
  service/persist/token.go
  util/retry/retry.go
  wlta.go
Labels: none

Fix index error
  emails/digest.go
  emails/send.go
Labels: none

Fix index error (#1371)
  emails/digest.go
  emails/send.go
Labels: none

Add a background color to GIF -> MP4 conversions
  gqlgen.yml
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/mediamapper/mediamapper.go
  service/persist/persist.go
Labels: schema

Add a background color to GIF -> MP4 conversions (#1372)
  gqlgen.yml
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/mediamapper/mediamapper.go
  service/persist/persist.go
Labels: schema

Update dark mode MP4 background color
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Use opensea as source
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
Labels: none

Add opensea rate limit err
  service/multichain/opensea/opensea.go
Labels: none

Use opensea as source (#1373)
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
Labels: none

OS Fix
  server/inject.go
  server/wire_gen.go
  service/multichain/opensea/opensea.go
Labels: none

OS Fix (#1374)
  server/inject.go
  server/wire_gen.go
  service/multichain/opensea/opensea.go
Labels: none

Revert OS changes
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
Labels: none

Revert OS changes (#1375)
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
Labels: none

Add paginate token admires
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
Labels: query, dataloader, schema

Add paginate token admires (#1376)
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
Labels: query, dataloader, schema

Websocket stability improvements
  docker-compose.yml
  opensea-streamer/main.go
  secrets/dev/opensea-streamer-env.yaml
  secrets/prod/opensea-streamer-env.yaml
  service/persist/opensea.go
  service/task/task.go
  tokenprocessing/process.go
Labels: none

Change position collate
  db/migrations/core/000144_change_gallery_positions_collate.up.sql
Labels: migration

Recreate community_galleries view
  db/migrations/core/000144_change_gallery_positions_collate.up.sql
Labels: migration

Change galleries.position collate (#1377)
  db/migrations/core/000144_change_gallery_positions_collate.up.sql
Labels: migration

Use correct cursor
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  publicapi/token.go
Labels: query, dataloader

Use correct cursor (#1378)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  publicapi/token.go
Labels: query, dataloader

Name refactoring
  service/multichain/opensea/opensea.go
Labels: none

Rename interface
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
Labels: none

Add OS rate limit reporting
  service/multichain/opensea/opensea.go
Labels: none

Use OS provider
  server/inject.go
  server/wire_gen.go
  service/multichain/opensea/opensea.go
Labels: none

Parallelize everything
  server/inject.go
  server/wire_gen.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  util/helpers.go
Labels: none

Change order of bookmarks
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  publicapi/pagination.go
  publicapi/token.go
Labels: query

Change order of bookmarks (#1379)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  publicapi/pagination.go
  publicapi/token.go
Labels: query

Lots of refactoring
  opensea-streamer/main.go
Labels: none

Websocket stability improvements (#1380)
  docker-compose.yml
  opensea-streamer/main.go
  secrets/dev/opensea-streamer-env.yaml
  secrets/prod/opensea-streamer-env.yaml
  service/persist/opensea.go
  service/task/task.go
  tokenprocessing/process.go
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
