Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Rename functions
  tokenprocessing/process.go
Labels: none

Add temporary functionality to filter posts by Prohibition project ID
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/contract.go
Labels: query, schema

optimistic sync with alchemy
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

Format GraphQL
  graphql/schema/schema.graphql
Labels: schema

fix push notif
  service/notifications/notifications.go
  tokenprocessing/process.go
Labels: none

PR Cleanup
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/feed.go
  publicapi/token.go
  service/multichain/multichain.go
  service/persist/contract.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token_gallery.go
  service/persist/token_gallery.go
  tokenprocessing/process.go
Labels: query, dataloader

Fix naming
  graphql/resolver/schema.resolvers.go
  publicapi/feed.go
  service/multichain/multichain.go
Labels: none

Share to Gallery (#1184)
  cmd/reprocess/main.go
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000107_update_token_medias_lookup_idx.up.sql
  db/queries/core/query.sql
  gqlgen.yml
  graphql/dataloader/dataloaders.go
  graphql/dataloader/tokenloaderbyusertokenidentifiers_gen.go
  graphql/generated/generated.go
  graphql/genqlient.yaml
  graphql/graphql_test.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  graphql/stub_test.go
  publicapi/feed.go
  publicapi/publicapi.go
  publicapi/token.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/persist/contract.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token.go
  service/persist/postgres/token_gallery.go
  service/persist/token.go
  service/persist/token_gallery.go
  service/persist/token_processing_jobs.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
  util/retry/retry.go
Labels: migration, query, dataloader, schema

Add user experience for banner
  graphql/schema/schema.graphql
Labels: schema

Add temporary functionality to filter posts by Prohibition project ID (#1185)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/contract.go
Labels: query, schema

Add admin query
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
Labels: schema

Graphql lint
  graphql/schema/schema.graphql
Labels: schema

Use chainAddress instead
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
Labels: schema

Add mutation for syncing existing creator contracts (#1188)
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
Labels: schema

Update multichain.go
  service/multichain/multichain.go
Labels: none

Share to gallery fixes
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
  publicapi/feed.go
Labels: schema

Share to gallery fixes (#1189)
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
  publicapi/feed.go
Labels: schema

Update base keywords
  service/persist/token.go
Labels: none

arb on dev
  secrets/dev/tokenprocessing-env.yaml
Labels: none

arb mainnet name
  tokenprocessing/process.go
Labels: none

normalize address for lookup
  tokenprocessing/process.go
Labels: none

any evm chain for alchemy user lookup
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  tokenprocessing/process.go
Labels: query

Compile
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
Labels: none

Add user experience for banner (#1187)
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

Update base keywords (#1190)
  service/persist/token.go
Labels: none

secrets
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Benny/targeted optimistic sync (#1186)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  service/notifications/notifications.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

Remove displayable
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/dataloaders.helpers.go
  graphql/resolver/schema.resolvers.go
  publicapi/token.go
Labels: query, dataloader

erc721 tokenID
  tokenprocessing/process.go
Labels: none

non empty contract
  tokenprocessing/process.go
Labels: none

token ids and name/description
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/persist/token.go
Labels: query

Benny/tageted optimistic fixes (#1192)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/persist/token.go
  tokenprocessing/process.go
Labels: query

logs
  service/multichain/alchemy/alchemy.go
Labels: none

logger
  tokenprocessing/process.go
Labels: none

token id revert
  service/persist/token.go
Labels: none

Remove displayable (#1191)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/dataloaders.helpers.go
  graphql/resolver/schema.resolvers.go
  publicapi/token.go
Labels: query, dataloader

Tick immediately
  service/tokenmanage/tokenmanage.go
Labels: none

Benny/more tos fixes (#1193)
  service/multichain/alchemy/alchemy.go
  service/persist/token.go
  tokenprocessing/process.go
Labels: none

dont cache bad metadata: alchemy
  service/multichain/alchemy/alchemy.go
Labels: none

[GAL-3983] Enable Admire Token pt3 (#1181)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/event.go
Labels: query, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
