Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Update SendGrid validation keys
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-emails.yaml
  secrets/prod/emails-server-env.yaml
Labels: none

Update SendGrid validation keys (#1194)
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-emails.yaml
  secrets/prod/emails-server-env.yaml
Labels: none

manually add lens and farcaster accounts
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/publicapi.go
  publicapi/socials.go
  server/handler.go
  server/server.go
  service/socialauth/socialauth.go
Labels: schema

respond to comments
  graphql/stub_test.go
  service/multichain/alchemy/alchemy.go
  service/multichain/fallback.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
  service/persist/postgres/contract_gallery.go
  util/helpers.go
Labels: none

comments
  service/multichain/multichain.go
Labels: none

test names
  graphql/graphql_test.go
  service/persist/contract_gallery.go
  service/persist/token_gallery.go
Labels: none

silly neynar ID
  secrets/prod/local/app-prod-backend.yaml
  service/farcaster/neynar.go
Labels: none

silly neynar ID (in its place
  cmd/farcaster_backfill/connections/main.go
  cmd/farcaster_backfill/initial/main.go
  secrets/prod/local/app-prod-backend.yaml
  service/socialauth/socialauth.go
Labels: none

limit backfill
  cmd/farcaster_backfill/initial/main.go
  secrets/prod/local/app-prod-backend.yaml
Labels: none

remove
  secrets/prod/local/app-prod-backend.yaml
Labels: none

Update CORS to allow Unshaded Rocks
  secrets/dev/backend-env.yaml
  secrets/prod/backend-env.yaml
Labels: none

Update CORS to allow Unshaded Rocks (#1196)
  secrets/dev/backend-env.yaml
  secrets/prod/backend-env.yaml
Labels: none

40 retries
  tokenprocessing/handler.go
Labels: none

Update cloudtask.go
  service/task/cloudtask.go
Labels: none

Get it working
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  feedbot/feedbot.go
  feedbot/handler.go
  feedbot/server.go
  publicapi/collection.go
  publicapi/feed.go
  publicapi/gallery.go
  publicapi/interaction.go
  publicapi/token.go
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/feedbot-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/feedbot-env.yaml
  server/server.go
  service/persist/event.go
  service/persist/postgres/event.go
  service/task/cloudtask.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

Include posts always
  graphql/resolver/schema.resolvers.go
  publicapi/feed.go
Labels: none

Fix tests
  graphql/fixture_test.go
  graphql/graphql_test.go
Labels: none

Always include posts on Trending and For You feeds (#1197)
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.go
  publicapi/feed.go
Labels: none

Remove webhook
  feedbot/server.go
Labels: none

Minor fixups
  feedbot/handler.go
  secrets/dev/local/app-dev-backend.yaml
  service/task/cloudtask.go
Labels: none

Update secrets
  secrets/dev/backend-env.yaml
  secrets/prod/backend-env.yaml
Labels: none

Update webhook
  secrets/dev/feedbot-env.yaml
  secrets/prod/feedbot-env.yaml
Labels: none

metadata no cache
  service/multichain/alchemy/alchemy.go
Labels: none

Add slackbot (#1198)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  feedbot/feedbot.go
  feedbot/handler.go
  feedbot/server.go
  publicapi/collection.go
  publicapi/feed.go
  publicapi/gallery.go
  publicapi/interaction.go
  publicapi/token.go
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/feedbot-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/feedbot-env.yaml
  server/server.go
  service/persist/event.go
  service/persist/postgres/event.go
  service/task/cloudtask.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

Update dev feedbot url
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Update dev feedbot url (#1199)
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
Labels: none

Update server.go
  feedbot/server.go
Labels: none

secrets and handler
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

log
  tokenprocessing/process.go
Labels: none

secrets and handler (#1200)
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Slackbot fixes
  feedbot/server.go
Labels: none

Slackbot fixes (#1201)
  feedbot/server.go
Labels: none

Fix post link button
  feedbot/server.go
Labels: none

Handle empty cursor
  publicapi/pagination.go
Labels: none

Handle empty cursor (#1202)
  publicapi/pagination.go
Labels: none

Add push service vars to tokenprocessing
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

Add push service vars to tokenprocessing (#1203)
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
Labels: none

autosocial service and orchestrator, cloudtasks, and makefile
  Makefile
  autosocial/autosocial.go
  autosocial/handler.go
  autosocial/orchestrator/handler.go
  autosocial/orchestrator/orchestrator.go
  cmd/autosocial/main.go
  cmd/autosocial/orchestrator/main.go
  db/queries/core/query.sql
  docker/autosocial/Dockerfile
  docker/autosocial/orchestrator/Dockerfile
  publicapi/user.go
  secrets/dev/autosocial-env.yaml
  secrets/dev/backend-env.yaml
  secrets/dev/makevars.yaml
  secrets/prod/autosocial-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/makevars.yaml
  server/server.go
  service/task/cloudtask.go
Labels: query

Retry on 401
  service/recommend/userpref/personalize.go
  service/store/cloudstorage.go
Labels: none

autosocial in tests
  .dockerignore
  Makefile
  autosocial/autosocial.go
  autosocial/orchestrator/orchestrator.go
  graphql/fixture_test.go
  graphql/graphql_test.go
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-autosocial.yaml
  secrets/local/local/app-local-backend.yaml
Labels: none

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
