Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Only send notification if not your own work
  event/event.go
Labels: none

Only send notification if not your own work (#1440)
  event/event.go
Labels: none

Rename TokenID to HexTokenID
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  emails/genqlient.yaml
  gqlgen.yml
  graphql/generated/generated.go
  graphql/genqlient.yaml
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/stub_test.go
  indexer/indexer.go
  publicapi/merch.go
  service/eth/eth.go
  service/membership/alchemy.go
  service/membership/membership.go
  service/multichain/alchemy/alchemy.go
  service/multichain/artblocks.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tzkt/tzkt.go
  service/multichain/zora/zora.go
  service/persist/membership.go
  service/persist/opensea.go
  service/persist/postgres/membership.go
  service/persist/token.go
  service/persist/token_gallery.go
  service/rpc/rpc.go
  sqlc.yaml
  tokenprocessing/media.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Introduce DecimalTokenID type
  service/persist/token.go
  util/numbers.go
Labels: none

Add token_id column to token_community_memberships
  db/migrations/core/000153_add_token_id_to_community_tokens.up.sql
Labels: migration

Add token_id to sqlc.yaml
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  sqlc.yaml
Labels: none

Include token_ids when inserting ArtBlocks tokens
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
  service/multichain/artblocks.go
  service/persist/token.go
Labels: query

Make limiter a singleton
  server/inject.go
  server/wire_gen.go
  service/limiters/rate.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
  util/retry/retry.go
Labels: none

Make limiter a singleton (#1441)
  server/inject.go
  server/wire_gen.go
  service/limiters/rate.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/multichain/wrapper/wrapper.go
  util/retry/retry.go
Labels: none

Allow alchemy description as a slice
  service/multichain/alchemy/alchemy.go
Labels: none

Allow alchemy description as a slice (#1442)
  service/multichain/alchemy/alchemy.go
Labels: none

deprecate mint links to mint dot fun
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

deprecate mint links to mint dot fun (#1443)
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Send notifications for follow all mutation
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
  service/persist/postgres/user.go
  service/persist/user.go
Labels: query

Send notifications for follow all mutation (#1444)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
  service/persist/postgres/user.go
  service/persist/user.go
Labels: query

Change UserFollowsUsers to UsersFollowUser and enforce ordering
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
Labels: query

Change UserFollowsUsers to UsersFollowUser and enforce ordering (#1445)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  publicapi/user.go
Labels: query

Update token_community_memberships when upserting tokens
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
  service/multichain/artblocks.go
  service/multichain/multichain.go
  service/multichain/operation/operation.go
Labels: query

Post-merge fix
  service/multichain/alchemy/alchemy.go
Labels: none

Change token_community_memberships index before migrating
  db/migrations/core/000154_update_token_community_memberships_index.up.sql
Labels: migration

Fix missing unique constraint for "on conflict" check
  db/gen/coredb/community.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000155_fix_token_community_memberships_indexes.up.sql
  db/queries/core/community.sql
  db/queries/core/token_gallery.sql
Labels: migration, query

Fix missing unique constraint for "on conflict" check (#1447)
  db/gen/coredb/community.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000155_fix_token_community_memberships_indexes.up.sql
  db/queries/core/community.sql
  db/queries/core/token_gallery.sql
Labels: migration, query

[Migration] Disable GraphQL handlers temporarily
  server/handler.go
Labels: none

Update all connection strings to point to new DB hostname
  secrets/prod/activitystats-env.yaml
  secrets/prod/autosocial-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/emails-server-env.yaml
  secrets/prod/feed-env.yaml
  secrets/prod/indexer-env.yaml
  secrets/prod/indexer-server-env.yaml
  secrets/prod/opensea-streamer-env.yaml
  secrets/prod/pushnotifications-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  secrets/prod/userpref-upload.yaml
Labels: none

Update Cloud SQL Proxy to use new database hostname
  secrets/prod/makevars.yaml
Labels: none

not sure how this got overwritten
  emails/digest.go
  emails/send.go
Labels: none

subject in the dynamic template data
  emails/digest.go
  emails/send.go
Labels: none

[Migration] Disable GraphQL handlers temporarily (#1448)
  server/handler.go
Labels: none

[Migration] Update connection strings to point to new DB host (#1449)
  secrets/prod/activitystats-env.yaml
  secrets/prod/autosocial-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/emails-server-env.yaml
  secrets/prod/feed-env.yaml
  secrets/prod/indexer-env.yaml
  secrets/prod/indexer-server-env.yaml
  secrets/prod/makevars.yaml
  secrets/prod/opensea-streamer-env.yaml
  secrets/prod/pushnotifications-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  secrets/prod/userpref-upload.yaml
Labels: none

Revert "[Migration] Disable GraphQL handlers temporarily (#1448)"
  server/handler.go
Labels: none

Fix activitystats compilation error
  activity_stats/astats.go
Labels: none

subject in the dynamic template data (#1451)
  emails/digest.go
  emails/send.go
Labels: none

Add Neynar API key
  secrets/dev/activitystats-env.yaml
  secrets/prod/activitystats-env.yaml
Labels: none

Use big.Rat to avoid scientific notation when scanning DecimalTokenID
  service/persist/token.go
Labels: none

Add base sepolia provider
  secrets/local/local/app-local-backend.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Add background job
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000155_add_highlight_claim_table.up.sql
  db/queries/core/query.sql
  docker-compose.yml
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/mint.go
  publicapi/publicapi.go
  secrets/local/local/app-local-backend.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/highlight/highlight.go
  service/multichain/multichain.go
  service/persist/token.go
  service/persist/token_processing_jobs.go
  service/task/task.go
  service/tokenmanage/tokenmanage.go
  sqlc.yaml
  tokenprocessing/handler.go
  tokenprocessing/process.go
  util/helpers.go
Labels: migration, query, schema

Start progress on mint mutation
  emails/email.genqlient.go
  graphql/dataloader/notfound.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/mint.go
  publicapi/publicapi.go
  server/server.go
  server/wire_gen.go
  service/multichain/highlight/highlight.go
  service/persist/postgres/user.go
  service/persist/postgres/wallet.go
  service/persist/wallet.go
Labels: dataloader, schema

Fix graphQL format
  graphql/schema/schema.graphql
Labels: schema

Add wallet to mint table
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000155_add_highlight_claim_table.up.sql
  db/queries/core/query.sql
  publicapi/mint.go
  service/persist/token.go
  tokenprocessing/process.go
Labels: migration, query

Fix from testing
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000156_add_highlight_claim_table.up.sql
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  publicapi/mint.go
  secrets/dev/backend-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  service/persist/wallet.go
  service/task/task.go
  sqlc.yaml
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: migration, query
