Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

Begin schema refactor
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  go.mod
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/merch.go
  server/inject.go
  server/wire_gen.go
  service/persist/postgres/token_full_details.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/process.go
Labels: query, schema

distrubuted lock and new notification template data
  emails/emails.go
  emails/send.go
Labels: none

typo sql
  service/persist/postgres/contract_gallery.go
Labels: none

share logic
  emails/send.go
  emails/t__unit_test.go
  service/notifications/notifications.go
Labels: none

fix conflict statement
  db/migrations/core/000112_contract_l1.up.sql
  service/persist/postgres/contract_gallery.go
  service/recommend/userpref/personalize.go
Labels: migration

Get tokenprocessing to compile
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/tokendefinitionbyid_gen.go
  graphql/dataloader/tokenmediabyid_gen.go
  graphql/dataloader/tokenmediasbyid_gen.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token_full_details.go
  service/persist/token.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/media.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query, dataloader, schema

Get server to compile
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_upsert.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/token_upsert.sql
  docker/postgres/DOCKERFILE
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/multichain/multichain.go
  service/persist/postgres/token_full_details.go
Labels: migration, query, schema

Query fixes
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/tokensloaderbyidandchain_gen.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/contract.go
  publicapi/token.go
Labels: migration, query, dataloader, schema

Refactor queries
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/token_gallery.sql
  publicapi/token.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token_gallery.go
  tokenprocessing/process.go
Labels: migration, query

Begin tokens norm
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/query.sql
  db/queries/core/token_gallery.sql
  publicapi/merch.go
  service/multichain/multichain.go
  service/persist/postgres/token_gallery.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/process.go
Labels: query

message body
  service/notifications/notifications.go
Labels: none

Finish tokens norm
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/contract.go
  publicapi/feed.go
  publicapi/token.go
  publicapi/user.go
  service/multichain/multichain.go
  service/persist/contract.go
  service/persist/event.go
  service/persist/postgres/token_gallery.go
  service/persist/token.go
Labels: query, dataloader

l1 chain with chain for conflict
  db/gen/coredb/contract_gallery.sql.go
  db/migrations/core/000112_contract_l1.up.sql
  db/queries/core/contract_gallery.sql
  service/multichain/multichain.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract_gallery.go
  service/recommend/userpref/personalize.go
Labels: migration, query

Contract L1 Chain (#1227)
  db/gen/coredb/batch.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000112_contract_l1.up.sql
  db/queries/core/contract_gallery.sql
  db/queries/core/query.sql
  service/multichain/multichain.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract_gallery.go
Labels: migration, query

More sql refactoring
  db/gen/coredb/query.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/query.sql
  service/multichain/multichain.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract_gallery.go
  sqlc.yaml
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: migration, query

The rest of the owl
  Makefile
  cmd/dataloaders/README.md
  cmd/dataloaders/generator/dataloader.go
  cmd/dataloaders/generator/generator.go
  cmd/dataloaders/generator/template.go
  cmd/dataloaders/licence.md
  cmd/dataloaders/main.go
  db/bin/README.md
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/gen/coredb/search.sql.go
  db/gen/coredb/token_gallery.sql.go
  go.mod
  go.sum
  sqlc.yaml
  util/tools.go
Labels: none

typos, balance versus regular
  service/multichain/zora/zora.go
Labels: none

will break
  service/multichain/zora/zora.go
Labels: none

Fix syncing
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/tmp_token_normalization_backfill.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/queries/core/query.sql
  db/queries/core/tmp_token_normalization_backfill.sql
  db/queries/core/token_gallery.sql
  graphql/dataloader/dataloaders.go
  graphql/generated/generated.go
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  graphql/stub_test.go
  publicapi/token.go
  service/multichain/multichain.go
  service/persist/postgres/token_gallery.go
  service/persist/token.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/pipeline.go
Labels: migration, query, dataloader, schema

Benny/zora creator support minor fixes (#1234)
  service/multichain/zora/zora.go
Labels: none

ack always
  emails/send.go
Labels: none

Benny/email lock and templates (#1232)
  emails/emails.go
  emails/send.go
  emails/t__unit_test.go
  service/notifications/notifications.go
Labels: none

someone posted your work notification (#1225)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  publicapi/feed.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
Labels: query

Better lock contention handling within batches
  cmd/dataloaders/generator/dataloader.go
Labels: none

Add a comment
  cmd/dataloaders/generator/dataloader.go
Labels: none

Better handling for media lookups
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  go.mod
  go.sum
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  publicapi/token.go
Labels: query, dataloader

MediaByTokenID -> MediaByMediaID
  publicapi/merch.go
Labels: none

More TokenID -> TokenMediaID updates
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

check for weird prefix in token ID
  Makefile
  service/multichain/zora/zora.go
Labels: none

check for weird prefix in token ID (#1235)
  Makefile
  service/multichain/zora/zora.go
Labels: none

fix local key/task queue, logs
  autosocial/handler.go
  docker-compose.yml
  publicapi/user.go
  secrets/local/local/app-local-autosocial.yaml
  secrets/local/local/app-local-backend.yaml
  service/farcaster/neynar.go
  service/socialauth/socialauth.go
Labels: none

fix local key/task queue, logs (#1236)
  autosocial/handler.go
  docker-compose.yml
  publicapi/user.go
  secrets/local/local/app-local-autosocial.yaml
  secrets/local/local/app-local-backend.yaml
  service/farcaster/neynar.go
  service/socialauth/socialauth.go
Labels: none

Update migration
  cmd/token_normalization_migrate/main.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/tmp_token_normalization_backfill.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000111_add_token_definitions.up.sql
  db/migrations/core/000111_token_norm_add_token_definitions.up.sql
  db/migrations/core/000112_token_norm_add_token_definition_constraints.up.sql
  db/migrations/core/000113_token_norm_update_feed_entity_score_view.up.sql
  db/migrations/core/000114_token_norm_update_contract_relevance_view.up.sql
  db/migrations/core/000115_token_norm_update_owned_contracts_view.up.sql
  db/migrations/core/000116_token_norm_update_admires_token_id_constraint.up.sql
  db/migrations/core/000117_token_norm_update_events_token_id_constraint.up.sql
  db/migrations/core/000118_token_norm_update_notifications_token_id_constraint.up.sql
  db/migrations/core/000119_token_norm_update_profile_images_token_id_constraint.up.sql
  db/migrations/core/000120_token_norm_token_medias_deprecate_columns.up.sql
  graphql/schema/schema.graphql
Labels: migration, schema

Fix slow pfp query
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

More query tuning
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/tmp_token_normalization_backfill.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000112_token_norm_add_token_definition_constraints.up.sql
  db/migrations/core/000113_token_norm_update_feed_entity_score_view.up.sql
  db/queries/core/query.sql
Labels: migration, query

Fix migration
  db/migrations/core/000112_token_norm_add_token_definition_constraints.up.sql
Labels: migration

Fix gallery preview query
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  service/recommend/recommend.go
Labels: query

Fix token delete query
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
Labels: query

Fix syncing tests
  graphql/graphql_test.go
  graphql/stub_test.go
  service/multichain/multichain.go
  tokenprocessing/pipeline.go
Labels: none

write auth for farcaster and lens
  autosocial/autosocial.go
  autosocial/handler.go
  db/queries/core/query.sql
  docker-compose.yml
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/socials.go
  secrets/dev/backend-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/backend-env.yaml
  server/server.go
  service/farcaster/neynar.go
  service/lens/lens.go
  service/socialauth/socialauth.go
  service/task/cloudtask.go
Labels: query, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**
