Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Submit existing tokens, not just new ones
  service/multichain/multichain.go
  tokenprocessing/process.go
Labels: none

Submit existing tokens, not just new ones (#1478)
  service/multichain/multichain.go
  tokenprocessing/process.go
Labels: none

add experience type
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

add experience type for mchx radiance mint (#1479)
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Remove backing registry
  service/limiters/rate.go
Labels: none

Remove backing registry (#1480)
  service/limiters/rate.go
Labels: none

Don't send follower push notifications from new accounts
  service/notifications/notifications.go
Labels: none

Add pinned column
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000158_add_pinned_notifications_column.up.sql
  db/queries/core/query.sql
  publicapi/notifications.go
Labels: migration, query

Add pinned column (#1481)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000158_add_pinned_notifications_column.up.sql
  db/queries/core/query.sql
  publicapi/notifications.go
Labels: migration, query

Revert "Add pinned column (#1481)"
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000158_add_pinned_notifications_column.up.sql
  db/queries/core/query.sql
  publicapi/notifications.go
Labels: migration, query

Revert "Add pinned column (#1481)" (#1482)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000158_add_pinned_notifications_column.up.sql
  db/queries/core/query.sql
  publicapi/notifications.go
Labels: migration, query

Contract QC
  service/multichain/multichain.go
  service/multichain/simplehash/simplehash.go
  service/persist/token_gallery.go
Labels: none

Add scaffolding
  server/inject.go
  server/wire_gen.go
Labels: none

Simplehashify providers
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/indexer/indexer.go
  service/multichain/multichain.go
  service/multichain/simplehash/simplehash.go
  service/multichain/tzkt/tzkt.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
Labels: none

Add remaining simplehash methods
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/multichain/simplehash/simplehash.go
Labels: query

Add key
  go.mod
  go.sum
  secrets/local/local/app-local-backend.yaml
  server/server.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/multichain/simplehash/simplehash.go
  service/persist/token_gallery.go
  service/task/task.go
Labels: none

Add API key to secrets
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  service/multichain/multichain.go
  service/multichain/simplehash/simplehash.go
Labels: query

Add contract optimization
  service/multichain/simplehash/simplehash.go
Labels: none

Try no limiters
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/wrapper/wrapper.go
Labels: none

Normalize owner address
  service/multichain/multichain.go
Labels: none

Add limit
  service/multichain/multichain.go
  service/multichain/simplehash/simplehash.go
Labels: none

Add api key to prod
  db/queries/core/query.sql
  go.mod
  go.sum
  secrets/prod/backend-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  server/inject.go
  server/wire_gen.go
  service/multichain/custom_metadata.go
  service/multichain/simplehash/simplehash.go
  tokenprocessing/tokenprocessing.go
Labels: query

Add rate limiter
  service/multichain/simplehash/simplehash.go
Labels: none

Increase pool size
  service/multichain/simplehash/simplehash.go
Labels: none

Add simplehash provider (#1483)
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  secrets/dev/tokenprocessing-env.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/local/local/app-local-tokenprocessing.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  server/inject.go
  server/server.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/config.go
  service/multichain/custom_metadata.go
  service/multichain/indexer/indexer.go
  service/multichain/multichain.go
  service/multichain/simplehash/simplehash.go
  service/multichain/tzkt/tzkt.go
  service/multichain/wrapper/wrapper.go
  service/multichain/zora/zora.go
  service/persist/token_gallery.go
  service/task/task.go
  tokenprocessing/tokenprocessing.go
Labels: none

Hash ToAddress and NFTID
  opensea-streamer/main.go
Labels: none

Handle deadlocks
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/query.sql
  db/queries/core/token_gallery.sql
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  service/multichain/simplehash/simplehash.go
  service/multichain/wrapper/wrapper.go
  service/persist/postgres/contract_gallery.go
Labels: query

Implement GetTokensByContractWallet
  service/multichain/operation/operation.go
  service/multichain/wrapper/wrapper.go
Labels: none

Add missing upsert params to token insert
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
  secrets/dev/local/app-dev-opensea-streamer.yaml
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  tokenprocessing/process.go
Labels: query

Use correct NFT endpoint
  publicapi/merch.go
  service/multichain/simplehash/simplehash.go
Labels: none

Optimize token insert query
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
  go.mod
  go.sum
  service/multichain/multichain.go
  service/multichain/operation/operation.go
Labels: query

Upgrade to sqlc 1.26.0
  cmd/dataloaders/generator/generator.go
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/db_gen.go
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/nonce.sql.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/gen/coredb/search.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/gen/indexerdb/db_gen.go
  db/gen/indexerdb/models_gen.go
  db/gen/indexerdb/query.sql.go
  db/migrations/core/000158_custom_types.up.sql
  db/queries/core/community.sql
  db/queries/core/gallery.sql
  db/queries/core/query.sql
  db/queries/indexer/query.sql
  graphql/dataloader/api_gen.go
  publicapi/community.go
  sqlc.yaml
Labels: migration, query, dataloader

More sqlc 1.26.0 fixes
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

Fix rate limit header bug
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/token_gallery.sql
  graphql/graphql_test.go
  secrets/dev/local/app-dev-opensea-streamer.yaml
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  service/multichain/simplehash/simplehash.go
  util/retry/retry.go
Labels: query

Fix flaking test
  graphql/graphql_test.go
  graphql/stub_test.go
Labels: none

Simplehash fast follows and sync improvements (#1484)
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/query.sql
  db/queries/core/token_gallery.sql
  go.mod
  go.sum
  graphql/graphql_test.go
  graphql/stub_test.go
  opensea-streamer/main.go
  publicapi/merch.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/operation/operation.go
  service/multichain/simplehash/simplehash.go
  service/multichain/wrapper/wrapper.go
  service/persist/postgres/contract_gallery.go
  tokenprocessing/process.go
  util/retry/retry.go
Labels: query

Add db types for chain and email
  db/migrations/core/000158_custom_types.up.sql
  sqlc.yaml
Labels: migration

Register domain array types with pgx after connecting
  service/persist/postgres/postgres.go
Labels: none

Upgrade to sqlc 1.26.0 (#1485)
  cmd/dataloaders/generator/generator.go
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  db/gen/coredb/community.sql.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/db_gen.go
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/nonce.sql.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/gen/coredb/search.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/gen/indexerdb/db_gen.go
  db/gen/indexerdb/models_gen.go
  db/gen/indexerdb/query.sql.go
  db/migrations/core/000158_custom_types.up.sql
  db/queries/core/community.sql
  db/queries/core/gallery.sql
  db/queries/core/query.sql
  db/queries/indexer/query.sql
  graphql/dataloader/api_gen.go
  publicapi/community.go
  service/persist/postgres/postgres.go
  sqlc.yaml
Labels: migration, query, dataloader

Add fast path for erc1155s
  service/multichain/simplehash/simplehash.go
Labels: none
