Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Use standardized auth handling for Opensea streamer
  opensea-streamer/main.go
  secrets/dev/opensea-streamer-env.yaml
  secrets/prod/opensea-streamer-env.yaml
  service/task/task.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: none

Handle fallback timeouts
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/rpc/rpc.go
  util/retry/retry.go
Labels: none

Opensea multichain (#1381)
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/reservoir/reservoir.go
  service/rpc/rpc.go
  util/helpers.go
  util/retry/retry.go
Labels: none

Skip fallback fetch from tokenprocessing
  service/multichain/opensea/opensea.go
Labels: none

Skip fallback fetch from tokenprocessing (#1382)
  service/multichain/opensea/opensea.go
Labels: none

increase rasterizer dimensions
  rasterizer/index.js
Labels: none

increase rasterizer dimensions (#1383)
  rasterizer/index.js
Labels: none

Update admired to bookmarked
  service/notifications/notifications.go
Labels: none

Update admired to bookmarked (#1384)
  service/notifications/notifications.go
Labels: none

Put the logged-in user's galleries first in the list of community galleries
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  publicapi/gallery.go
  publicapi/pagination.go
Labels: query

Add viewerIsMember query to Community type
  go.mod
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

Community v2 updates (#1385)
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  go.mod
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/gallery.go
  publicapi/pagination.go
Labels: query, schema

Fix PFP values in digest
  emails/digest.go
  emails/email.genqlient.go
  emails/emails.go
  emails/genqlient/digest.graphql
  go.mod
  go.sum
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

Fix PFP values in digest (#1386)
  emails/digest.go
  emails/email.genqlient.go
  emails/emails.go
  emails/genqlient/digest.graphql
  go.mod
  go.sum
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

custom metadata eth provider
  cmd/refresh/refresh.go
  indexer/metadatas.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/indexer/indexer.go
  service/multichain/multichain.go
  tokenprocessing/media.go
Labels: none

Fix ens handler
  cmd/refresh/refresh.go
  service/media/custom_metadata.go
  service/multichain/multichain.go
  tokenprocessing/media.go
Labels: none

punk use image
  tokenprocessing/media.go
Labels: none

Move custom handlers
  indexer/handler.go
  indexer/metadatas.go
  indexer/nfts.go
  server/inject.go
  server/wire_gen.go
  service/eth/eth.go
  service/media/custom_metadata.go
  service/multichain/config.go
  service/multichain/indexer/indexer.go
  service/multichain/multichain.go
Labels: none

custom metadata eth provider (#1387)
  indexer/handler.go
  indexer/metadatas.go
  indexer/nfts.go
  server/inject.go
  server/wire_gen.go
  service/eth/eth.go
  service/media/custom_metadata.go
  service/multichain/indexer/indexer.go
  service/multichain/multichain.go
  tokenprocessing/media.go
Labels: none

Add query for retrieving unordered tokens from a community quickly
  db/gen/coredb/batch.go
  db/queries/core/community.sql
  db/queries/core/query.sql
  go.mod
  go.sum
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/community.go
Labels: query, dataloader, schema

Add query for retrieving unordered tokens from a community quickly (#1388)
  db/gen/coredb/batch.go
  db/queries/core/community.sql
  db/queries/core/query.sql
  go.mod
  go.sum
  graphql/dataloader/api_gen.go
  graphql/dataloader/dataloaders_gen.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/community.go
Labels: query, dataloader, schema

Add bg color to punks
  rasterizer/index.js
  tokenprocessing/media.go
Labels: none

Add bg color to punks (#1389)
  rasterizer/index.js
  tokenprocessing/media.go
Labels: none

Add deployment of rasterizer
  Makefile
  secrets/prod/makevars.yaml
  secrets/prod/rasterizer.yaml
Labels: none

Add deployment of rasterizer (#1390)
  Makefile
  secrets/prod/makevars.yaml
  secrets/prod/rasterizer.yaml
Labels: none

Check that metadata has media urls
  tokenprocessing/pipeline.go
Labels: none

Check that metadata has media urls (#1391)
  tokenprocessing/pipeline.go
Labels: none

Handle post streaks in feed
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: none

Handle post streaks in feed (#1392)
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: none

Param adjustment
  publicapi/feed.go
Labels: none

Param adjustment (#1393)
  publicapi/feed.go
Labels: none

Update feed.go
  publicapi/feed.go
Labels: none

Update feed.go
  publicapi/feed.go
Labels: none

Update feed.go
  publicapi/feed.go
Labels: none

Reconnect if we're not receiving events
  opensea-streamer/main.go
Labels: none

Drop a random connection every hour
  opensea-streamer/main.go
Labels: none

Reconnect if we're not receiving events (#1394)
  opensea-streamer/main.go
Labels: none

farcaster bulk api for autosocial
  autosocial/handler.go
  service/farcaster/neynar.go
Labels: none

api key and send size
  autosocial/orchestrator/handler.go
  service/farcaster/neynar.go
Labels: none

/
  service/farcaster/neynar.go
Labels: none
