Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

gen working
  db/gen/coredb/query.sql.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

some changes
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: none

more providers
  secrets/local/local/app-local-backend.yaml
  service/multichain/alchemy/alchemy.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
Labels: none

fix opensea sync
  publicapi/token.go
  service/multichain/alchemy/alchemy.go
  service/multichain/fallback.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
Labels: none

remove log comments
  service/multichain/opensea/opensea.go
Labels: none

remove test channels
  service/multichain/multichain.go
Labels: none

fix sync
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
Labels: none

Add separate endpoint for sync fails
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  service/multichain/multichain.go
  service/persist/postgres/contract_gallery.go
  service/redis/redis.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: query

Many fixes
  graphql/resolver/schema.resolvers.helpers.go
  service/multichain/multichain.go
  service/persist/token_processing_jobs.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: none

Cleanup branch
  .github/workflows/deployer.yml
  .github/workflows/tests.yml
  graphql/resolver/schema.resolvers.helpers.go
  service/multichain/multichain.go
  service/redis/redis.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

Remove testing
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.helpers.go
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
Labels: none

Check for lock
  graphql/resolver/schema.resolvers.helpers.go
  tokenprocessing/process.go
Labels: none

Remove panic
  service/multichain/multichain.go
Labels: none

Add pipelining
  service/redis/redis.go
  service/tokenmanage/tokenmanage.go
Labels: none

Run gen
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: none

Add retries to syncs and improve processing state (#1182)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/stub_test.go
  publicapi/publicapi.go
  publicapi/token.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/persist/postgres/contract_gallery.go
  service/persist/token_processing_jobs.go
  service/redis/redis.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

Move to separate mutation
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/token.go
Labels: schema

Move preflight to multichain
  cmd/reprocess/main.go
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/tokenloaderbyusertokenidentifiers_gen.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/token.go
  service/multichain/multichain.go
  service/persist/token.go
  service/task/cloudtask.go
  tokenprocessing/process.go
Labels: query, dataloader, schema

Remove extra queries
  db/gen/coredb/bemf.sql.go
  db/queries/core/bemf.sql
  tokenprocessing/pipeline.go
Labels: query

Add processing cause
  service/persist/token_processing_jobs.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
Labels: none

WIP
  service/multichain/multichain.go
Labels: none

Testing time
  db/gen/coredb/query.sql.go
  db/migrations/core/000107_update_token_medias_lookup_idx.up.sql
  db/queries/core/query.sql
  publicapi/feed.go
  publicapi/token.go
Labels: migration, query

fix tezos
  server/inject.go
  server/wire_gen.go
  service/multichain/fallback.go
  service/multichain/tezos/tezos.go
  service/recommend/userpref/personalize.go
Labels: none

get rid of testing comment outs
  publicapi/token.go
  service/recommend/userpref/personalize.go
Labels: none

remove comment
  service/multichain/multichain.go
Labels: none

Changes from testing
  db/gen/coredb/query.sql.go
  db/migrations/core/000107_update_token_medias_lookup_idx.up.sql
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/token.go
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/multichain/reservoir/reservoir.go
  service/persist/postgres/token.go
  service/persist/token.go
  service/persist/token_gallery.go
  service/task/cloudtask.go
  tokenprocessing/process.go
  util/retry/retry.go
Labels: migration, query, dataloader, schema

sync incrementally test
  go.mod
  go.sum
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/stub_test.go
  graphql/testdata/operations.graphql
Labels: none

Rename query
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/token.go
  service/multichain/multichain.go
Labels: schema

Remove chain
  graphql/graphql_test.go
  graphql/stub_test.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/tokenmanage/tokenmanage.go
Labels: none

Add return
  graphql/stub_test.go
Labels: none

Remove from message
  service/task/cloudtask.go
Labels: none

Chore: Remove chain from tokenprocessing message (#1183)
  graphql/graphql_test.go
  graphql/stub_test.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
Labels: none

Refactor error handling
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  util/retry/retry.go
Labels: schema

Update limiter rate
  service/tokenmanage/tokenmanage.go
Labels: none

Lint
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-tokenprocessing.yaml
  service/multichain/multichain.go
  service/task/cloudtask.go
Labels: schema

Remove debug
  service/task/cloudtask.go
Labels: none

Minor fixups
  service/multichain/multichain.go
  service/persist/postgres/contract_gallery.go
Labels: none

Initial Prohibition community support
  db/gen/coredb/community.sql.go
  db/gen/coredb/models_gen.go
  db/migrations/core/000107_communities.up.sql
  db/queries/core/community.sql
  service/multichain/multichain.go
  service/multichain/prohibition.go
  service/persist/community.go
  service/persist/postgres/community.go
  service/persist/postgres/postgres.go
  sqlc.yaml
  util/helpers.go
Labels: migration, query

communityByKey GraphQL query
  db/gen/coredb/community.sql.go
  db/queries/core/community.sql
  gqlgen.yml
  graphql/dataloader/communityloaderbykey_gen.go
  graphql/dataloader/dataloaders.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/communty.go
  publicapi/publicapi.go
  service/multichain/multichain.go
  service/multichain/prohibition.go
  service/persist/community.go
Labels: query, dataloader, schema

Update tokenmanage to use token identifiers
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/stub_test.go
  publicapi/feed.go
  publicapi/token.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: none
