Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

typo
  graphql/schema/schema.graphql
Labels: schema

truncate long names
  service/notifications/notifications.go
Labels: none

remove unused comment queries
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

fix reply to and count replies
  graphql/dataloader/dataloaders.go
  graphql/model/models.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: dataloader

migration for updating comment indicies
  db/migrations/core/000106_comments_deletable.up.sql
Labels: migration

base
  service/eth/eth.go
Labels: none

added resolver
  graphql/resolver/schema.resolvers.go
Labels: none

also needed
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.go
Labels: none

some req changes
  db/migrations/core/00119-admire-nft.up.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/admire.go
  service/persist/postgres/admire.go
Labels: migration, schema

minor
  service/persist/admire.go
Labels: none

refresh contract with alchemy metadata
  indexer/contracts.go
  service/multichain/alchemy/alchemy.go
Labels: none

rename
  db/migrations/core/000105_admire_token.up.sql
  service/persist/admire.go
Labels: migration

migration fix
  db/migrations/core/000105_admire_token.up.sql
Labels: migration

refresh contract with alchemy metadata (#1163)
  indexer/contracts.go
  service/multichain/alchemy/alchemy.go
Labels: none

lint
  graphql/schema/schema.graphql
Labels: schema

cleanup
  graphql/graphql_test.go
  publicapi/interaction.go
  service/persist/postgres/admire.go
Labels: none

cleanup
  service/persist/postgres/admire.go
Labels: none

nil reference panic
  indexer/contracts.go
Labels: none

Refactor cursors
  publicapi/collection.go
  publicapi/feed.go
  publicapi/interaction.go
  publicapi/pagination.go
  publicapi/pagination_test.go
  publicapi/publicapi.go
  publicapi/user.go
Labels: none

Refactor test
  publicapi/pagination.go
  publicapi/pagination_test.go
Labels: none

fetch on refresh, don't use unidentified contract names
  service/multichain/multichain.go
Labels: none

fetch on refresh, don't use unidentified contract names (#1164)
  service/multichain/multichain.go
Labels: none

removed comments
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000106_comments_deletable.up.sql
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.helpers.go
  service/persist/postgres/comment.go
Labels: migration, query

wrong join var
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
Labels: query

deleted comments and paginated replies (#1161)
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000106_comments_deletable.up.sql
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/repliesloader_gen.go
  graphql/generated/generated.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/persist/postgres/comment.go
Labels: migration, query, dataloader, schema

optimsitic and new comment/admire push notifications (#1159)
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

Check correct variable to get post caption
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/contract.go
Labels: none

Add exclude events to view
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
Labels: query

Check correct variable to get post caption (#1166)
  graphql/resolver/schema.resolvers.helpers.go
  publicapi/contract.go
Labels: none

Add exclude events to view (#1167)
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
Labels: query

coalesce contract fields
  db/gen/coredb/contract_gallery.sql.go
  db/queries/core/contract_gallery.sql
  service/multichain/multichain.go
  service/persist/postgres/contract_gallery.go
Labels: query

coalesce fields and fetch all
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/eth/eth.go
  service/multichain/fallback.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
Labels: none

remove warn
  service/multichain/opensea/opensea.go
Labels: none

check more queries
  db/gen/coredb/gallery.sql.go
  db/queries/core/gallery.sql
  service/persist/postgres/contract_gallery.go
Labels: query

coalesce thumbnail for image medias (#1153)
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/query.sql.go
  db/queries/core/gallery.sql
  db/queries/core/query.sql
  service/persist/postgres/contract_gallery.go
Labels: query

remove unused community owner provider funcs
  service/multichain/poap/poap.go
  service/multichain/tezos/tezos.go
Labels: none

coalesce contracts (#1168)
  db/gen/coredb/contract_gallery.sql.go
  db/queries/core/contract_gallery.sql
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/eth/eth.go
  service/multichain/fallback.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/tezos/tezos.go
  service/persist/postgres/contract_gallery.go
Labels: query

mention data
  db/gen/coredb/batch.go
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000106_comments_deletable.up.sql
  db/queries/core/query.sql
  emails/t__utils_test.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/interaction.go
  service/persist/comment.go
  service/persist/persist.go
  service/persist/postgres/comment.go
  sqlc.yaml
Labels: migration, query, schema

mention entity
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
Labels: schema

dummy commit
  graphql/resolver/schema.resolvers.helpers.go
Labels: none
