Repository gallery-so/go-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: migration, query, dataloader, schema

.github/labeler.yml:

migration:
  - db/migrations/**

query:
  - db/queries/**

dataloader:
  - graphql/dataloader/**

schema:
  - graphql/schema/**

Add fast path for erc1155s (#1486)
  service/multichain/simplehash/simplehash.go
Labels: none

Turn off indexer-api deploys
  .github/workflows/deployer.yml
Labels: none

Turn off indexer-api deploys (#1487)
  .github/workflows/deployer.yml
Labels: none

Add missing instance var
  secrets/prod/makevars.yaml
Labels: none

Add missing instance var (#1489)
  secrets/prod/makevars.yaml
Labels: none

Remove membership code
  publicapi/publicapi.go
  publicapi/user.go
  service/membership/alchemy.go
  service/membership/membership.go
Labels: none

Remove membership code (#1490)
  publicapi/publicapi.go
  publicapi/user.go
  service/membership/alchemy.go
  service/membership/membership.go
Labels: none

Add migration makefile target for mirror-db
  Makefile
  cmd/migrate/main.go
  docker/cloud_sql_proxy/docker-compose.yml
Labels: none

Initial Kafka streaming implementation for Ethereum ownership table
  db/gen/mirrordb/db_gen.go
  db/gen/mirrordb/models_gen.go
  db/gen/mirrordb/query.sql.go
  db/migrations/mirror/000001_permissions.up.sql
  db/migrations/mirror/000002_ownership.up.sql
  db/migrations/mirror/000003_ownership_extra_fields.up.sql
  db/queries/mirror/query.sql
  go.mod
  go.sum
  kafka-streamer/main.go
  kafka-streamer/schema/base/base.nft.v4-value_gen.go
  kafka-streamer/schema/base/base.owner.v4-value_gen.go
  kafka-streamer/schema/ethereum/ethereum.nft.v4-value_gen.go
  kafka-streamer/schema/ethereum/ethereum.owner.v4-value_gen.go
  kafka-streamer/schema/zora/zora.nft.v4-value_gen.go
  kafka-streamer/schema/zora/zora.owner.v4-value_gen.go
  secrets/local/local/app-local-kafka-streamer.yaml
  secrets/prod/kafka-streamer-env.yaml
  secrets/prod/makevars.yaml
  sqlc.yaml
Labels: migration, query

Make it deployable
  .github/workflows/deployer.yml
  Makefile
  docker/kafka-streamer/Dockerfile
  kafka-streamer/main.go
  secrets/prod/makevars.yaml
Labels: none

Stream Kafka events into a local blockchain mirror DB (#1491)
  .github/workflows/deployer.yml
  Makefile
  cmd/migrate/main.go
  db/gen/mirrordb/db_gen.go
  db/gen/mirrordb/models_gen.go
  db/gen/mirrordb/query.sql.go
  db/migrations/mirror/000001_permissions.up.sql
  db/migrations/mirror/000002_ownership.up.sql
  db/migrations/mirror/000003_ownership_extra_fields.up.sql
  db/queries/mirror/query.sql
  docker/cloud_sql_proxy/docker-compose.yml
  docker/kafka-streamer/Dockerfile
  go.mod
  go.sum
  kafka-streamer/main.go
  kafka-streamer/schema/base/base.nft.v4-value_gen.go
  kafka-streamer/schema/base/base.owner.v4-value_gen.go
  kafka-streamer/schema/ethereum/ethereum.nft.v4-value_gen.go
  kafka-streamer/schema/ethereum/ethereum.owner.v4-value_gen.go
  kafka-streamer/schema/zora/zora.nft.v4-value_gen.go
  kafka-streamer/schema/zora/zora.owner.v4-value_gen.go
  secrets/local/local/app-local-kafka-streamer.yaml
  secrets/prod/kafka-streamer-env.yaml
  secrets/prod/makevars.yaml
  sqlc.yaml
Labels: migration, query

Add docker ignore
  .dockerignore
Labels: none

Update makevars
  secrets/prod/makevars.yaml
Labels: none

Check sample length
  service/multichain/simplehash/simplehash.go
Labels: none

Check sample length (#1492)
  service/multichain/simplehash/simplehash.go
Labels: none

Perhaps this will work?
  docker/kafka-streamer/Dockerfile
Labels: none

Switch back to port 3000
  docker/kafka-streamer/Dockerfile
Labels: none

Start the actual router
  kafka-streamer/main.go
Labels: none

Add indexes to ethereum.owners table
  db/migrations/mirror/000004_ownership_index.up.sql
Labels: migration

Record # messages processed per hour
  kafka-streamer/main.go
Labels: none

Minor Kafka tweaks (#1493)
  db/migrations/mirror/000004_ownership_index.up.sql
  kafka-streamer/main.go
Labels: migration

Initial implementation of batching to reduce database RTT overhead
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/db_gen.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: query

Initial implementation of batching to reduce database RTT overhead (#1494)
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/db_gen.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: query

Use simplehash for tezos
  graphql/graphql_test.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/simplehash/simplehash.go
  service/persist/postgres/user.go
  service/tracing/http.go
  tokenprocessing/tokenprocessing.go
Labels: none

Use simplehash for tezos (#1495)
  graphql/graphql_test.go
  server/inject.go
  server/wire_gen.go
  service/multichain/config.go
  service/multichain/multichain.go
  service/multichain/simplehash/simplehash.go
  service/persist/postgres/user.go
  service/tracing/http.go
  tokenprocessing/tokenprocessing.go
Labels: none

Add more logging
  cmd/userpref/main.go
  secrets/dev/local/app-dev-userpref-upload.yaml
Labels: none

Increase userpref job memory
  Makefile
  cmd/userpref/main.go
  secrets/prod/userpref-upload.yaml
Labels: none

Set batch size to 250
  kafka-streamer/main.go
Labels: none

Fix userpref upload job (#1496)
  Makefile
  cmd/userpref/main.go
  secrets/dev/local/app-dev-userpref-upload.yaml
  secrets/prod/userpref-upload.yaml
Labels: none

Log rebalancing errors
  kafka-streamer/main.go
Labels: none

Log more message stats
  kafka-streamer/main.go
Labels: none

Make streaming more resilient to errors, and add Base + Zora
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/gen/mirrordb/query.sql.go
  db/migrations/mirror/000005_base_zora_ownership.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Make streaming more resilient to errors, and add Base + Zora (#1497)
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/gen/mirrordb/query.sql.go
  db/migrations/mirror/000005_base_zora_ownership.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query

Correctly handle missing media in digest
  emails/digest.go
Labels: none

Correctly handle missing media in digest (#1498)
  emails/digest.go
Labels: none

Fix incorrect variable reference when checking errors
  kafka-streamer/main.go
Labels: none

Fix incorrect variable reference when checking errors (#1499)
  kafka-streamer/main.go
Labels: none

Don't immediately close the pgx pool
  kafka-streamer/main.go
Labels: none

Parallel process each topic across 2 consumers
  kafka-streamer/main.go
Labels: none

Fix encoding issue with pgtype.Numeric
  kafka-streamer/main.go
Labels: none
