Repository gallery-so/go-gallery, pull requests merged in 2021-07, with the labels that each got.

#59 Benny/opensea sync
  persist/mongo.go
  persist/nft.go
  server/opensea.go
Labels: db, feature, v1

#63 validators for binding query or json
  persist/collection.go
  persist/gallery.go
  persist/nft.go
  persist/user.go
  server/auth.go
  server/nft.go
  server/user.go
  server/validate.go
Labels: feature, v1

#66 Benny/omit empties
  persist/collection.go
  persist/gallery.go
  persist/mongo.go
  persist/nft.go
  persist/t__nft_test.go
  persist/user.go
Labels: db, feature, v1

#68 update endpoint and persist update
  persist/collection.go
  persist/nft.go
  server/collection.go
  server/handler.go
Labels: feature, v1

#67 delete collection persist func
  persist/collection.go
  server/collection.go
Labels: feature, v1

#69 separate handlers for hidden/name/nfts
  persist/collection.go
  persist/t__unassigned_test.go
  server/auth.go
  server/collection.go
  server/handler.go
  server/middleware.go
  server/nft.go
  server/user.go
Labels: feature, v1

#70 users and collections scenarios
  persist/collection.go
  server/collection.go
  server/user.go
Labels: feature, v1

#72 user id for nft update
  persist/nft.go
  persist/t__nft_test.go
  server/nft.go
Labels: feature, v1

#73 authentication adjustments and additions
  persist/auth.go
  persist/collection.go
  persist/gallery.go
  persist/nft.go
  persist/t__persist_test.go
  persist/user.go
  server/auth.go
  server/handler.go
  server/jwt.go
  server/middleware.go
  server/t__auth_jwt_test.go
  server/t__auth_user_test.go
  server/user.go
Labels: feature, v1

#82 fix create user
  server/auth.go
  server/t__auth_user_test.go
  server/user.go
Labels: v1

#81 sync test and fixes
  persist/nft.go
  server/nft.go
  server/opensea.go
  server/t__opensea_test.go
Labels: v1

#71 Update nft by id test
  copy/errorMessages.go
  go.mod
  go.sum
  persist/mongo.go
  persist/nft.go
  runtime/runtime.go
  server/collection.go
  server/middleware.go
  server/nft.go
  server/t__auth_user_test.go
  server/t__main_test.go
  server/t__opensea_test.go
  server/t__routes_health_test.go
  server/t__routes_nft_test.go
  server/t__test_utils_test.go
Labels: feature, v1
