Repository gallery-so/go-gallery, pull requests merged in 2023-10, with the labels that each got.

#1212 Add count to user feed
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  go.mod
  go.sum
  publicapi/feed.go
  publicapi/user.go
Labels: query

#1213 Include viewer in feed
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  graphql/resolver/schema.resolvers.go
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: query

#1195 manually add lens and farcaster accounts
  cmd/farcaster_backfill/connections/main.go
  cmd/farcaster_backfill/initial/main.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/publicapi.go
  publicapi/socials.go
  server/handler.go
  server/server.go
  service/farcaster/neynar.go
  service/socialauth/socialauth.go
Labels: schema

#1204 Autosocial Service
  .dockerignore
  .github/workflows/deployer.yml
  Makefile
  autosocial/autosocial.go
  autosocial/handler.go
  autosocial/orchestrator/handler.go
  autosocial/orchestrator/orchestrator.go
  cmd/autosocial/main.go
  cmd/autosocial/orchestrator/main.go
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  docker/autosocial/Dockerfile
  docker/autosocial/orchestrator/Dockerfile
  go.mod
  go.sum
  graphql/fixture_test.go
  graphql/graphql_test.go
  publicapi/user.go
  secrets/dev/autosocial-env.yaml
  secrets/dev/backend-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/makevars.yaml
  secrets/local/local/app-local-autosocial.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/autosocial-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/makevars.yaml
  server/server.go
  service/task/cloudtask.go
Labels: query

#1177 Benny/incremental sync
  autosocial/handler.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  graphql/stub_test.go
  graphql/testdata/operations.graphql
  publicapi/token.go
  secrets/local/local/app-local-backend.yaml
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/fallback.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/reservoir/reservoir.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/t__get_tokens_test.go
  service/multichain/tezos/tezos.go
  service/multichain/zora/zora.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract_gallery.go
  service/persist/token_gallery.go
  util/helpers.go
Labels: schema

#1216 enable viewerAdmire on Token
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/admireloaderbyactorandtoken_gen.go
  graphql/dataloader/dataloaders.go
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
Labels: schema, query, dataloader

#1219 l1 chain
  admin/db.go
  admin/user.go
  autosocial/orchestrator/handler.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000111_l1_chain.up.sql
  db/queries/core/query.sql
  docker/postgres/DOCKERFILE
  go.mod
  graphql/dataloader/dataloaders.go
  graphql/dataloader/userloaderbyaddress_gen.go
  graphql/dataloader/walletloaderbychainaddress_gen.go
  graphql/graphql_test.go
  publicapi/merch.go
  publicapi/user.go
  publicapi/wallet.go
  server/inject.go
  server/wire_gen.go
  service/auth/auth.go
  service/membership/membership.go
  service/multichain/multichain.go
  service/multichain/tezos/t__get_tokens_test.go
  service/persist/auth.go
  service/persist/postgres/auth.go
  service/persist/postgres/user.go
  service/persist/postgres/wallet.go
  service/persist/token.go
  service/persist/user.go
  service/persist/wallet.go
  service/socialauth/socialauth.go
  service/user/user.go
  sqlc.yaml
  tokenprocessing/process.go
Labels: migration, query, dataloader

#1229 Experience flag for Posts Announcement Modal
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

#1230 Allow transfered pfps
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
Labels: query

#1227 Contract L1 Chain
  db/gen/coredb/batch.go
  db/gen/coredb/contract_gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/search.sql.go
  db/migrations/core/000112_contract_l1.up.sql
  db/queries/core/contract_gallery.sql
  db/queries/core/query.sql
  service/multichain/multichain.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract_gallery.go
Labels: migration, query

#1225 someone posted your work notification
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  publicapi/feed.go
  service/notifications/notifications.go
  service/persist/event.go
  service/persist/notification.go
Labels: query
