Repository gallery-so/go-gallery, pull requests merged in 2023-09, with the labels that each got.

#1180 Allow opt-in roles
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/auth.go
  publicapi/user.go
  validate/validate.go
Labels: schema

#1182 Add retries to syncs and improve processing state
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/fixture_test.go
  graphql/graphql_test.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/stub_test.go
  publicapi/publicapi.go
  publicapi/token.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/persist/postgres/contract_gallery.go
  service/persist/token_processing_jobs.go
  service/redis/redis.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

#1184 Share to Gallery
  cmd/reprocess/main.go
  db/gen/coredb/batch.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000107_update_token_medias_lookup_idx.up.sql
  db/queries/core/query.sql
  gqlgen.yml
  graphql/dataloader/dataloaders.go
  graphql/dataloader/tokenloaderbyusertokenidentifiers_gen.go
  graphql/generated/generated.go
  graphql/genqlient.yaml
  graphql/graphql_test.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  graphql/stub_test.go
  publicapi/feed.go
  publicapi/publicapi.go
  publicapi/token.go
  server/inject.go
  server/wire_gen.go
  service/multichain/multichain.go
  service/persist/contract.go
  service/persist/contract_gallery.go
  service/persist/postgres/contract.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token.go
  service/persist/postgres/token_gallery.go
  service/persist/token.go
  service/persist/token_gallery.go
  service/persist/token_processing_jobs.go
  service/task/cloudtask.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/pipeline.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
  util/retry/retry.go
Labels: migration, schema, query, dataloader

#1185 Add temporary functionality to filter posts by Prohibition project ID
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/contract.go
Labels: schema, query

#1188 Add mutation for syncing existing creator contracts
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
Labels: schema

#1189 Share to gallery fixes
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
  publicapi/feed.go
Labels: schema

#1187 Add user experience for banner
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/schema/schema.graphql
Labels: schema

#1186 Benny/targeted optimistic sync
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  secrets/dev/tokenprocessing-env.yaml
  secrets/prod/tokenprocessing-env.yaml
  service/notifications/notifications.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

#1192 Benny/tageted optimistic fixes
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/persist/token.go
  tokenprocessing/process.go
Labels: query

#1191 Remove displayable filter on posts
  db/gen/coredb/batch.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/dataloader/dataloaders.helpers.go
  graphql/resolver/schema.resolvers.go
  publicapi/token.go
Labels: query, dataloader

#1181 [GAL-3983] Enable Admire Token pt3
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/event.go
Labels: schema, query

#1198 Add slackbot
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  feedbot/feedbot.go
  feedbot/handler.go
  feedbot/server.go
  publicapi/collection.go
  publicapi/feed.go
  publicapi/gallery.go
  publicapi/interaction.go
  publicapi/token.go
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/feedbot-env.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/feedbot-env.yaml
  server/server.go
  service/persist/event.go
  service/persist/postgres/event.go
  service/task/cloudtask.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
  tokenprocessing/tokenprocessing.go
Labels: query

#1206 Various fix it week fixes
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  event/event.go
  feed/server.go
  graphql/generated/generated.go
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/user.go
  secrets/dev/feedbot-env.yaml
  service/eth/eth.go
  service/task/cloudtask.go
Labels: schema, query

#1207 Add index for contract lookup by chain+address
  db/migrations/core/000108_update_contract_indexes.up.sql
Labels: migration

#1210 Reduce tokenprocessing retries
  graphql/dataloader/dataloaders.helpers.go
  publicapi/feed.go
  publicapi/pagination_test.go
  service/multichain/opensea/opensea.go
  service/persist/postgres/collection.go
  service/tokenmanage/tokenmanage.go
  tokenprocessing/handler.go
  tokenprocessing/process.go
Labels: dataloader

#1211 Fix it week part 3 - Feed refactoring
  db/gen/coredb/query.sql.go
  db/gen/coredb/recommend.sql.go
  db/queries/core/query.sql
  db/queries/core/recommend.sql
  publicapi/feed.go
  publicapi/pagination.go
Labels: query
