Repository gallery-so/go-gallery, pull requests merged in 2023-08, with the labels that each got.

#1123 Curated caching
  db/gen/coredb/models_gen.go
  db/gen/coredb/recommend.sql.go
  db/migrations/core/000101_add_feed_entity_scores.up.sql
  db/migrations/core/000102_add_posts_created_at_idx.up.sql
  db/queries/core/recommend.sql
  publicapi/feed.go
  service/recommend/userpref/personalize.go
  service/store/cloudstorage.go
Labels: migration

#1128 Curated fixes
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: query

#1129 backfill connections
  cmd/farcaster_backfill/connections/main.go
  cmd/farcaster_backfill/initial/main.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000103_external_social_connections.up.sql
  db/queries/core/query.sql
  service/farcaster/neynar.go
Labels: migration, query

#1127 get rid of the token columns that cause inconsistencies
  cmd/reprocess/main.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/migrations/core/000104_unused_token_fields.up.sql
  db/queries/core/token_gallery.sql
  go.mod
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/merch.go
  service/multichain/alchemy/alchemy.go
  service/multichain/infura/infura.go
  service/multichain/multichain.go
  service/multichain/poap/poap.go
  service/multichain/tezos/objkt.go
  service/multichain/tezos/tezos.go
  service/persist/postgres/collection.go
  service/persist/postgres/contract_gallery.go
  service/persist/postgres/token.go
  service/persist/postgres/token_gallery.go
  service/persist/token.go
  service/persist/token_gallery.go
Labels: migration, schema, query

#1141 Curated Feed updates
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
  service/recommend/userpref/personalize.go
Labels: query

#1135 Creator Sync Optimization
  db/gen/coredb/query.sql.go
  db/gen/coredb/token_gallery.sql.go
  db/queries/core/query.sql
  db/queries/core/token_gallery.sql
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/token.go
  service/multichain/multichain.go
  service/persist/postgres/token_gallery.go
  util/helpers.go
Labels: schema, query

#1149 found usage of non-existent media token column
  cmd/refresh/refresh.go
  db/gen/coredb/gallery.sql.go
  db/queries/core/gallery.sql
  sqlc.yaml
Labels: query

#1156 Add includePosts to personal feed
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  graphql/generated/generated.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
Labels: schema, query

#1157 [GAL-4030] Exclude events for curated feed
  db/gen/coredb/recommend.sql.go
  db/queries/core/recommend.sql
  publicapi/feed.go
Labels: query

#1159 optimsitic and new comment/admire push notifications
  db/gen/coredb/query.sql.go
  db/queries/core/query.sql
  service/notifications/notifications.go
Labels: query

#1153 coalesce thumbnail for image medias
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/query.sql.go
  db/queries/core/gallery.sql
  db/queries/core/query.sql
  service/persist/postgres/contract_gallery.go
Labels: query

#1168 coalesce contracts
  db/gen/coredb/contract_gallery.sql.go
  db/queries/core/contract_gallery.sql
  server/inject.go
  server/wire_gen.go
  service/multichain/alchemy/alchemy.go
  service/multichain/eth/eth.go
  service/multichain/fallback.go
  service/multichain/multichain.go
  service/multichain/opensea/opensea.go
  service/multichain/poap/poap.go
  service/multichain/tezos/tezos.go
  service/persist/postgres/contract_gallery.go
Labels: query

#1160 Enable Admire Token pt1
  db/gen/coredb/admire.sql.go
  db/gen/coredb/batch.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000105_admire_token.up.sql
  db/queries/core/admire.sql
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/graphql_test.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
  graphql/testdata/operations.graphql
  publicapi/interaction.go
  service/persist/admire.go
  service/persist/postgres/admire.go
Labels: migration, schema, query

#1170 Benny/mention data new
  db/gen/coredb/batch.go
  db/gen/coredb/gallery.sql.go
  db/gen/coredb/models_gen.go
  db/gen/coredb/query.sql.go
  db/migrations/core/000106_comments_deletable.up.sql
  db/migrations/core/000106_mentions_comments.up.sql
  db/queries/core/query.sql
  emails/t__utils_test.go
  event/event.go
  graphql/dataloader/dataloaders.go
  graphql/dataloader/mentionsloaderbyid_gen.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/model/remapgen_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/feed.go
  publicapi/interaction.go
  service/notifications/notifications.go
  service/persist/comment.go
  service/persist/persist.go
  service/persist/postgres/comment.go
  service/persist/postgres/event.go
  sqlc.yaml
Labels: migration, schema, query, dataloader

#1178 Handle token loading
  db/gen/coredb/batch.go
  db/gen/coredb/gallery.sql.go
  db/queries/core/query.sql
  graphql/dataloader/dataloaders.go
  graphql/resolver/schema.resolvers.go
  publicapi/user.go
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-backend.yaml
  service/multichain/zora/zora.go
  service/rpc/ipfs/ipfs.go
Labels: query, dataloader

#1176 Add email signup
  db/gen/coredb/query.sql.go
  db/migrations/core/000106_primary_wallet_nullable.up.sql
  db/queries/core/query.sql
  docker-compose.yml
  emails/emails.go
  emails/handler.go
  emails/verify.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/emails-server-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/dev/local/app-dev-emails.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/backend-env.yaml
  secrets/prod/emails-server-env.yaml
  server/server.go
  service/auth/auth.go
  service/persist/postgres/user.go
  service/persist/user.go
  service/task/cloudtask.go
  service/user/user.go
Labels: migration, schema, query
