Repository gallery-so/go-gallery, pull requests merged in 2023-11, with the labels that each got.

#1242 zora prefixed token ID, notif type, creator token l1 lookup
  graphql/generated/generated.go
  graphql/model/gqlidgen_gen.go
  graphql/model/models.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  service/multichain/multichain.go
  service/multichain/zora/zora.go
  service/persist/wallet.go
Labels: schema

#1237 write auth for farcaster and lens
  autosocial/autosocial.go
  autosocial/handler.go
  docker-compose.yml
  go.mod
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/publicapi.go
  publicapi/socials.go
  publicapi/user.go
  secrets/dev/autosocial-env.yaml
  secrets/dev/backend-env.yaml
  secrets/dev/backend-sandbox-env.yaml
  secrets/dev/local/app-dev-backend.yaml
  secrets/local/local/app-local-autosocial.yaml
  secrets/local/local/app-local-backend.yaml
  secrets/prod/autosocial-env.yaml
  secrets/prod/backend-env.yaml
  server/server.go
  service/farcaster/neynar.go
  service/lens/lens.go
  service/socialauth/socialauth.go
  service/task/cloudtask.go
Labels: schema

#1241 Make go vet happy
  cmd/dataloaders/generator/template.go
  graphql/dataloader/dataloaders_gen.go
Labels: dataloader

#1240 Add missing line to contract_creators view
  db/migrations/core/000123_contract_creators_fix.up.sql
Labels: migration

#1257 Re-add missing contract creators error
  graphql/dataloader/notfound.go
  graphql/resolver/schema.resolvers.go
  service/persist/token_gallery.go
Labels: dataloader

#1252 Creator experience flags
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

#1293 Add contract mint link
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
Labels: schema
