Repository gallery-so/go-gallery, pull requests merged in 2024-04, with the labels that each got.

#1468 Add a NeynarAuthenticator that can verify a separate address via custody
  autosocial/handler.go
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/auth.go
  publicapi/publicapi.go
  service/auth/auth.go
  service/farcaster/neynar.go
Labels: schema

#1473 Add optional authenticator when updating an email address
  graphql/generated/generated.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/resolver/schema.resolvers.helpers.go
  graphql/schema/schema.graphql
  publicapi/user.go
Labels: schema

#1479 Add experience type for mchx radiance mint
  graphql/generated/generated.go
  graphql/generated_test.go
  graphql/model/models_gen.go
  graphql/resolver/schema.resolvers.go
  graphql/schema/schema.graphql
Labels: schema

#1491 Stream Kafka events into a local blockchain mirror DB
  .github/workflows/deployer.yml
  Makefile
  cmd/migrate/main.go
  db/gen/mirrordb/db_gen.go
  db/gen/mirrordb/models_gen.go
  db/gen/mirrordb/query.sql.go
  db/migrations/mirror/000001_permissions.up.sql
  db/migrations/mirror/000002_ownership.up.sql
  db/migrations/mirror/000003_ownership_extra_fields.up.sql
  db/queries/mirror/query.sql
  docker/cloud_sql_proxy/docker-compose.yml
  docker/kafka-streamer/Dockerfile
  go.mod
  go.sum
  kafka-streamer/main.go
  kafka-streamer/schema/base/base.nft.v4-value_gen.go
  kafka-streamer/schema/base/base.owner.v4-value_gen.go
  kafka-streamer/schema/ethereum/ethereum.nft.v4-value_gen.go
  kafka-streamer/schema/ethereum/ethereum.owner.v4-value_gen.go
  kafka-streamer/schema/zora/zora.nft.v4-value_gen.go
  kafka-streamer/schema/zora/zora.owner.v4-value_gen.go
  secrets/local/local/app-local-kafka-streamer.yaml
  secrets/prod/kafka-streamer-env.yaml
  secrets/prod/makevars.yaml
  sqlc.yaml
Labels: migration, query

#1493 Minor Kafka tweaks
  db/migrations/mirror/000004_ownership_index.up.sql
  kafka-streamer/main.go
Labels: migration

#1494 Use pgx batching to reduce database RTT overhead
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/db_gen.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: query

#1504 Fix errors during Kafka token event processing
  db/gen/mirrordb/batch.go
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: query

#1507 Process token events for Base and Zora
  db/gen/mirrordb/batch.go
  db/gen/mirrordb/models_gen.go
  db/migrations/mirror/000007_base_zora_tokens.up.sql
  db/queries/mirror/query.sql
  kafka-streamer/main.go
Labels: migration, query
